Repository ss220-space/Paradise, pull requests merged in 2021-07, with the labels that each got.

#39 Доработка инвентаря SeedExtractor и итерфейс на TGUI
  code/modules/hydroponics/seed_extractor.dm
  tgui/packages/tgui/interfaces/SeedExtractor.js
  tgui/packages/tgui/styles/interfaces/SeedExtractor.scss
  tgui/packages/tgui/styles/main.scss
Labels: TGUI, enhancement

#64 Обновление вирусологии
  code/datums/diseases/advance/symptoms/blood.dm
  code/datums/diseases/advance/symptoms/booze.dm
  code/datums/diseases/advance/symptoms/epinephrine.dm
  code/datums/diseases/advance/symptoms/painkiller.dm
  paradise.dme
Labels: enhancement

#83 Suragi Jackets - новые куртки
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI, enhancement

#84 Зажигалки для командного состава
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/objects/items/weapons/lighters.dm
  icons/obj/items.dmi
Labels: DMI

#70 Ash form
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#86 новый спрайт големов
  icons/mob/human_races/r_golem.dmi
Labels: DMI

#90 Feat: allow to wrench\unwrench supermatter, it destroys your tool
  code/modules/power/supermatter/supermatter.dm
Labels: enhancement

#101 Загрузка disk compartmentalizer через коробку
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: enhancement

#105 Отпечатки + провода
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Labels: enhancement

#115 Optimize atmospherics decay with planetary atmos
  code/LINDA/LINDA_turf_tile.dm
Labels: enhancement

#69 HulkFromTauCeti
  code/_onclick/other_mobs.dm
  code/game/atoms.dm
  code/game/dna/genes/powers.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_defense.dm
  code/modules/mob/living/carbon/alien/larva/larva_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hulk.dm
  code/modules/mob/living/simple_animal/hulk_power.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  icons/mob/actions/actions.dmi
  icons/mob/hulk.dmi
  icons/mob/zilla.dmi
  paradise.dme
  sound/effects/hulk_hit_airlock.ogg
  sound/effects/hulk_step.ogg
Labels: DMI
