Repository ss220-space/Paradise, pull requests merged in 2022-11, with the labels that each got.

#1529 FIX: added lightswitch (IFA/Decetive/Delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1521 FIX: Добавлено мясо служебных собак
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/dog_sec.dm
  code/modules/mob/transform_procs.dm
Labels: MAP

#1534 FIX: диваны нормально отображаются
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  icons/obj/chairs.dmi
Labels: MAP, DMI

#1545 Vending fix panel
  icons/obj/vending.dmi
Labels: DMI

#1551 tweak: бафф модулей пода и добаление нового в шкафчик
  _maps/map_files/Delta/delta.dmm
  code/modules/spacepods/equipment.dm
Labels: MAP

#1559 FEAT: Добавление клоунской службы безопасности для щитспавна
  code/datums/outfits/outfit_security_clown.dm
  code/modules/admin/verbs/honksquad.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/hud.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/species/plasmaman/helmet.dmi
  icons/mob/species/plasmaman/uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/card.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/uniform.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/guns/energy.dmi
  icons/obj/pda.dmi
  paradise.dme
Labels: DMI

#1561 Fix: Necropolis loot speedrun
  _maps/map_files/Delta/Lavaland.dmm
  code/game/area/areas/mining.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/mining/shelters.dm
Labels: MAP

#1567 fix: Добавление гейту moonoutpost19 своих зон
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#1573 fix: убирание ненужного layer у стен на синди ЦК
  _maps/map_files/cyberiad/z2.dmm
Labels: MAP

#1566 add: Добавление чертежей для теты
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/objects/items/blueprints.dm
Labels: MAP

#1557 fix/feat: Clockwork Balance. Cogscarab nerf, Beacon fix and e.t.c.
  code/__DEFINES/clockwork.dm
  code/datums/wires/robot.dm
  code/game/gamemodes/clockwork/clock_magic.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/clockwork/clockwork_mob.dm
  code/game/gamemodes/clockwork/clockwork_objectives.dm
  code/game/gamemodes/clockwork/clockwork_structures.dm
  code/game/gamemodes/clockwork/clockwork_workshop.dm
  code/game/gamemodes/clockwork/cogscarab.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/clockwork.dmi
  sound/weapons/clash.ogg
Labels: DMI

#1571 Feat: add medkit for abductors
  _maps/map_files/cyberiad/z2.dmm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/abduction/machinery/console.dm
  code/modules/reagents/reagent_containers/applicator.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/abductor.dmi
Labels: MAP, DMI

#1579 [TEST MERGE] Delta RnD remap+fix
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#1581 Feat: Borg Panel!
  code/__DEFINES/mobs.dm
  code/datums/mind.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/projectiles/projectile/magic.dm
  icons/mob/robots.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/BorgPanel.js
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#1503 Add: CI additional checks, Delta escape and shuttle
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/game/area/ss13_areas.dm
  code/game/gamemodes/scoreboard.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/shuttle_engines.dm
  code/modules/events/money_spam.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  icons/turf/floors.dmi
  tools/ci/check_grep.sh
Labels: MAP, DMI

#1594 Port: U.S.S.P/Soviets with a new look and new equipment for admin eve…
  code/__DEFINES/radio.dm
  code/controllers/subsystem/radio.dm
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/access.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/reagents/reagent_containers/pill.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  icons/mob/head.dmi
  icons/mob/hud.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/simple_human.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/guns/bayonets.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/radio.dmi
  icons/obj/storage.dmi
  tgui/packages/tgui/constants.js
Labels: DMI, TGUI, javascript

#1612 Fix: Return spirit board on Delta
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1616 Fix: bunch of fixes for shuttle
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1624 Fix: Shuttle fixes 2
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1617 Feat: change vox raiders starting equipment
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/modules/admin/verbs/vox_raiders.dm
Labels: MAP

#1622 Feat: Better PDA
  tgui/packages/tgui/interfaces/PDA.js
  tgui/packages/tgui/interfaces/pda/pda_messenger.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/PDA.scss
Labels: TGUI, javascript

#1623 Feat: Destination Tagger TGUI interface
  code/modules/recycling/sortingmachinery.dm
  tgui/packages/tgui/interfaces/DestinationTagger.js
Labels: TGUI, javascript

#1621 QoL: more descriptive Air Alarm interface and valves
  code/ATMOSPHERICS/components/binary_devices/valve.dm
  code/ATMOSPHERICS/components/trinary_devices/tvalve.dm
  code/game/machinery/alarm.dm
  tgui/packages/tgui/components/ProgressBar.js
  tgui/packages/tgui/interfaces/AirAlarm.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, javascript

#1627 Fix: Necropolis update, security checks, replace unsimulated walls
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/game/objects/items/weapons/RCD.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/mining/shelters.dm
Labels: MAP

#1610 FEAT: Delta RnD maintrance remap
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#1631 Tweak: Rename Axis into more comprehensible variant
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas.dm
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
Labels: MAP

#1632 fix/refactor: Borg Panel Patch. Selfrepair, scanner fix.
  code/datums/action.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  tgui/packages/tgui/interfaces/BorgPanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#1651 Fix: Bridge lockdown and area (Delta/Kerberos)
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
  icons/turf/areas.dmi
Labels: MAP, DMI

#1635 Ниндзя. Баги и отражение снарядов для боевого искусства
  code/game/gamemodes/objective.dm
  code/game/gamemodes/spaceninja/ninja/creeping_widow/creeping_widow_martial_art.dm
  code/game/gamemodes/spaceninja/ninja/drain_act/robot.dm
  code/game/gamemodes/spaceninja/ninja/machinery/ninja_cloning.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_chameleon.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_energy_stars.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_johyo.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_net.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit_attackby.dm
  code/game/gamemodes/spaceninja/space_ninja.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, javascript

#1658 Fix: BFL crack zone
  _maps/map_files/RandomRuins/LavaRuins/lavaland_BFL_crack.dmm
Labels: MAP

#1659 Fix: RnD maints
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1664 Fix: CI database connection
  tools/ci/dbconfig.txt
  tools/ci/generate_sql_scripts.py
Labels: python
