Repository ss220-space/Paradise, pull requests merged in 2022-12, with the labels that each got.

#1667 Fix: Lavaland ruins improvement
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_bfl_crack.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_blooddrunk1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_blooddrunk2.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_blooddrunk3.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_fountain_hall.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pride.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_puzzle.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_random_ripley.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
  code/datums/ruins/lavaland.dm
Labels: MAP

#1643 Иконка у паука при таскании by Эль Плуут
  code/_onclick/hud/other_mobs.dm
  icons/mob/screen_spider.dmi
Labels: DMI

#1680 Быстрые фиксы проблем карт
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1687 Фиксы карт. Опять.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#1688 Fix: Cargo conveyor
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1685 fix: change fur cape slot
  _maps/map_files/generic/CentComm.dmm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/mob/living/simple_animal/tribbles.dm
  icons/mob/neck.dmi
  icons/mob/species/monkey/neck.dmi
  icons/mob/species/monkey/suit.dmi
  icons/mob/suit.dmi
Labels: MAP, DMI

#1682 QoL: TGUI prewrap attribute
  tgui/packages/tgui/components/Box.js
  tgui/packages/tgui/components/LabeledList.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#1707 Fix: Brass wall gear exploit, brassmaker all-use, no sync for ratvar MMI
  code/game/gamemodes/clockwork/clockwork_misc.dm
  code/game/gamemodes/clockwork/clockwork_mob.dm
  code/game/gamemodes/clockwork/cogscarab.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/structures/window.dm
  icons/obj/smooth_structures/clockwork_window.dmi
Labels: DMI

#1725 Фиксы для ниндзя, небольшая балансировка и решение проблем с "Хамелеоном"
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/datums/helper_datums/icon_snapshot.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/spaceninja/ninja/components/ninja_chameleon_helper.dm
  code/game/gamemodes/spaceninja/ninja/drain_act/rnd_server.dm
  code/game/gamemodes/spaceninja/ninja/drain_act/robot.dm
  code/game/gamemodes/spaceninja/ninja/suit/id_card.dm
  code/game/gamemodes/spaceninja/ninja/suit/mask.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_chameleon.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_glasses_toggle.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_johyo.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit_SpiderOS.dm
  code/game/gamemodes/spaceninja/space_ninja.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/update_icons.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  icons/mob/inhands/antag/ninja_lefthand.dmi
  icons/mob/inhands/antag/ninja_righthand.dmi
  icons/obj/ninjaobjects.dmi
  paradise.dme
Labels: DMI

#1653 Крысы на службе синдиката?
  code/modules/mob/living/simple_animal/hostile/rat_syndi.dm
  icons/mob/syndirat.dmi
  paradise.dme
Labels: DMI

#1692 ref: ashtray fixes and sheet recipe sorting
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  _maps/map_files/shuttles/admin_admin.dmm
  code/game/objects/items/ashtray.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/cigs.dm
Labels: MAP

#1749 Ниндзя: Откат отката и правки проблем прошлого кода
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/datums/helper_datums/icon_snapshot.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/spaceninja/ninja/components/ninja_chameleon_helper.dm
  code/game/gamemodes/spaceninja/ninja/drain_act/rnd_server.dm
  code/game/gamemodes/spaceninja/ninja/drain_act/robot.dm
  code/game/gamemodes/spaceninja/ninja/suit/id_card.dm
  code/game/gamemodes/spaceninja/ninja/suit/mask.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_chameleon.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_glasses_toggle.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_johyo.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit_SpiderOS.dm
  code/game/gamemodes/spaceninja/space_ninja.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  icons/mob/inhands/antag/ninja_lefthand.dmi
  icons/mob/inhands/antag/ninja_righthand.dmi
  icons/obj/ninjaobjects.dmi
  paradise.dme
Labels: DMI

#1748 Changed shy_s hairstyle in human_hair.dmi file
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: DMI

#1747 Fix: add dead adult slime icons
  icons/mob/slimes.dmi
Labels: DMI

#1743 Make Korobka Great Again | Part 6
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1751 Фиксы ЦК и Гейта Wildwest
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/generic/CentComm.dmm
  code/game/turfs/simulated/shuttle.dm
  icons/turf/walls/fake_plastitanium_glass.dmi
Labels: MAP, DMI

#1740 Electrochromic window in CE office
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1771 fix: disable tracking on syndie-gps
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#1753 feat: add cobat gloves to security
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1745 Transporter and pixel shifting for regular players
  code/game/objects/items/devices/transporter.dm
  code/modules/mob/living/living.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/device.dmi
  paradise.dme
Labels: DMI

#1732 add: some clothes
  code/game/jobs/job/syndicate.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/neck/cloaks.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/wiz_robe.dm
  icons/mob/head.dmi
  icons/mob/neck.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#1774 Fix: Ripley ruin
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_random_ripley.dmm
Labels: MAP

#1791 Правки прав доступа меда
  _maps/map_files/Delta/delta.dmm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/support.dm
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: MAP

#1786 Fix: Correct some welding sprites in hands
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#1780 Feat: add backpacks for vox raiders. Sprite by Элл Гууд
  code/modules/admin/verbs/vox_raiders.dm
  code/modules/clothing/spacesuits/alien.dm
  icons/mob/back.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/vox/back.dmi
  icons/obj/storage.dmi
Labels: DMI

#1798 Правки карты в тех тоннелях
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1809 FEAT: Cucumbers, stage 1
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/hydroponics/grown/cucumber.dm
  icons/obj/food/food.dmi
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  paradise.dme
Labels: DMI
