Repository ss220-space/Paradise, pull requests merged in 2022-10, with the labels that each got.

#1382 Hotfix: Medbay Maintenance Upgrade (Delta/Kerberos)
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#1397 feat: mime's stamp
  _maps/map_files/Delta/delta.dmm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/paper_icons/large_stamp-mime.png
Labels: MAP, DMI

#1339 feat: tgui multitool menu
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/binary_devices/valve.dm
  code/ATMOSPHERICS/components/unary_devices/outlet_injector.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/datums/multitool_menu.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/buttons.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/machinery.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/objs.dm
  code/modules/power/singularity/emitter.dm
  paradise.dme
  tgui/packages/tgui/interfaces/Multitool.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, javascript

#1276 Feat: Разум для обезьян
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/anxiety.dm
  code/datums/diseases/beesease.dm
  code/datums/diseases/cold.dm
  code/datums/diseases/fake_gbs.dm
  code/datums/diseases/flu.dm
  code/datums/diseases/lycancoughy.dm
  code/datums/diseases/transformation.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/modules/admin/topic.dm
  code/modules/clothing/clothing.dm
  code/modules/events/sentience.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/station_goals/dna_vault.dm
  icons/mob/species/monkey/OnFire.dmi
  icons/mob/species/monkey/genetics.dmi
  paradise.dme
Labels: MAP, DMI

#1158 feat(economy): add security device for paying fine, new emag action and some fixes for EFTPOS
  code/game/jobs/job/support.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/economy/EFTPOS.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/device.dmi
Labels: Merge Conflict, DMI

#1398 Fix by HST 01.10.2022
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1391 QoL: Cyberiad standardization
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1405 Feat: add chief engineer winter coat (sprite by Элл Гууд)
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#1414 Fix: Distribution and Waste Monitor
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1436 Feat: Replace simple wall's by reinforced in Virology (Medbay/Delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1437 Fix: Replace glass doors in North Checkpoint's (North Command Checkpoint/Improper Security Checkpoint/Delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1376 New pistol sprite
  icons/obj/guns/projectile.dmi
  icons/obj/guns/toy.dmi
Labels: DMI

#1415 feat: Change EPSILON & DELTA color on fire alarms
  code/modules/security_levels/security_levels.dm
  icons/obj/monitors.dmi
Labels: DMI

#1430 Fix(head.dmi): Возвращена иконка шлема хардсьюта РД
  icons/mob/head.dmi
Labels: DMI

#1443 Добавление спрайтов в руках для всех пда.
  code/game/machinery/guestpass.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/pda/PDA.dm
  code/modules/pda/pdas.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/wallets.dmi
Labels: DMI

#1445 Добавление нейтральной стойки для крав маг.
  code/modules/martial_arts/combos/krav_maga/leg_sweep.dm
  code/modules/martial_arts/combos/krav_maga/lung_punch.dm
  code/modules/martial_arts/combos/krav_maga/neck_chop.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/martial_arts/martial.dm
  icons/mob/actions/actions.dmi
Labels: DMI

#1416 Add: Expansion of the Lavaland necropolis
  _maps/map_files/Delta/Lavaland.dmm
  code/game/objects/structures/tendril.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  icons/obj/tendril.dmi
  icons/turf/boss_floors.dmi
  icons/turf/floors/boss_floors.dmi
  paradise.dme
Labels: MAP, DMI

#1441 Feat: add winter coats for all heads (also added in loadout) (sprite by Элл Гууд)
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Merge Conflict, DMI

#1446 Fix: Medbay Maintenance Upgrade (Delta/Kerberos)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#1447 Добавление новых магбутсов.
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/shoes/magboots.dm
  icons/mob/feet.dmi
  icons/mob/species/vox/shoes.dmi
  icons/obj/clothing/shoes.dmi
Labels: MAP, DMI

#1365 Fix/Ref: Retaliate, fish and undead mobs files. Correct health on maps.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/events/koi_mirgration.dm
  code/modules/events/undead.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/fish.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ai.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/undead.dm
  paradise.dme
Labels: MAP

#1449 Фиксы Тайпанского радио.
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/weapons/cards_ids.dm
  goon/browserassets/css/browserOutput.css
  icons/mob/ears.dmi
  icons/mob/species/vox/ears.dmi
  icons/obj/radio.dmi
Labels: DMI

#1451 Видимые маски у плазмаменов.
  code/modules/clothing/spacesuits/plasmamen.dm
  icons/mob/species/plasmaman/mask.dmi
Labels: DMI

#1450 Rd & Hos rigfix
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
Labels: DMI

#1455 Tweak: HoS security storage unit
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/suit_storage_unit.dm
Labels: MAP

#1427 FEAT: Добавление дополнительной одежды для ЦК + Supreme
  _maps/map_files/cyberiad/z2.dmm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/jobs/access.dm
  code/game/jobs/job/central.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  icons/mob/head.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items.dmi
Labels: Merge Conflict, MAP, DMI

#1453 Feat: Remap vox reaider base, add medicine to skipjack
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
Labels: MAP

#1456 Add: Necropolis on Cyberiad Lavaland
  _maps/map_files/generic/Lavaland.dmm
Labels: MAP

#1467 Feat: add icons for packaged items with labels (sprite by Элл Гууд)
  code/modules/recycling/sortingmachinery.dm
  icons/obj/storage.dmi
Labels: DMI

#1474 FIX: RC detective (Detective/Delta/Kerberos)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1463 feat: Повязки на глаза с ХУДом.
  code/modules/client/preference/loadout/loadout_glasses.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/hud.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#1477 Fix for vox tails coloring & secondary color scheme.
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/species/vox/uniform.dmi
Labels: DMI

#1486 Добавление готовых поясов сб.
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  icons/obj/clothing/belts.dmi
Labels: DMI

#1487 Добавление изометрии автомату донк софта.
  icons/obj/vending.dmi
Labels: DMI

#1496 Респрайт брони
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#1506 FIX(necropolis_gate.dm): no-sprite bug
  _maps/map_files/Delta/Lavaland.dmm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  icons/turf/floors/boss_floors.dmi
Labels: MAP, DMI

#1511 FIX: Unathi tail
  icons/effects/species.dmi
Labels: DMI

#1507 Fix: Double skeleton
  _maps/map_files/generic/syndicatebase.dmm
  code/game/objects/structures/spawner.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/undead.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/undead.dm
  paradise.dme
Labels: MAP

#1471 Добавление стойки для оружия
  _maps/map_files/Delta/delta.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/tables_racks.dm
  icons/obj/items.dmi
  icons/obj/objects.dmi
Labels: MAP, DMI

#1484 Добавление сигвея Secway на дельту.
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1470 Feat: Cyberiad Brig | Dungeon, Permabrig & Dock
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1515 Abandoned Library REMAP
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1246 Detailed examine moved, Sibyl refactor, and ERT Sibyls
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/game/atoms.dm
  code/game/jobs/job/security.dm
  code/modules/projectiles/gun_attachments.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/sibyl/energy.dm
  code/modules/projectiles/sibyl/sibyl_system_mod.dm
  code/modules/projectiles/sibyl/sibyl_weapons.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/w_examine/descriptions/atmospherics.dm
  code/modules/w_examine/descriptions/engineering.dm
  code/modules/w_examine/descriptions/medical.dm
  code/modules/w_examine/descriptions/mobs.dm
  code/modules/w_examine/descriptions/stacks.dm
  code/modules/w_examine/descriptions/structures.dm
  code/modules/w_examine/descriptions/turfs.dm
  code/modules/w_examine/descriptions/weapons.dm
  code/modules/w_examine/examine.dm
  paradise.dme
Labels: MAP

#1518 Добавление новой цели ниндзя, логики эмбиента инвиза и рюкзака. Плюс пару мелочей.
  code/datums/mind.dm
  code/game/area/ss13_areas.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/spaceninja/ninja/ninja_shuttle.dm
  code/game/gamemodes/spaceninja/ninja/outfit.dm
  code/game/gamemodes/spaceninja/ninja/suit/backpack.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_stealth.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit.dm
  code/game/gamemodes/spaceninja/space_ninja.dm
  icons/mob/back.dmi
  icons/mob/inhands/antag/ninja_lefthand.dmi
  icons/mob/inhands/antag/ninja_righthand.dmi
  icons/obj/ninjaobjects.dmi
  paradise.dme
Labels: DMI

#1524 FIX - Detective Shutters Control Button (Delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1520 fix: правильное название иконки донк стечкина
  icons/obj/guns/toy.dmi
Labels: DMI

#1465 Добавление спиритической доски.
  _maps/map_files/Delta/delta.dmm
  code/game/objects/structures/spirit_board.dm
Labels: MAP

#1527 FIX: Prisoner Processing Holopad Replace (Delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP
