Repository ss220-space/Paradise, pull requests merged in 2022-05, with the labels that each got.

#831 Tweak: new sec pod sprite
  code/modules/spacepods/spacepod.dm
  icons/goonstation/48x48/pods.dmi
Labels: DMI

#832 Обновление спрайта ускорителя масс
  code/game/machinery/mass_driver.dm
  icons/obj/objects.dmi
Labels: DMI

#811 Add: floppa
  _maps/map_files/Delta/delta.dmm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  icons/mob/pets.dmi
Labels: DMI

#824 Add: new sunglasses by Blundir
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/z2.dmm
  code/game/machinery/vending.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/crafting/tailoring.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#812 Update: nuke ops
  code/datums/uplink_item.dm
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/head.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/items.dmi
  icons/obj/storage.dmi
Labels: DMI

#852 Сloset.dmi Duplicate FIX
  icons/obj/closet.dmi
Labels: DMI

#848 feat: added search input for equipments in uplink
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#796 Изменения крематория и морга
  code/__DEFINES/span.dm
  code/__HELPERS/atoms.dm
  code/game/atoms.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/objects/structures/morgue.dm
  code/modules/mob/living/carbon/carbon.dm
  icons/obj/stationobjs.dmi
  paradise.dme
Labels: DMI

#830 Add: new items for blueshield closet
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  icons/mob/species/drask/mask.dmi
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/mask.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/species/vox/mask.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/species/vulpkanin/mask.dmi
Labels: DMI

#833 feat: Плащи, мантии и слот для шеи
  _maps/map_files/cyberiad/z2.dmm
  code/__DEFINES/clothing.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/datums/outfits/outfit.dm
  code/datums/outfits/vv_outfit.dm
  code/game/atoms.dm
  code/game/machinery/vending.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference/loadout/loadout_neck.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/neck/cloaks.dm
  code/modules/clothing/neck/mantles.dm
  code/modules/clothing/neck/ponchos.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/superheroes.dm
  code/modules/mob/mob.dm
  code/modules/mob/update_icons.dm
  icons/mob/neck.dmi
  icons/mob/screen_midnight.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
  icons/mob/screen_white.dmi
  icons/mob/species/vox/neck.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
  paradise.dme
Labels: invalid

#880 Adds: blueshield hardsuit
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/head.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#869 Tweak: перевод интерфейса Air Alarm (воздушной сигнализации)
  code/datums/wires/alarm.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/alarm.dm
  code/game/machinery/autolathe.dm
  code/modules/examine/descriptions/atmospherics.dm
  code/modules/research/designs/autolathe_designs.dm
  tgui/packages/tgui/interfaces/AirAlarm.js
Labels: TGUI

#921 Add: satchel of holding
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/research/designs/bluespace_designs.dm
  icons/mob/back.dmi
  icons/obj/storage.dmi
Labels: DMI

#576 Расовые диеты by FlattestGuitar
  code/__DEFINES/flags.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/alert.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/food_and_drinks/food/foods/desserts.dm
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/pasta.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/food_and_drinks/food/foods/sandwiches.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/food/foods/side_dishes.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/living/carbon/human/species/shadowling.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/status_procs.dm
  code/modules/reagents/chemistry/reagents/admin.dm
  code/modules/reagents/chemistry/reagents/food.dm
  icons/mob/screen_alert.dmi
Labels: testmerge

#898 Перевод и склонение с генерацией имен големов + дополнение имен
  code/_globalvars/lists/names.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  config/names/golem.txt
  config/names/golem_female.txt
  config/names/golem_male.txt
  config/names/golem_neuter.txt
Labels: invalid
