Repository ss220-space/Paradise, pull requests merged in 2023-11, with the labels that each got.

#3803 bugfix: lost coca sprites, grill abdwindow, wclass
  code/__DEFINES/is_helpers.dm
  code/game/objects/items/weapons/anomaly_extract.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  icons/mob/clothing/mask.dmi
  icons/obj/drinks.dmi
Labels: DMI

#3798 bugfix: correct position of the light switch in rnd toxins
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3715 tweak: normal player accessability in Admin zones.
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
Labels: MAP

#3717 add: Surgery theatre
  _maps/map_files/cerestation/cerestation.dmm
  code/game/area/ss13_areas.dm
  icons/turf/areas.dmi
Labels: MAP, DMI

#3739 bugfix: ussp station fixes
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: MAP

#3831 imageadd: one soldier fix
  icons/mob/simple_human.dmi
Labels: DMI

#3782 add: Space Prison Ruin
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spaceprison.dmm
  code/datums/ruins/space.dm
  code/modules/ruins/ruin_areas.dm
  config/example/spaceRuinBlacklist.txt
  icons/turf/areas.dmi
Labels: MAP, DMI

#3824 Add: a special hypospray to the e-magged medical borg.
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  icons/obj/hypo.dmi
Labels: DMI

#3774 qol: custom colors for window painter
  code/game/objects/items/devices/window_painter.dm
  icons/obj/device.dmi
Labels: DMI

#3816 balance: speedloaders can be loaded from ammoboxes.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/crashedipcship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  code/datums/outfits/outfit_admin.dm
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/game/gamemodes/wizard/wizloadouts.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/crafting/recipes.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/storage.dmi
  icons/obj/weapons/ammo.dmi
Labels: MAP, DMI

#3787 add: construction bag
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  icons/obj/tools.dmi
Labels: DMI

#3836 tweak: mining GPS turned off.
  _maps/map_files/Delta/delta.dmm
  code/modules/telesci/gps.dm
Labels: MAP

#3815 add: chatbubble for telepathy users.
  code/__DEFINES/hud.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/game/dna/genes/vg_powers.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob_defines.dm
  icons/mob/hud.dmi
Labels: DMI

#3616 add: Shadow Demon
  code/__DEFINES/gamemode.dm
  code/__DEFINES/role_preferences.dm
  code/datums/spells/bloodcrawl.dm
  code/game/gamemodes/miniantags/demons/demon.dm
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  code/game/gamemodes/miniantags/demons/slaughter_demon/slaughter_demon.dm
  code/game/gamemodes/miniantags/slaughter/bloodcrawl.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/events/event_container.dm
  code/modules/events/slaughterevent.dm
  icons/effects/beam.dmi
  icons/effects/effects.dmi
  icons/mob/mob.dmi
  icons/obj/weapons/projectiles.dmi
  icons/obj/wizard.dmi
  paradise.dme
Labels: DMI

#3838 bugfix: hotfix #3816
  _maps/map_files/generic/z2_old.dmm
  code/datums/outfits/outfit_admin.dm
  code/datums/supplypacks.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: MAP

#3839 bugfix: replacing the glass on the lavaland cyberiad
  _maps/map_files/generic/Lavaland.dmm
Labels: MAP

#3855 add: chemicals circuits for tech storage
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#3866 qol: add one reishi seed to ash walkers warehouse
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: MAP

#3860 add: new medical borg skin - CMO-borg
  code/game/objects/items/devices/chameleonproj.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/silicon_hat.dm
  icons/mob/robots.dmi
  paradise.dme
Labels: DMI

#3902 bugfix/feat: Event channels
  code/controllers/subsystem/non-firing/radio.dm
  code/modules/mob/living/say.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3908 fix: add missed restricted network for gorky 17 cameras
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
Labels: MAP

#3883 add: Shard Plushie and plasmaman in loadout.
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
Labels: DMI

#3892 bugfix: correct visual for telepathy and minus 1 runtime in it.
  code/game/data_huds.dm
  code/game/dna/genes/vg_powers.dm
  icons/mob/hud.dmi
Labels: DMI

#3895 add: IED Satchel
  code/game/objects/items/weapons/grenades/ghettobomb.dm
  code/modules/crafting/recipes.dm
  icons/obj/weapons/grenade.dmi
Labels: DMI

#3886 Add: Shavel and Shavel Soup
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/hydroponics/grown/flowers.dm
  icons/obj/food/food.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: DMI

#3822 imageadd: Added suit sprites for Plasmaman species
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  icons/mob/clothing/species/plasmaman/suit.dmi
Labels: DMI

#3867 add: 8 new ponchos + 4 new uniforms + poncho resprite.
  code/game/machinery/vending.dm
  code/game/machinery/washing_machine.dm
  code/modules/client/preference/loadout/loadout_neck.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/neck/ponchos.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/species/drask/neck.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/neck.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/kidan/neck.dmi
  icons/mob/clothing/species/monkey/neck.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/plasmaman/neck.dmi
  icons/mob/clothing/species/unathi/neck.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/neck.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/species/wryn/neck.dmi
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#3799 add: Throwing knives martial art
  code/datums/uplink_item.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/pants.dm
  code/modules/martial_arts/combos/throwing/remove_embended.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/throwing_knives.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/research/designs/biogenerator_designs.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/shoes.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/shoes.dmi
  icons/mob/clothing/species/unathi/shoes.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/shoes.dmi
  icons/mob/clothing/ties.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/contraband.dmi
  icons/obj/kitchen.dmi
  icons/obj/library.dmi
  icons/obj/storage.dmi
  paradise.dme
  sound/weapons/knife_holster/knife_holster.ogg
  sound/weapons/knife_holster/knife_throw.ogg
  sound/weapons/knife_holster/knife_unholster.ogg
  sound/weapons/knife_holster/throat_slice.ogg
  sound/weapons/knife_holster/throat_slice2.ogg
Labels: DMI

#3784 tweak: posters update
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: MAP, DMI

#3917 bugfix: sofas `dir` corrections.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#3915 bugfix: Standartizes grilles.
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3881 add: combo counter
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/modules/martial_arts/martial.dm
  icons/mob/screen_gen.dmi
Labels: DMI

#3934 tweak: deleting cloning circuits from tech storage.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#3940 add: add organ smartfridge for brig med
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3861 balance: cling add fleshy maul, armblade tweaks
  code/modules/antagonists/changeling/powers/mutations.dm
  icons/mob/actions/actions.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: DMI

#3943 balance: nutrition pump implant nerf
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job/central.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: MAP

#3955 server: update tgui depts
  _build_dependencies.sh
  paradise.dme
  tgui/.eslintrc-harder.yml
  tgui/.eslintrc.yml
  tgui/babel.config.js
  tgui/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui/interfaces/AppearanceChanger.js
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/packages/tgui/interfaces/Contractor.js
  tgui/packages/tgui/interfaces/Cryo.js
  tgui/packages/tgui/interfaces/OreRedemption.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/webpack.config.js
  tgui/yarn.lock
Labels: TGUI, javascript

#3956 Bugfix: A little centcom mistakes
  _maps/map_files/generic/CentComm.dmm
Labels: MAP
