Repository ss220-space/Paradise, pull requests merged in 2023-03, with the labels that each got.

#2092 feat: Improve QoL of Atmos Console Map
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/AtmosControl.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, javascript

#2133 Feat: Cogscarab's wind-up hud
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/cogscarab.dm
  code/_onclick/hud/hud.dm
  code/game/gamemodes/clockwork/cogscarab.dm
  icons/mob/screen_gen.dmi
  paradise.dme
Labels: DMI

#2122 FEAT: updated smooth texture for Nar Sie
  icons/obj/narsie.dmi
  icons/obj/narsie_small.dmi
Labels: DMI

#2126 Feat: Security cloak and poncho
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_neck.dm
  code/modules/clothing/neck/cloaks.dm
  code/modules/clothing/neck/ponchos.dm
  icons/mob/neck.dmi
  icons/mob/species/monkey/neck.dmi
  icons/mob/species/vox/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: DMI

#2131 Fix: CentCom black gloves
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#2134 fix: убирание лишних стен у некрополиса
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/templates/lavaland/e_oldrooms.dmm
Labels: MAP

#2148 Тайпан: Фикс труб
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#2151 FIX: Рефактор логики определения блокирует ли маска/шлем возможность кушац
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  code/__DEFINES/clothing.dm
  code/__HELPERS/unsorted.dm
  code/game/atoms.dm
  code/game/gamemodes/changeling/powers/mutations.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/shadowling/shadowling_items.dm
  code/game/gamemodes/spaceninja/ninja/suit/head.dm
  code/game/gamemodes/spaceninja/ninja/suit/mask.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/patreon/hats.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/spacesuits/void.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  html/archived_changelog/changelogs/.all_changelog.yml
Labels: MAP

#2120 FEAT: updated textures for giant spiders
  code/modules/mob/living/simple_animal/hostile/retaliate/pet.dm
  icons/mob/animal.dmi
Labels: DMI

#2142 FEAT: Добавление RLF медицинскому боргу
  code/game/objects/items/weapons/RLF.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/tools.dmi
  paradise.dme
Labels: DMI

#2073 Патч для терроров 2
  code/modules/events/spider_terror.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/abillities.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/builder.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/defiler.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/destroyer.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/guardian.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/knight.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/reaper.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/reproduction.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/widow.dm
  icons/effects/effects.dmi
  sound/creatures/terrorspiders/speech_1.ogg
  sound/creatures/terrorspiders/speech_2.ogg
  sound/creatures/terrorspiders/speech_3.ogg
  sound/creatures/terrorspiders/speech_4.ogg
  sound/creatures/terrorspiders/speech_5.ogg
  sound/creatures/terrorspiders/speech_6.ogg
Labels: DMI

#2143 Feat: add abductor gloves
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/abduction/abduction_outfits.dm
  icons/mob/hands.dmi
  icons/obj/abductor.dmi
Labels: DMI

#2164 FIX: Animals - Holder, Sprites, Bar Resist
  code/modules/mob/holder.dm
  code/modules/mob/holder_pet_carrier.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/frog.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  code/modules/mob/living/simple_animal/friendly/snail.dm
  code/modules/mob/living/simple_animal/hostile/lizard.dm
  code/modules/mob/mob_grab.dm
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI

#2165 Fix: incorrect fork facing east/west.
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#2183 ADD: Флаг Ниан
  code/game/objects/items/flag.dm
  code/modules/store/items.dm
  icons/mob/inhands/flags_lefthand.dmi
  icons/mob/inhands/flags_righthand.dmi
  icons/obj/flag.dmi
Labels: DMI

#2187 Fix: Delta and Centcom fixes pack
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#2201 Очень важные фиксы новой еды
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  code/modules/reagents/chemistry/reagents/food.dm
  icons/obj/food/containers.dmi
Labels: DMI

#2185 Feat: Courtroom final update
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2184 feat: relocates turrets on ops shuttle
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#2101 FIX: replacement for a functional grill
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2127 Feat: Moonlin based drinks.
  code/modules/food_and_drinks/drinks/bottler/bottler_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
Labels: DMI

#2209 Fix: atmos firealarm
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2224 Fix: delta pipenet runtimes
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2207 Фиксы спрайтов
  icons/mecha/mecha.dmi
  icons/mob/robots.dmi
Labels: DMI

#2205 Sprites for goliath plates on mining hardsuits
  code/game/objects/items/stacks/sheets/leather.dm
  icons/mob/head.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#2231 FIX: Wrong blood on the Nuclear Team shuttle
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#2146 Add: Spawners and landmarks icons
  SpacemanDMM.toml
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  _maps/map_files/RandomRuins/SpaceRuins/crashedipcship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris2.dmm
  _maps/map_files/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_tele.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/debug/smoothing.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/remains.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/mapping_helpers.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/random_barrier.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/random/random.dm
  code/modules/awaymissions/loot.dm
  code/modules/projectiles/guns/dartgun.dm
  icons/effects/mapping_helpers.dmi
  icons/misc/landmarks.dmi
  icons/mob/livestock.dmi
  icons/obj/aibots.dmi
  icons/obj/chemical.dmi
Labels: MAP, DMI

#2206 Монитор для БШ
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/sensor_device.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/tgui/modules/crew_monitor.dm
  icons/obj/device.dmi
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#2177 FEAT: New Slime Potions
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/objects.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/armor.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/obj/chemical.dmi
Labels: DMI

#2234 Нерфы пауков ужаса
  code/modules/events/spider_terror.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/abillities.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/destroyer.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/guardian.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/healer.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/knight.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/mother.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/princess.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/queen.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/reaper.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/widow.dm
  icons/mob/actions/actions.dmi
  icons/mob/actions/actions_animal.dmi
Labels: DMI

#2223 Feat: add map selection without recompile, admin verbs to select map, map rotation
  _maps/common.dm
  _maps/cyberiad.dm
  _maps/delta.dm
  code/__HELPERS/names.dm
  code/_globalvars/mapping.dm
  code/_globalvars/misc.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/titlescreen.dm
  code/game/objects/items/devices/autopsy.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/map_fluff/cyberiad.dm
  code/modules/map_fluff/delta.dm
  code/modules/map_fluff/maps.dm
  code/modules/map_fluff/metastation.dm
  code/modules/paperwork/paper.dm
  code/modules/tgui/tgui.dm
  code/modules/world_topic/status.dm
  config/example/config.txt
  paradise.dme
Labels: enhancement

#2261 Fix: There can be only one Ratatui
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2257 Fix: Royal Marine Beret incorrect sprite position.
  icons/mob/head.dmi
Labels: DMI

#2241 Fix: Delta extra airlock delete
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2243 Фикс рецептов
  code/game/machinery/vending.dm
  code/modules/reagents/chemistry/reagents/food.dm
  icons/obj/hydroponics/seeds.dmi
Labels: DMI

#2247 Добавляет pennywise suit и pennywise mask в вендор Autodrobe
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/vending.dm
  code/modules/clothing/masks/miscellaneous.dm
Labels: MAP

#2253 Fix: Security vending access
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/vending.dm
Labels: MAP

#2237 Пластиковые бутылки
  icons/obj/reagentfillings.dmi
Labels: DMI

#2258 Fix: Syndibase landmarks and spawners
  _maps/map_files/generic/syndicatebase.dmm
  code/game/objects/effects/spawners/random_spawners.dm
  icons/effects/mapping_helpers.dmi
Labels: MAP, DMI

#2250 Adds the clown recorder
  code/datums/action.dm
  code/datums/outfits/outfit_security_clown.dm
  code/game/jobs/job/support.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/admin/verbs/honksquad.dm
  icons/obj/device.dmi
  sound/voice/sitcom_laugh1.ogg
  sound/voice/sitcom_laugh2.ogg
  sound/voice/sitcom_laugh3.ogg
  sound/voice/sitcom_laugh4.ogg
  sound/voice/sitcom_laugh5.ogg
Labels: DMI

#2235 Feat: New Animals ReBalance
  _maps/map_files/Delta/delta.dmm
  code/datums/supplypacks.dm
  code/modules/events/infestation.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/slugcat.dm
  code/modules/mob/living/simple_animal/friendly/snail.dm
  code/modules/mob/living/simple_animal/hostile/lizard.dm
  icons/mob/head.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
  icons/mob/pets.dmi
  icons/obj/food/food.dmi
Labels: Merge Conflict, MAP, DMI

#2269 fix: use dynamic station level for atmos console too
  code/modules/tgui/modules/atmos_control.dm
  tgui/packages/tgui/interfaces/AtmosControl.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2267 FIX: Убрал битый пиксель с огурчиков
  icons/obj/hydroponics/growing_vegetables.dmi
Labels: DMI

#2232 Del: Remove Kerberos and Cyberiad nearstation
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#2121 FEAT: New pAI forms Mushroom and Crow
  code/modules/mob/living/silicon/pai/pai.dm
  icons/mob/head.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
  icons/mob/pai.dmi
  icons/obj/objects.dmi
Labels: Merge Conflict, DMI

#2277 FIX: Маячок тайпана заменён на раундстартово неактивный
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#2255 Fix: Changing NT medkit names on SCC to syndie ones.
  _maps/map_files/generic/CentComm.dmm
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: MAP

#2254 FIX: lux shelter edge window density
  _maps/map_files/templates/shelter_2.dmm
Labels: MAP

#2285 Fix: taipan accesses
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#2279 Новая мантия в лоудаут
  code/modules/client/preference/loadout/loadout_neck.dm
  code/modules/clothing/neck/mantles.dm
  icons/mob/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: DMI

#2191 Feat: tgui port and fly sound for shuttles
  code/__DEFINES/stat.dm
  code/controllers/subsystem/shuttles.dm
  code/modules/shuttle/shuttle.dm
  sound/effects/hyperspace_mini.ogg
  tgui/packages/tgui/interfaces/ShuttleConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2215 Feat: New stamps for Navy Officers
  code/game/jobs/job/central.dm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/paper_icons/large_stamp-BIGdeny.png
  icons/paper_icons/large_stamp-ploho.png
Labels: DMI

#2284 Респрайт слизней
  icons/mob/slimes.dmi
Labels: DMI

#2292 Fix: Syndibase and barber landmarks
  code/game/objects/effects/spawners/random_spawners.dm
  icons/effects/mapping_helpers.dmi
  icons/misc/landmarks.dmi
Labels: DMI

#2296 Port: aurora station skrell hairstyles
  code/modules/mob/new_player/sprite_accessories/skrell/skrell_face.dm
  icons/mob/sprite_accessories/skrell/skrell_hair.dmi
Labels: DMI

#2297 Новые обмотки для ног
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: DMI

#2304 Fix: shuttle console
  code/modules/shuttle/shuttle.dm
  tgui/packages/tgui/interfaces/ShuttleConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2360 Fix: Bobby name
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2346 fix: Fix layer and position of roundstart showers and sinks
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2348 Feat: radio in belts
  code/game/objects/items/weapons/storage/belt.dm
  icons/obj/clothing/belts.dmi
Labels: DMI

#2293 Fix: Delta accesses
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/vending.dm
Labels: MAP

#2294 Fix: Cyberiada accesses
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/vending.dm
Labels: MAP

#2322 Ниндзя: Правки хамелиона и инвиза
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_chameleon.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_stealth.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  icons/effects/holoscan.dmi
Labels: DMI

#2358 Fix: Balaclava
  code/modules/clothing/clothing.dm
  icons/mob/head.dmi
  icons/obj/clothing/masks.dmi
Labels: DMI

#2372 Add: Doshi Co
  code/game/machinery/vending.dm
  code/game/objects/items/trash.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
  code/modules/food_and_drinks/food/snacks.dm
  icons/obj/food/food.dmi
  icons/obj/trash.dmi
Labels: DMI

#2329 add: Cmag для клоуна
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/datums/ai_law_sets.dm
  code/datums/uplink_item.dm
  code/game/atoms.dm
  code/game/machinery/cloning.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/control_wand.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/clown_items.dm
  code/modules/hydroponics/gene_modder.dm
  icons/obj/card.dmi
Labels: DMI

#2381 Fix: Sustenance Vendor incorrect lists
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/vending.dm
Labels: MAP

#2368 FEAT: New Nian Wings and Antennae
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/new_player/sprite_accessories/moth/moth_head_accessories.dm
  icons/mob/sprite_accessories/moth/moth_head_accessories.dmi
  icons/mob/sprite_accessories/moth/moth_wings.dmi
Labels: DMI

#2363 Респрайт одежды СБ + несколько новых вещей
  code/game/machinery/vending.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#2327 Add: .38 hollow-point
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/ammo.dmi
Labels: DMI

#2333 feat: Gas Analyzer TGUI (TG port)
  code/ATMOSPHERICS/components/unary_devices/tank.dm
  code/ATMOSPHERICS/pipes/pipe.dm
  code/LINDA/LINDA_turf_tile.dm
  code/__DEFINES/atmospherics.dm
  code/__HELPERS/atmospherics.dm
  code/__HELPERS/unsorted.dm
  code/game/atoms.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/pda/utilities.dm
  code/modules/power/singularity/collector.dm
  paradise.dme
  tgui/packages/common/GasmixParser.js
  tgui/packages/tgui/interfaces/GasAnalyzer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2391 Fix: Sprites for new bandoliers capacity.
  icons/obj/clothing/belts.dmi
Labels: DMI

#2387 Tweak: Station accesses
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#2388 fix: Bamboo spear icons
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Merge Conflict, DMI

#2308 Map: Cere-station
  SpacemanDMM.toml
  _maps/map_files/cerestation/cerestation.dmm
  code/__DEFINES/colors.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/ticker.dm
  code/defines/vox_sounds.dm
  code/game/area/areas/mining.dm
  code/game/area/ss13_areas.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/quantum_pad.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/client/asset_cache.dm
  code/modules/map_fluff/cerestation.dm
  code/modules/map_fluff/maps.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/resonator.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/recycling/conveyor2.dm
  code/modules/recycling/disposal.dm
  config/example/config.txt
  icons/_nanomaps/Farragus_nanomap_z1.png
  icons/obj/structures.dmi
  icons/turf/areas.dmi
  icons/turf/smoothrocks.dmi
  paradise.dme
  sound/vox_fem/farragus.ogg
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: MAP, DMI

#2397 Feat: Botanical dispenser
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2393 feat: Some changes for syndicate's pAI module
  code/_onclick/pai.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_chemicals.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software/_base.dm
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  code/modules/mob/living/silicon/pai/software/pai_toggles.dm
  paradise.dme
  tgui/packages/tgui/interfaces/pai/pai_camera_bug.js
  tgui/packages/tgui/interfaces/pai/pai_sec_chem.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#1630 Feat: Monster nest structure
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_monster_nest.dmm
  code/datums/ruins/lavaland.dm
  code/game/objects/structures/nest.dm
  config/example/lavaRuinBlacklist.txt
  paradise.dme
Labels: MAP

#2416 Hotfix: Map: Cerestation
  _maps/map_files/cerestation/cerestation.dmm
  code/modules/client/asset_cache.dm
  icons/_nanomaps/Cerestation_nanomap_z1.png
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: MAP

#2404 HotFix: Wrong way to fatcat holder sprite and cleaning 1 dot in glasses sprite.
  code/modules/mob/holder.dm
  icons/mob/eyes.dmi
Labels: DMI

#2405 feat: QoL improvement: copy AI tracking ability to nanomap
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2439 Fix: machinery and obj anchore
  _maps/map_files/Delta/delta.dmm
  code/game/gamemodes/heist/heist.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/window.dm
  code/modules/shuttle/shuttle_manipulator.dm
Labels: MAP

#2415 MapFix: Animals Cerestation
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2409 Feat: port vote system from offparadise, add map votes
  code/_onclick/hud/alert.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/game_mode.dm
  code/game/verbs/ooc.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/vote/vote_datum.dm
  code/modules/vote/vote_presets.dm
  code/modules/vote/vote_verb.dm
  config/example/config.txt
  icons/mob/screen_alert.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/VotePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#2423 AMLG-90. Лазерный пулемёт для мехов.
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mecha_equipment.dmi
Labels: DMI

#2445 bug: Fix for invinsible 38
  icons/obj/ammo.dmi
Labels: DMI

#2441 Feat: classic piano structure
  _maps/map_files/Delta/delta.dmm
  code/modules/instruments/objs/structures/piano.dm
  icons/obj/musician.dmi
Labels: MAP, DMI

#2446 feat: Surgical console QoL improvement
  code/game/machinery/computer/Operating.dm
  tgui/packages/tgui/interfaces/OperatingComputer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2458 fix: Fix nanomap tooltips
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/styles/components/Tooltip.scss
Labels: TGUI

#2390 FEAT: Улучшение сервис борго
  code/_globalvars/lists/reagents.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/weapons/RSF.dm
  code/modules/arcade/arcade_prize.dm
  code/modules/economy/EFTPOS.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/reagent_containers.dm
  icons/obj/tools.dmi
Labels: DMI

#2460 Fix: Map: Cerestation (part 2)
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2469 Fix: double Hot drinks
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2470 Feat: botany remap
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2474 Tiny Fix Map: Cere toxins and disposals
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2475 Feat: add check for multiple variable set in dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  tools/ci/check_grep.sh
Labels: MAP

#2440 FEAT: New food
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/pasta.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  icons/obj/food/food.dmi
Labels: DMI

#2479 Cere mini fix
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2455 Add: selfmade injectors
  code/game/objects/items/crayons.dm
  code/modules/crafting/recipes.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/hypo.dmi
Labels: DMI

#2461 qol: Gas Analyzer swap N2 and CO2
  tgui/packages/common/GasmixParser.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Merge Conflict, TGUI, javascript

#2472 Feat: New ERT gun
  _maps/map_files/generic/CentComm.dmm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: MAP, DMI

#2501 Tweak: access_txt -> access list in away missions
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/crashedipcship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/example.dmm
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/shuttles/admin_admin.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files/shuttles/cargo_base.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_meta.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  _maps/map_files/shuttles/emergency_old.dmm
  _maps/map_files/shuttles/ferry_meat.dmm
  _maps/map_files/templates/shelter_2.dmm
Labels: MAP

#2510 Ref: Replace req_access_txt on most of the maps
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  code/controllers/subsystem/ticker.dm
Labels: MAP

#2480 Коробки СБ и замена экстренных глоустиков на синие
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  icons/obj/storage.dmi
  icons/obj/tank.dmi
  icons/obj/tools.dmi
Labels: DMI

#2502 Новый риг бригмедика
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: MAP, DMI

#2490 Feat: ancient rig resprite
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Merge Conflict, DMI

#2456 QoL: Agent Card TGUI
  code/game/objects/items/weapons/cards_ids.dm
  tgui/packages/tgui/interfaces/AgentCard.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2452 FEAT: Paper shredder
  code/modules/paperwork/papershredder.dm
  icons/obj/bureaucracy.dmi
  paradise.dme
  sound/items/pshred.ogg
Labels: DMI

#2426 FEAT: new AI holograms
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/ai.dmi
Labels: DMI

#2419 FEAT: 11 new plushies
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
  sound/items/Help.ogg
  sound/items/axolotl.ogg
  sound/items/goatsound.ogg
  sound/items/pig1.ogg
  sound/items/pig2.ogg
  sound/items/pig3.ogg
Labels: DMI

#2442 FEAT: Office toys
  code/datums/looping_sounds/office_toy.dm
  code/game/objects/items/hourglass.dm
  code/game/objects/items/toys.dm
  code/modules/countdown/countdown.dm
  icons/obj/hourglass.dmi
  icons/obj/toy.dmi
  paradise.dme
  sound/items/buttonclick.ogg
  sound/items/office_desk_toys/NewtonCradle.ogg
  sound/items/office_desk_toys/fan_end.ogg
  sound/items/office_desk_toys/fan_mid1.ogg
  sound/items/office_desk_toys/fan_start.ogg
  sound/items/office_desk_toys/microfan.ogg
  sound/items/office_desk_toys/newtoncradle_mid1.ogg
Labels: Merge Conflict, DMI

#2429 FEAT: cheese statue
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/statues.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  icons/obj/items.dmi
  icons/obj/statue.dmi
Labels: DMI

#2496 Fix Map: Cerestation
  _maps/map_files/cerestation/cerestation.dmm
  code/_globalvars/lists/flavor_misc.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/turfs/simulated/minerals.dm
Labels: MAP

#2527 Ref: CentCom, z2old and Moonpost accesses
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
Labels: MAP
