Repository ss220-space/Paradise, pull requests merged in 2023-12, with the labels that each got.

#3923 Add: Diagnostic hud tajaran veil and SKills hud tajaran veil
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/crafting/tailoring.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#3859 balance: Genetic Superiority
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/dna_upgrader.dm
  icons/obj/hypo.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/DNAModifyer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#3993 add: ammo boxes and speedloaders for shotgun ammunition.
  _maps/map_files/generic/z2_old.dmm
  code/datums/outfits/outfit_admin.dm
  code/datums/supplypacks.dm
  code/game/machinery/vending.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/weapons/ammo.dmi
Labels: MAP, DMI

#4010 add: solgov stamps
  code/__HELPERS/text.dm
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job/central.dm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/stamps.dm
  icons/misc/paper_icons/large_stamp-solgov.png
  icons/misc/paper_icons/solgovlogo.png
  icons/obj/bureaucracy.dmi
Labels: DMI

#4024 balance: Clockwork Cult Balance Update
  code/__DEFINES/clockwork.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/clockwork/clockwork_structures.dm
  code/game/gamemodes/clockwork/clockwork_workshop.dm
  code/game/gamemodes/clockwork/cogscarab.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/effects/clockwork_effects.dmi
  icons/mob/clockwork_mobs.dmi
  icons/obj/clockwork.dmi
Labels: DMI

#4057 bugfix: turfs under ND walls were removed on USSP stattion
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: MAP

#3678 remap: AcademyGateRemap
  _maps/map_files/RandomZLevels/academy.dmm
  code/modules/awaymissions/mission_code/academy.dm
Labels: MAP

#3828 add: Space Graveyard
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/graveyard.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  code/datums/ruins/space.dm
  code/game/machinery/door_control.dm
  code/game/objects/effects/mapping_helpers.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/decorations.dm
  code/game/objects/items/weapons/cash.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/pit.dm
  code/game/objects/structures/statues.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/modules/awaymissions/mission_code/ruins/graveyard.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/mob/living/simple_animal/hostile/undead.dm
  icons/effects/mapping_helpers.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/otherHuman/human.dmi
  icons/mob/simple_human.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/decorations.dmi
  icons/obj/pit.dmi
  icons/obj/stationobjs.dmi
  icons/obj/statuebig.dmi
  icons/obj/statuelarge.dmi
  icons/obj/weapons/bouquet.dmi
  icons/turf/floors.dmi
  paradise.dme
Labels: MAP, DMI

#4023 add: Hampters plushie added to loadout
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/obj/toy.dmi
Labels: DMI

#4048 add: chat boxes, port from Official Paradise
  code/__DEFINES/chat_box_defines.dm
  code/controllers/subsystem/jobs.dm
  code/datums/mind.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/devil/devilinfo.dm
  code/game/gamemodes/devil/game_mode.dm
  code/game/gamemodes/devil/true_devil/_true_devil.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/gamemodes/miniantags/changeling_slug/changeling_slug.dm
  code/game/gamemodes/miniantags/demons/pulse_demon/pulse_demon.dm
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  code/game/gamemodes/miniantags/demons/slaughter_demon/slaughter_demon.dm
  code/game/gamemodes/miniantags/morph/morph.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/game/gamemodes/wizard/wizard.dm
  code/game/objects/items/devices/memorizer.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/changeling/changeling_datum.dm
  code/modules/antagonists/malf_ai/malf_ai_datum.dm
  code/modules/antagonists/space_dragon/space_dragon_datum.dm
  code/modules/antagonists/space_ninja/ninja_datum.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/thief/thief_datum.dm
  code/modules/antagonists/traitor/contractor/datums/contractor.dm
  code/modules/antagonists/traitor/datum_mindslave.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/events/sentience.dm
  code/modules/events/traders.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/sample.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/mob.dm
  code/modules/power/supermatter/supermatter_special_effects.dm
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  goon/browserassets/js/browserOutput.js
  paradise.dme
Labels: javascript

#4076 add: chain of command on delta
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4069 add: thick tape roll
  code/datums/uplink_item.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/clothing/masks/miscellaneous.dm
  icons/mob/clothing/mask.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/trash.dmi
Labels: DMI

#4067 bugfix: Forest fox icons by @NixonEs.
  icons/mob/clothing/head.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
  icons/mob/pets.dmi
Labels: DMI

#4092 bugfix: CATS magazines can't fit it's own bullets.
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/magazines.dm
  icons/obj/weapons/ammo.dmi
Labels: DMI

#4114 bugfix: removed random shutters at centcom level
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#4115 tweak: virology smartfridge reskin
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  icons/obj/machines/vending.dmi
Labels: DMI

#4093 add: new sprites for reinforcing explorer suits
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/hood.dm
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/plasmaman/helmet.dmi
  icons/mob/clothing/species/skrell/head.dmi
  icons/mob/clothing/species/tajaran/head.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/head.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/head.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#4085 remap: AcademyRework pt2
  _maps/map_files/RandomZLevels/academy.dmm
  code/game/objects/effects/bump_teleporter.dm
  code/modules/awaymissions/mission_code/academy.dm
  icons/obj/stationobjs.dmi
Labels: MAP, DMI

#4118 Map Prerequisites
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/anomalyship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/crashedipcship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/datums/cache/apc.dm
  code/datums/multitool_menu.dm
  code/datums/uplink_item.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/structures/crates_lockers/closets/fireaxe.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/games/52card.dm
  code/modules/mining/machine_vending.dm
  code/modules/power/apc.dm
Labels: MAP

#4123 tweak: Small Map Fix
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#4116 add: Added New Year celebration stuff
  code/__DEFINES/subsystems.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/non-firing/holiday.dm
  code/game/objects/effects/spawners/windowspawner.dm
  code/modules/holiday/christmas.dm
  code/modules/holiday/holiday.dm
  code/modules/holiday/new_year.dm
  icons/obj/new_year/decorations.dmi
  paradise.dme
Labels: DMI

#4135 bugfix: fixed yarn watch warning spam
  tgui/packages/tgui/webpack.config.js
Labels: TGUI, javascript

#4148 add: Added Ded Moroz and his magic artifacts
  code/datums/status_effects/gas.dm
  code/modules/holiday/new_year.dm
  icons/effects/freeze.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/weapons/magic.dmi
  icons/obj/weapons/projectile.dmi
Labels: DMI

#4119 remap: Delta & Cerestation & Cyberiad New Year update
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP
