Repository ss220-space/Paradise, pull requests merged in 2023-04, with the labels that each got.

#2477 ADD: Новый напиток - Рестарт
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
  sound/effects/restart-shutdown.ogg
  sound/effects/restart-wakeup.ogg
Labels: DMI

#2534 fix: General Records Important Notes lines
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2532 Fix: Engineering Maintenance access
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2523 small qol: tgui secure storage
  code/game/objects/items/weapons/storage/secure.dm
  tgui/packages/tgui/interfaces/SecureStorage.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2519 Подсумки. Щитспавн.
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/storage.dmi
Labels: DMI

#2343 Feat: New space ruin (bloodship)
  _maps/map_files/RandomRuins/SpaceRuins/space_bloodship.dmm
  code/datums/ruins/space.dm
Labels: MAP

#2432 Feat: Elitefauna
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_elite_tumor.dmm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/rolebans.dm
  code/__DEFINES/status_effects.dm
  code/__HELPERS/traits.dm
  code/_globalvars/lists/objects.dm
  code/_globalvars/traits.dm
  code/datums/action.dm
  code/datums/ruins/lavaland.dm
  code/datums/status_effects/buffs.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/jobs/job_exp.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/client/preference/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/pandora.dm
  code/modules/mob/living/simple_animal/hostile/mining/mining.dm
  icons/mob/actions/actions_elites.dmi
  icons/mob/lavaland/lavaland_elites.dmi
  icons/mob/screen_alert.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/obj/lavaland/elite_trophies.dmi
  icons/obj/lavaland/legionnaire_bonfire.dmi
  icons/obj/lavaland/tumor.dmi
  paradise.dme
Labels: MAP, DMI

#2526 Add: Garmentbag
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/storage.dmi
  paradise.dme
Labels: MAP, DMI

#2569 [FIX] (Cyberiad) Лежанки в аркаде.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#2561 Fix: Changeling-slug icons.
  code/modules/mob/holder.dm
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI

#2512 Красные энерго щиты!
  _maps/map_files/RandomZLevels/spacebattle.dmm
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/simple_human.dmi
  icons/obj/items.dmi
Labels: Merge Conflict, MAP, DMI

#2544 fix: Suit storage units fix
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/shuttles/admin_armory.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  code/datums/wires/suitstorage.dm
  code/game/machinery/suit_storage_unit.dm
  icons/obj/machines/suit_storage.dmi
  tgui/packages/tgui/interfaces/SuitStorage.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#2473 feat: Security Records Console prints photos
  code/game/machinery/computer/security.dm
  icons/effects/64x32.dmi
Labels: DMI

#2588 FEAT: bird meat
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  icons/obj/food/food.dmi
Labels: DMI

#2607 Lr30. Винтовка из карго
  code/datums/supplypacks.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/research/designs/weapon_designs.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
Labels: DMI

#2577 FEAT: Добавление фишек для покера
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/weapons/spacechips.dm
  code/modules/store/items.dm
  icons/goonstation/objects/pokerchips.dmi
  paradise.dme
Labels: MAP, DMI

#2553 FEAT: Glass Shivs
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/shards.dm
  icons/obj/kitchen.dmi
Labels: DMI

#2615 Feat: armory tweak(Delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2626 Icons clean up: 2 - Vehicles
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/spacepods/equipment.dm
  code/modules/vehicle/ambulance.dm
  code/modules/vehicle/atv.dm
  code/modules/vehicle/janicart.dm
  code/modules/vehicle/motorcycle.dm
  code/modules/vehicle/snowmobile.dm
  code/modules/vehicle/speedbike.dm
  code/modules/vehicle/sportscar.dm
  code/modules/vehicle/vehicle.dm
  icons/obj/spacepod.dmi
  icons/obj/vehicles/4wheeler.dmi
  icons/obj/vehicles/CargoTrain.dmi
  icons/obj/vehicles/bike.dmi
  icons/obj/vehicles/motorcycle.dmi
  icons/obj/vehicles/sportscar.dmi
  icons/obj/vehicles/vehicles.dmi
Labels: DMI

#2617 Fix: Security checkpoint access(Delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2605 fix: Power monitors monitoring QoL improvement
  code/datums/cache/powermonitor.dm
  code/game/machinery/computer/power.dm
  code/modules/pda/cart_apps.dm
  code/modules/tgui/modules/power_monitor.dm
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2623 fix: Adjust some sprites contrast
  icons/effects/species.dmi
  icons/mob/body_accessory.dmi
  icons/mob/human_races/r_vulpkanin.dmi
Labels: DMI

#2608 FEAT: Гачи пояс
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/gamemodes/steal_items.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/wrestling.dm
Labels: MAP

#2621 Fix: Dormitories area
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2625 fix: Space Law is no more
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
Labels: MAP

#2636 Fix: Geneticist action figure
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2563 Fix: Add mugs for thief
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2618 Feat: (Cyberiad) Ремап бара, кухни и ботаники.
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/mob/inhands/chairs_lefthand.dmi
  icons/mob/inhands/chairs_righthand.dmi
  icons/obj/chairs.dmi
Labels: MAP, DMI

#2643 fix: (Cyberiad) Служба доставки забыла фритюр.
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#2537 Feat: New space ruin "Lonely Pod"
  _maps/map_files/RandomRuins/SpaceRuins/lonelypod.dmm
  code/datums/ruins/space.dm
Labels: MAP

#2650 Feat: Cerestation improvements
  _maps/map_files/cerestation/cerestation.dmm
  code/modules/recycling/disposal.dm
Labels: MAP

#2679 Новые аксесуары унатхам
  code/modules/mob/new_player/sprite_accessories/unathi/unathi_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/unathi/unathi_hair.dm
  code/modules/mob/new_player/sprite_accessories/unathi/unathi_head_accessories.dm
  icons/mob/sprite_accessories/unathi/unathi_facial_hair.dmi
  icons/mob/sprite_accessories/unathi/unathi_hair.dmi
Labels: DMI

#2695 feat: Biogenerator QoL improvement
  code/modules/hydroponics/biogenerator.dm
  tgui/packages/tgui/interfaces/Biogenerator.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2693 fix: Fix small bottles opaque sprite
  icons/obj/chemical.dmi
Labels: DMI

#2651 FEAT: Extra virgin olive oil
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/reagents/chemistry/reagents/food.dm
  icons/obj/food/containers.dmi
Labels: DMI

#2672 SP8: Warden, ERT, SRT unified pistol
  code/datums/outfits/outfit_admin.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/response_team/ert_outfits.dm
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  sound/weapons/gunshots/sp8.ogg
  sound/weapons/gunshots/sp8ar.ogg
  sound/weapons/gunshots/sp8t.ogg
Labels: DMI

#2500 Add: New space ruin anomalyship
  _maps/map_files/RandomRuins/SpaceRuins/anomalyship.dmm
  code/datums/ruins/space.dm
  code/game/area/ss13_areas.dm
  icons/turf/areas.dmi
Labels: MAP, DMI

#2694 fix: Fix ticket machine button icons
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/door_control.dm
  code/modules/paperwork/ticketmachine.dm
  icons/obj/stationobjs.dmi
Labels: MAP, DMI

#2720 Feat: welding masks
  code/modules/clothing/head/misc_special.dm
  icons/mob/species/grey/head.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vulpkanin/helmet.dmi
Labels: DMI

#2707 Голокаталки!
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/response_team/ert_outfits.dm
  icons/obj/rollerbed.dmi
Labels: DMI

#2717 Fix: double crates and closets for syndi spawners
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  code/game/objects/effects/spawners/random_spawners.dm
Labels: MAP

#2729 Tweak: changes in blood packs on maps, cargo, add separate blood packs for xenos
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
Labels: MAP

#2697 Новые спрайты унатхов
  code/game/gamemodes/changeling/powers/mutations.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/cult/cult_items.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/effects/species.dmi
  icons/mob/human_races/r_lizard.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/unathi/underwear.dmi
  icons/mob/species/unathi/uniform.dmi
  icons/mob/sprite_accessories/unathi/unathi_body_markings.dmi
Labels: DMI

#2714 Fix: Bad Cable On Taipan
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#2743 ФИКС брони дрейка на унатхе
  icons/mob/species/unathi/suit.dmi
Labels: DMI

#2718 Feat: RCD can now build firelocks
  code/__DEFINES/RCD.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/turfs/simulated/floor.dm
  icons/obj/interface.dmi
  tgui/packages/tgui/interfaces/RCD.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#2750 fix: Фикс отсутствующего спрайта включённого фонарика на СП8
  icons/obj/weapons/projectile.dmi
Labels: DMI

#2740 feat: icons for slimeman's regrow and toggle color action
  code/modules/mob/living/carbon/human/species/slime.dm
  icons/mob/actions/actions.dmi
Labels: DMI

#2744 Feat: byond 515 initial compat
  code/__DEFINES/__byond_version_compat.dm
  code/__DEFINES/dmjit.dm
  code/__DEFINES/rust_g.dm
  code/controllers/master.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/world.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  interface/skin.dmf
  paradise.dme
  tgui/packages/tgui/public/tgui.html
Labels: TGUI

#2721 FEAT: New Typing Emote Indicator
  code/__DEFINES/preferences.dm
  code/game/atoms.dm
  code/modules/mob/typing_indicator.dm
  icons/mob/talk.dmi
Labels: DMI

#2746 ADD: Fireproof catwalks and lattices
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/space/space.dm
  code/modules/research/designs/mining_designs.dm
  icons/obj/items.dmi
  icons/obj/smooth_structures/lattice_f.dmi
  icons/obj/smooth_structures/strong_catwalk.dmi
Labels: DMI

#2736 Feat: add sprites for cryosleep to all directions
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryopod.dm
  icons/obj/machines/cryogenic2.dmi
Labels: MAP, DMI

#2747 Fix: golden cup sprite.
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#2761 feat: donuts in med
  _maps/map_files/Delta/delta.dmm
Labels: MAP
