Repository ss220-space/Paradise, pull requests merged in 2023-02, with the labels that each got.

#1962 Fix: small runtimes in Blackmarket
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
Labels: MAP

#1963 FIX: Virology area return
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1956 Переработка способностей ниндзя
  code/game/gamemodes/spaceninja/ninja/machinery/ninja_mindscan_machine.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/energy_net_nets.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_clone.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_healing_chems.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit_attackby.dm
  code/modules/reagents/chemistry/reagents/ninja.dm
  icons/obj/ninjaobjects.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#1862 srt closets + ert mindshield implanter + surv box
  _maps/map_files/generic/CentComm.dmm
  code/datums/outfits/outfit_admin.dm
  code/game/objects/items/weapons/implants/implant_mindshield.dm
Labels: MAP

#1970 Wryn wax building
  code/game/objects/structures/wryn.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/surgery/organs/subtypes/wryn.dm
  icons/mob/actions/actions.dmi
  icons/obj/smooth_structures/wryn/floor.dmi
  icons/obj/smooth_structures/wryn/wall.dmi
  icons/obj/smooth_structures/wryn/window.dmi
  paradise.dme
Labels: DMI

#1961 Qol: toggle give hotkey
  code/__DEFINES/status_effects.dm
  code/__HELPERS/qdel.dm
  code/_onclick/hud/alert.dm
  code/datums/keybindings/carbon.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/mob.dm
  icons/mob/screen_alert.dmi
  icons/mouse_icons/give_item.dmi
Labels: DMI

#1829 Fix: исправление адресов спрайтов
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/lighting.dm
  icons/obj/ammo.dmi
Labels: Merge Conflict, DMI

#1801 Feat: Cyberiad | Toxins, Psychiatrist, Cargo maints, etc
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1973 FIX: BMP gate fixes
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  code/modules/awaymissions/mission_code/blackmarketpackers.dm
Labels: MAP

#1983 feat: рандомизация левой комнаты некрополя
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/templates/lavaland/e_customs.dmm
  _maps/map_files/templates/lavaland/e_oldrooms.dmm
  _maps/map_files/templates/lavaland/e_readingroom.dmm
  code/game/objects/structures/window.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/ruins/lavalandruin_code/necropolis_lavalend.dm
  icons/obj/lavaland/gate_to_the necropolis.dmi
  icons/obj/lavaland/necrdoor.dmi
  paradise.dme
Labels: MAP, DMI

#1980 FEAT: Cucumbers, stage 2
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/crafting/craft.dm
  code/modules/food_and_drinks/food/foods/ingredients.dm
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_table.dm
  code/modules/hydroponics/grown/cucumber.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/food/food.dmi
Labels: DMI

#1949 FEAT: crushed Ipc ship space ruins
  _maps/map_files/RandomRuins/SpaceRuins/crashedipcship.dmm
  code/datums/ruins/space.dm
  code/modules/awaymissions/mission_code/ruins/crashedipcship.dm
  icons/turf/areas.dmi
  paradise.dme
Labels: MAP, DMI

#1942 Add shawarma & doners
  code/modules/food_and_drinks/food/foods/ethnic.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  icons/obj/food/food.dmi
Labels: Merge Conflict, DMI

#2000 Fix: Cyberiad xeno airlocks
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1997 FIX: RnD lobby air alarm(delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1979 port: biogen tgui
  code/controllers/subsystem/tgui.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/research/designs/biogenerator_designs.dm
  tgui/packages/tgui/interfaces/Biogenerator.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2024 Fix: no icon spilt blob action
  icons/mob/blob.dmi
Labels: DMI

#2008 FIX: IPC ship missed floor tiles
  _maps/map_files/RandomRuins/SpaceRuins/crashedipcship.dmm
Labels: MAP

#1959 Респрайт Ревенанта
  icons/mob/mob.dmi
Labels: DMI

#2011 Tweak: ashwalker gate
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
Labels: MAP

#1958 Респрайт револьвера детектива и его скинов. Респрайт .357 револьвера
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/guns/projectile.dmi
Labels: DMI

#2040 Fix: починка труб на каторге
  _maps/map_files/Delta/Lavaland.dmm
Labels: MAP

#2050 add: haircuts
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: DMI

#2036 FIX: Ещё немного фиксов для багов ниндзя
  code/datums/helper_datums/icon_snapshot.dm
  code/game/gamemodes/spaceninja/ninja/machinery/ninja_cloning.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_suit_initialisation.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit_SpiderOS.dm
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2005 ERT medic combat hypo
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/response_team/ert_outfits.dm
  icons/obj/hypo.dmi
  icons/obj/storage.dmi
Labels: DMI

#1974 add: clothes for captain
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#2013 Feat: crafts for various wooden floors
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  icons/obj/tiles.dmi
Labels: DMI

#2038 fix: фикс спрайтов оружия и привидения файла в человеческий вид
  icons/obj/ammo.dmi
Labels: DMI

#1941 FEAT: Courtroom+nearby areas update(delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1954 Add: buckwheat plant, seeds, harvest, reagent, foods
  code/modules/food_and_drinks/food/foods/misc.dm
  code/modules/food_and_drinks/food/foods/side_dishes.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/reagents/food.dm
  icons/obj/food/food.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: Merge Conflict, DMI

#2017 Feat: Новое растение moonlight и реагент moonlin.
  code/game/machinery/vending.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  icons/mob/head.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: DMI

#1946 FEAT: Wooden tribune and railing
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tribune.dm
  icons/obj/fence.dmi
  icons/obj/tribune.dmi
  paradise.dme
Labels: DMI

#2014 feat: some spawn features for some spawners
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/modules/awaymissions/corpse.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/oldstation.dm
  code/modules/awaymissions/mission_code/ruins/crashedipcship.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/ruins/lavalandruin_code/animal_hospital.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
  code/modules/ruins/lavalandruin_code/hermit.dm
  code/modules/ruins/syndicate_space_base.dm
Labels: MAP

#1779 QoL: new coat rack sprite assets and crafting recipe
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/coathanger.dm
  icons/obj/coatrack.dmi
Labels: DMI

#2071 fix: icon for 38 with 6 bullets
  icons/obj/ammo.dmi
Labels: DMI

#2089 Fix: captains cap sprite
  icons/mob/head.dmi
Labels: DMI

#2077 Песчанниковая кровать
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  icons/obj/objects.dmi
Labels: DMI

#2068 Feat: Service update(delta)
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
  icons/obj/chemical.dmi
  icons/obj/fence.dmi
  icons/obj/musician.dmi
Labels: MAP, DMI

#2075 Fix: Shooting range second air alarm
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2067 New Cocktails+
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
Labels: DMI

#2099 Fix: guncabinet missing sprites
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  icons/obj/guncabinet.dmi
Labels: DMI

#2041 feat: new space ruin
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  code/datums/ruins/space.dm
  code/modules/awaymissions/mission_code/ruins/ussplaboratory.dm
  icons/turf/areas.dmi
  paradise.dme
Labels: MAP, DMI

#2026 Robot transform animation
  code/game/gamemodes/spaceninja/ninja/ninja_borg_module.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  icons/mob/robots.dmi
Labels: DMI

#2086 Ниндзя: Цель на сбор вампирской крови, мидраунд moderate ивент на ниндзя и другие правки.
  _maps/map_files/generic/CentComm.dmm
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/spaceninja/ninja/machinery/ninja_bloodscan_machine.dm
  code/game/gamemodes/spaceninja/ninja/machinery/ninja_mindscan_machine.dm
  code/game/gamemodes/spaceninja/ninja/suit/glasses.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit.dm
  code/game/gamemodes/spaceninja/space_ninja.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/events/event_container.dm
  code/modules/events/ninja.dm
  icons/mob/actions/actions_ninja.dmi
  icons/obj/ninjaobjects.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/NinjaBloodScan.js
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/themes/spider_clan.scss
Labels: MAP, DMI, TGUI, javascript

#2098 Тайпан: пару мелких фиксов и картинки для зон
  _maps/map_files/generic/syndicatebase.dmm
  code/game/area/areas/syndicate_base.dm
  icons/turf/areas.dmi
Labels: Merge Conflict, MAP, DMI

#2097 Синди локер мех
  code/datums/uplink_item.dm
  code/game/mecha/makeshift/lockermech.dm
  code/game/mecha/paintkits.dm
  code/modules/crafting/recipes.dm
  icons/mecha/lockermech.dmi
  icons/mecha/mecha.dmi
  icons/obj/paintkit.dmi
Labels: DMI
