Repository ss220-space/Paradise, pull requests merged in 2023-07, with the labels that each got.

#3062 add: Xeno Door
  code/game/objects/structures/aliens.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  icons/obj/smooth_structures/alien/resin_door.dmi
  sound/creatures/alien/xeno_door_close.ogg
  sound/creatures/alien/xeno_door_open.ogg
Labels: DMI

#3041 ADD: Space dragon
  code/__DEFINES/colors.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/math.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/rolebans.dm
  code/__HELPERS/filters.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/plane_master.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/elements/connect_loc.dm
  code/datums/filter.dm
  code/modules/client/preference/preferences.dm
  code/modules/events/event_container.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/update_status.dm
  code/modules/space_dragon/action.dm
  code/modules/space_dragon/antag.dm
  code/modules/space_dragon/carp.dm
  code/modules/space_dragon/carp_rift.dm
  code/modules/space_dragon/event.dm
  code/modules/space_dragon/mob.dm
  icons/mob/screen_gen.dmi
  icons/mob/spacedragon_new.dmi
  icons/obj/carp_rift.dmi
  paradise.dme
  sound/creatures/space_dragon_roar.ogg
  sound/effects/gravhit.ogg
  sound/vehicles/rocketlaunch.ogg
Labels: DMI

#2972 Порт с оффов аварийного освещения в случае отказа энергии. Принудительное включение аварийного освещения в Дельту и особый эффект в Эпсилон
  code/game/area/areas.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/security_levels/security_levels.dm
  tgui/packages/tgui/interfaces/APC.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3083 ICONADD: ATMOS module & X-ray
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI

#3097 Feat: CereImprovbement-pt3
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2951 feat: agent card save slots
  code/game/objects/items/weapons/cards_ids.dm
  tgui/packages/tgui/interfaces/AgentCard.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3133 feat: fire makeshift bolts
  code/modules/projectiles/guns/throw/crossbow.dm
  icons/obj/weapons/crossbow_rod.dmi
Labels: DMI

#3140 qol: html-tgui links(f.e. in changelog) send you into your browser
  code/datums/changelog/changelog.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Changelog.js
  tgui/packages/tgui/links.js
  tgui/packages/tgui/public/tgui.bundle.js
  tools/changelog/gen_changelog.py
Labels: TGUI, javascript, python

#3125 bugfix: now teleporter console shows correct calibration state
  code/game/machinery/teleporter.dm
  tgui/packages/tgui/interfaces/Teleporter.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3138 feat: B.S.G
  code/game/gamemodes/changeling/powers/mutations.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_johyo.dm
  code/modules/antagonists/traitor/contractor/items/contractor_hardsuit.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/research/designs/weapon_designs.dm
  icons/effects/beam.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/energy.dmi
  sound/weapons/bsg_explode.ogg
Labels: DMI

#3156 ICONADD: Mech guns
  code/game/mecha/equipment/weapons/weapons.dm
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI

#3123 Add: Pack of new facial hair sprites for humans.
  code/modules/mob/new_player/sprite_accessories/human/human_facial_hair.dm
  icons/mob/sprite_accessories/human/human_facial_hair.dmi
Labels: DMI

#3099 add: New Patch Styles
  code/modules/client/asset_cache.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers/patch.dm
  icons/obj/chemical.dmi
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#3169 FIX: Drask naval uniform
  icons/mob/species/drask/uniform.dmi
Labels: DMI

#3150 FEAT: Hunter belt
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/crafting/recipes.dm
  code/modules/hydroponics/hydroitemdefines.dm
  icons/obj/clothing/belts.dmi
Labels: MAP, DMI

#3066 fix: language, textures, description and more for ussp ghost role
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/generic/CentComm.dmm
  code/__DEFINES/access.dm
  code/game/area/ss13_areas.dm
  code/game/jobs/access.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/trash.dm
  code/modules/awaymissions/mission_code/ruins/USSP_gorky17.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/rusted_weapons.dm
  code/modules/ruins/ussp_base.dm
  icons/effects/mapping_helpers.dmi
  icons/obj/lavaland/spawners.dmi
  paradise.dme
Labels: MAP, DMI

#3174 add: new posters!
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: DMI

#3176 imageadd: Shadowling Clothes
  code/game/gamemodes/shadowling/shadowling_items.dm
  code/modules/clothing/clothing.dm
  icons/obj/clothing/species/shadowling/shadowling_clothes.dmi
Labels: DMI

#3179 bugfix: CereImprovement-pt4
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#3193 bugfix: belts not show overlay for some items
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/holosign.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/clothing/gloves/color.dm
  code/modules/food_and_drinks/food/foods/candy.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mining/mine_items.dm
  code/modules/power/cable.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/clothing/belts.dmi
Labels: DMI

#3190 update_cmo_sunglasses
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#3180 feat: ert soap, amber ERT, PDW9, ammo vend, cargo AP ammo
  code/datums/supplypacks.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/response_team/ert_outfits.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/obj/items.dmi
  icons/obj/weapons/ammo.dmi
Labels: DMI

#3187 Add: plushie bubblegum toy
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
Labels: DMI

#3198 bugfix: Shuttle Fix
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#3203 bugfix: durathread jumpsuit hand sprite
  icons/mob/uniform.dmi
  paradise.dme
Labels: DMI

#3205 bugfix: sheath-rapier left side sprite fix
  icons/mob/belt.dmi
Labels: DMI

#3202 Resprite:Holy Floor
  icons/mob/actions/actions.dmi
  icons/turf/floors.dmi
Labels: DMI

#3218 add: Ashwalker Plushie on Mining Outpost.
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
Labels: MAP, DMI

#3215 add: new detective outfit
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/back.dmi
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/unathi/uniform.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/storage.dmi
Labels: DMI

#3225 bugfix: bsg sprites fix
  icons/obj/weapons/energy.dmi
Labels: DMI

#3226 bugfix: Restore two inventory icon updates for Smoking Pipe and Shoes procs. Correcting Jackboots icons.
  code/game/objects/items/weapons/cigs.dm
  code/modules/clothing/clothing.dm
  icons/obj/clothing/shoes.dmi
Labels: DMI

#3237 add: Plov Update!
  code/modules/food_and_drinks/food/foods/side_dishes.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  icons/obj/food/food.dmi
Labels: DMI

#3231 bugfix: dinnerware old vendor in delta's Old Restaurant now sells stuff properly
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/vending.dm
Labels: MAP

#3244 hotfix: Carp Rift Grant
  code/modules/space_dragon/antag.dm
  code/modules/space_dragon/carp_rift.dm
  icons/mob/actions/actions.dmi
Labels: DMI

#3178 Surgery Tweaks
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/constructable_frame.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/surgery/organs/organ.dm
  icons/obj/machines/vending.dmi
Labels: MAP, DMI
