Repository ss220-space/Paradise, pull requests merged in 2023-01, with the labels that each got.

#1826 FEAT: Update Admin_Zone
  _maps/map_files/generic/Admin_Zone.dmm
Labels: MAP

#1804 fix: delta external airlocks and escape pod airloss
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#1812 Splitted medbay maintenance
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#1811 Гриппер для диска и пинпоинтер для продвинутых боргов
  code/game/gamemodes/nuclear/pinpointer.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/device.dmi
Labels: DMI

#1840 FIX: Add missing sprite and edit drink_icon for Absinthe
  code/modules/reagents/chemistry/reagents/alcohol.dm
  icons/obj/drinks.dmi
Labels: DMI

#1838 FIX: добавление недостающих спрайтов синдикота
  icons/mob/pets.dmi
Labels: DMI

#1827 FIX: Некорректное отображение одежды в интерфейсе вендомата "AutoDrobe"
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#1851 FIX: Update CentComm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#1850 tweak: srt great again
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/access.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/hud.dmi
Labels: DMI

#1770 Пеинткиты и немного спрайтов
  code/game/mecha/mecha.dm
  code/game/mecha/paintkits.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mecha/mecha.dmi
  icons/obj/paintkit.dmi
Labels: DMI

#1861 FIX: Хонксквад, карты, иконки и лендмарки.
  _maps/map_files/Delta/delta.dmm
  code/datums/outfits/outfit_security_clown.dm
  code/game/jobs/access.dm
  code/modules/admin/verbs/honksquad.dm
  icons/mob/hud.dmi
  icons/obj/card.dmi
Labels: MAP, DMI

#1857 FIX: Фиксация кнопок от окон (delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1782 Добавление градиента волос.
  SQL/paradise_schema.sql
  SQL/updates/28-29.Sql
  code/__DEFINES/colors.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/objects/structures/mirror.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/surgery/organs/subtypes/standard.dm
  code/modules/tgui/modules/appearance_changer.dm
  config/example/dbconfig.txt
  icons/mob/hair_gradients.dmi
  tgui/packages/tgui/interfaces/AppearanceChanger.js
  tools/ci/dbconfig.txt
Labels: Merge Conflict, DMI, TGUI, javascript

#1854 Tweak: remove AI control from vox shuttle doors
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/doors/airlock_control.dm
Labels: MAP

#1865 FIX: Исправление пикселей + панелька
  icons/obj/vending.dmi
Labels: DMI

#1866 Fix: Brig evidence room APC
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
  icons/turf/areas.dmi
Labels: MAP, DMI

#1870 Fix: Maintenance door access in escape hall
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1873 FIX: pipes in RnD maintrence
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1872 FIX: Cargo Docking Hatch locked
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1864 FIX: потеря воздуха в пляжном гейте, появление космоса при удалении пола
  _maps/map_files/RandomZLevels/beach.dmm
Labels: MAP

#1887 Fix:kill duplicate
  icons/obj/guns/projectile.dmi
Labels: DMI

#1834 FEAT: Увеличение эвакуационных подов.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  code/modules/shuttle/emergency.dm
Labels: MAP

#1896 Feat: Project Ghetto, Cyberiad
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/area/ss13_areas.dm
  icons/effects/crayondecal.dmi
Labels: MAP, DMI

#1897 Fix: Linter & Pipes on Cyberiad Ghetto
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#1895 fix: intercomms in chapel and in processing
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1877 Система продвинутых Item Action-ов и интеграция её в абилки ниндзя
  code/__DEFINES/action.dm
  code/__DEFINES/ninja.dm
  code/datums/action.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/spaceninja/ninja/creeping_widow/energy_tornado.dm
  code/game/gamemodes/spaceninja/ninja/machinery/ninja_cloning.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_adrenaline.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_autodust.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_caltrops.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_chameleon.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_clone.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_cost_check.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_emergency_blink.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_empulse.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_energy_stars.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_healing_chems.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_johyo.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_net.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_smoke_bomb.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_spirit_form.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_stars.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_stealth.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_suit_initialisation.dm
  code/game/gamemodes/spaceninja/ninja/suit/ninja_equipment_actions/ninja_sword_recall.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit_SpiderOS.dm
  code/game/gamemodes/spaceninja/ninja/suit/suit_attackby.dm
  code/game/gamemodes/spaceninja/space_ninja.dm
  icons/mob/actions/actions_ninja.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#1906 FEAT: Virology update(delta)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1910 HOTFIX: Escape and external airlocks locked
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1912 FEAT: Hulk icon update
  icons/mob/hulk.dmi
Labels: DMI

#1924 fix: дюп солнечных очков на голодеке
  _maps/map_files/generic/Admin_Zone.dmm
  code/modules/clothing/glasses/glasses.dm
Labels: MAP

#1939 Фонарик на ВТ.
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/projectile.dmi
Labels: DMI

#1925 FEAT: Снижение до 10 часов, добавление КАПа часов отдела для новичков
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/controllers/subsystem/jobs.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/new_player/new_player.dm
  config/example/jobs.txt
  config/example/jobs_highpop.txt
Labels: MAP

#1890 FEAT: Magistrate Action Figure
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
Labels: DMI

#1913 add: clothes for hop
  _maps/map_files/Delta/delta.dmm
  code/datums/datacore.dm
  code/game/jobs/job/supervisor.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/civilian.dm
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: MAP, DMI

#1927 FEAT: Departaments ClothesMates
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/supplypacks.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/vending_items.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/clothing/gloves/color.dm
  icons/obj/vending.dmi
Labels: MAP, DMI

#1947 HOTFIX: Only one Sec Tech
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1953 HOTFIX: deleted escape airlocks
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1933 Deleted telecrystal
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#1932 add: rainbow sky drink
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/obj/drinks.dmi
Labels: DMI

#1860 [TEST MERGE] Black Market Packers переработка гейта
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  code/modules/awaymissions/corpse.dm
  code/modules/awaymissions/mission_code/blackmarketpackers.dm
  icons/turf/areas.dmi
Labels: MAP, DMI
