Repository ss220-space/Paradise, pull requests merged in 2023-05, with the labels that each got.

#2734 FEAT: Nanotrasen Naval Command stamp
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/central.dm
  code/game/machinery/computer/communications.dm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/stamps.dm
  icons/misc/paper_icons/large_stamp-navcom.png
  icons/obj/bureaucracy.dmi
Labels: DMI

#2200 Feat: Space Battle rework
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  code/modules/awaymissions/mission_code/spacebattle.dm
  icons/mob/custom_synthetic/custom-synthetic.dmi
  icons/obj/spacebattle.dmi
Labels: MAP, DMI

#2706 Гравиботинки!
  code/datums/action.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/martial_arts/grav_stomp.dm
  code/modules/research/designs/equipment_designs.dm
  icons/mob/feet.dmi
  icons/mob/species/drask/shoes.dmi
  icons/mob/species/monkey/shoes.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/vox/shoes.dmi
  icons/obj/clothing/shoes.dmi
  paradise.dme
Labels: DMI

#2741 [READY] Add: Cerestation Lavaland
  _maps/map_files/cerestation/Lavaland.dmm
  code/game/area/areas/mining.dm
  code/modules/map_fluff/cerestation.dm
Labels: MAP

#2760 fix: ferry console null access
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#2785 fix: missing wooden bucket sprite
  icons/mob/head.dmi
Labels: DMI

#2624 Refactor: Shuttles not take space/lava/chasms with them on transit
  _maps/map_files/generic/CentComm.dmm
  code/modules/shuttle/shuttle.dm
Labels: MAP

#2778 Fix: ussp alarm on atmospherics console
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  code/modules/awaymissions/mission_code/ruins/ussplaboratory.dm
Labels: MAP

#2709 feat: add shredders and office toys on maps
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  icons/effects/mapping_helpers.dmi
Labels: MAP, DMI

#2796 Fix: adminzone level space area
  _maps/map_files/generic/Admin_Zone.dmm
Labels: MAP

#2797 Fix: cerestation grille
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2798 Fix: remove broken icon
  icons/obj/pipes_and_stuff/not_atmos/large.dmi
Labels: DMI

#2799 Фиксы спрайтов унатхов
  code/game/gamemodes/changeling/powers/mutations.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
Labels: DMI

#2775 feat: Spai update by bdfyb
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  code/__DEFINES/sight.dm
  code/_onclick/pai.dm
  code/datums/uplink_item.dm
  code/game/machinery/computer/security.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_chemicals.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  code/modules/mob/living/silicon/pai/software/pai_toggles.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_module_actions.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/tgui/plugins/login.dm
  icons/mob/actions/actions.dmi
  icons/mob/head.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
  icons/mob/pai.dmi
  icons/obj/aicards.dmi
  icons/obj/objects.dmi
  icons/obj/pda.dmi
  tgui/packages/tgui/interfaces/pai/pai_advsecrecords.js
  tgui/packages/tgui/interfaces/pai/pai_main_menu.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#2805 fix: ninja robotic brain
  code/game/gamemodes/spaceninja/ninja/ninja_borg_module.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/robotic_brain.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  icons/obj/module.dmi
Labels: DMI

#2809 Fix: RD trash-party in cabinet!
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#2816 Fix: Bedokur inhands icon
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI

#2786 resprite: Holy constructs
  code/datums/spells/construct_spells.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/mob/living/simple_animal/constructs.dm
  icons/effects/cult_effects.dmi
  icons/mob/actions/actions.dmi
  icons/mob/mob.dmi
  icons/obj/cult.dmi
  icons/turf/floors.dmi
  icons/turf/walls/cult_wall.dmi
Labels: DMI

#2810 "Бафф" посоха Асклепия
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#2817 fix/ref: move item/storage creation to initialize
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/uplink_item.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/thief/thief_kit.dm
  code/game/machinery/cloning.dm
  code/game/mecha/mecha_control_console.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/grenades/custom_grenades.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/inflatable.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/fulton.dm
  code/modules/antagonists/traitor/contractor/items/contractor_kit.dm
  code/modules/arcade/mob_hunt/mob_cards.dm
  code/modules/awaymissions/mission_code/blackmarketpackers.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/clothing/upgrade_modules/hardsuit_shield_module/hardsuit_shield.dm
  code/modules/clothing/upgrade_modules/hardsuit_taser_proof_module/hardsuit_taser_proof.dm
  code/modules/customitems/item_defines.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/mining/money_bag.dm
  code/modules/pda/pdas.dm
  code/modules/projectiles/guns/projectile/bow.dm
  code/modules/surgery/organs/augments_internal.dm
Labels: MAP

#2708 Хамелеон-обманка
  code/datums/uplink_item.dm
  code/game/objects/items/devices/chameleon_counter.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/obj/device.dmi
  paradise.dme
Labels: DMI

#2784 Feat: QM drip
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/civilian.dm
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/monkey/suit.dmi
  icons/mob/species/monkey/uniform.dmi
  icons/mob/species/unathi/uniform.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#2838 Fix: Cloak fix front sprite
  icons/mob/neck.dmi
Labels: DMI

#2849 Fix? correct button name in ERT armory.
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#2842 FIX: Holodeck shifted walls, removed redundant holodeck area markers
  _maps/map_files/generic/Admin_Zone.dmm
Labels: MAP

#2834 fungus, 4th backpack and omega is not a myth anymore on oldstation
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
Labels: MAP

#2759 feat: Mecha Strafe
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mob/actions/actions_mecha.dmi
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI

#2835 Feat: Cere improvement
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#2854 feat: various makeshifts crafts
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/whetstone.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/crafting/recipes.dm
  code/modules/crafting/tailoring.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/species/drask/gloves.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/kidan/head.dmi
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/monkey/head.dmi
  icons/mob/species/monkey/suit.dmi
  icons/mob/species/nian/helmet.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/vox/gloves.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items.dmi
Labels: DMI

#2856 TWEAK: Mech buff p.1
  _maps/map_files/generic/CentComm.dmm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/marauder.dm
Labels: MAP

#2864 ADD: Pneumatic Rifle
  code/game/objects/items/weapons/pneumaticRifle.dm
  icons/mob/back.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/pneumaticRifle.dmi
  paradise.dme
  sound/weapons/pneumatic_rifle.ogg
Labels: DMI

#2875 FEAT: Mime mask with silence skill
  _maps/map_files/Delta/delta.dmm
  code/datums/action.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/spells/mime.dm
  code/game/jobs/job/support.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/masks/gasmask.dm
Labels: MAP

#2878 ADD: Ascended Shadowling retexture
  code/game/gamemodes/shadowling/ascendant_shadowling.dm
  icons/mob/mob.dmi
Labels: DMI

#2879 Еще одно исправление спрайтов унати
  code/modules/clothing/under/jobs/security.dm
  icons/mob/species/unathi/uniform.dmi
Labels: DMI

#2888 fix: razorgloves onmob sprites some shift
  icons/mob/hands.dmi
  icons/mob/species/drask/gloves.dmi
Labels: DMI

#2886 Новая трубка для курения
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/cigs.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/mob/mask.dmi
  icons/mob/species/drask/mask.dmi
  icons/mob/species/grey/mask.dmi
  icons/mob/species/monkey/mask.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/species/vox/mask.dmi
  icons/mob/species/vulpkanin/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: DMI

#2884 Feat: Human - 3 hair and 2 body markings
  code/modules/mob/new_player/sprite_accessories/human/human_body_markings.dm
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  icons/mob/sprite_accessories/human/human_body_markings.dmi
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: DMI

#2889 ADD: Paintkit "Executioner"
  code/game/mecha/paintkits.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mecha/mecha.dmi
  icons/obj/paintkit.dmi
Labels: DMI

#2813 Contractor stuff
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/traitor.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_support.dm
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/baton.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/blackout.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/fulton.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/hardsuit.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/reinforcements.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/reroll.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/zippo.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/antagonists/traitor/contractor/items/contractor_baton.dm
  code/modules/antagonists/traitor/contractor/items/contractor_hardsuit.dm
  code/modules/antagonists/traitor/contractor/items/contractor_kit.dm
  code/modules/antagonists/traitor/contractor/items/contractor_pinpointer.dm
  code/modules/antagonists/traitor/contractor/items/contractor_uplink.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/effects/beam.dmi
  icons/mob/actions/actions.dmi
  icons/mob/contractor.dmi
  icons/mob/head.dmi
  icons/mob/hud.dmi
  icons/mob/species/drask/helmet.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/helmet.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/helmet.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/device.dmi
  icons/obj/fulton.dmi
  icons/obj/items.dmi
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectiles.dmi
  paradise.dme
Labels: DMI

#2892 Caplaser reskin
  code/modules/projectiles/guns/energy/laser.dm
  icons/obj/weapons/energy.dmi
Labels: DMI
