Repository ss220-space/Paradise, pull requests merged in 2023-06, with the labels that each got.

#2903 Ghetto removed
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#2906 feat: holy shell in chaplain closet
  code/datums/spells/construct_spells.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/modules/mob/living/simple_animal/constructs.dm
  icons/mob/actions/actions.dmi
  icons/obj/wizard.dmi
Labels: DMI

#2908 Ракетный гранатомет для ядерных оперативников
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  icons/obj/weapons/projectiles.dmi
  sound/weapons/rocketlaunch.ogg
Labels: DMI

#2930 Новая одежда для мимессы
  code/game/jobs/job/support.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/unathi/uniform.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#2915 Станция сссп
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/__DEFINES/access.dm
  code/modules/ruins/ussp_base.dm
  icons/obj/card.dmi
  paradise.dme
Labels: MAP, DMI

#2936 fix: holy construct sprites and faction
  code/modules/mob/living/simple_animal/constructs.dm
  icons/mob/mob.dmi
Labels: DMI

#2949 feat: cryo storage tgui
  code/game/machinery/cryopod.dm
  tgui/packages/tgui/interfaces/CryopodConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#2958 Фикс одежды мимессы
  code/game/jobs/job/support.dm
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/unathi/uniform.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform.dmi
Labels: DMI

#2933 Feat: 22 types of soap
  code/game/objects/items/weapons/soap.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/obj/items.dmi
Labels: DMI

#2963 Увеличение количества сигарет в пачках. Фиксы спрайтов сигарет
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/fancy.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/cigarettes.dmi
Labels: DMI

#2980 Add: auto changelog generation
  code/__HELPERS/text.dm
  code/controllers/subsystem/changelog.dm
  code/datums/changelog/changelog.dm
  code/game/world.dm
  code/modules/client/asset_cache.dm
  code/modules/client/client_procs.dm
  html/archived_changelog/88x31.png
  html/archived_changelog/_README.txt
  html/archived_changelog/bug-minus.png
  html/archived_changelog/burn-exclamation.png
  html/archived_changelog/changelog.css
  html/archived_changelog/changelog.html
  html/archived_changelog/changelog.js
  html/archived_changelog/changelogs/.all_changelog.yml
  html/archived_changelog/changelogs/__CHANGELOG_README.txt
  html/archived_changelog/changelogs/example.yml
  html/archived_changelog/chevron-expand.png
  html/archived_changelog/chevron.png
  html/archived_changelog/cross-circle.png
  html/archived_changelog/hard-hat-exclamation.png
  html/archived_changelog/image-minus.png
  html/archived_changelog/image-plus.png
  html/archived_changelog/music-minus.png
  html/archived_changelog/music-plus.png
  html/archived_changelog/panels.css
  html/archived_changelog/search.js
  html/archived_changelog/spell-check.png
  html/archived_changelog/templates/footer.html
  html/archived_changelog/templates/header.html
  html/archived_changelog/tick-circle.png
  html/archived_changelog/wrench-screwdriver.png
  html/changelogs/archive/2023-05.yml
  html/changelogs/archive/2023-06.yml
  paradise.dme
  tgui/packages/tgui/components/Stack.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/Changelog.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/Stack.scss
  tgui/packages/tgui/styles/interfaces/Changelog.scss
  tgui/packages/tgui/styles/main.scss
  tgui/yarn.lock
  tools/changelog/gen_changelog.py
Labels: TGUI, javascript, python

#2986 add: коробки с пленками АВД, Магистрату, в бриг (Delta)
  _maps/map_files/Delta/delta.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: MAP

#2990 add: mantis blade
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/whetstone.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autoimplanter.dm
  code/modules/surgery/organs_internal.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
  icons/obj/surgery.dmi
  sound/weapons/wristblades_off.ogg
  sound/weapons/wristblades_on.ogg
Labels: DMI

#2994 feat: CereImprovement-pt2
  _maps/map_files/cerestation/cerestation.dmm
  code/game/objects/effects/spawners/airlock_spawner.dm
Labels: MAP

#3004 feat: Thunderdome for ghosts, patch 1
  _maps/map_files/generic/Admin_Zone.dmm
  code/modules/thunderdome/thunderdome_battle.dm
Labels: MAP

#3022 Add: changelog generation action
  .github/workflows/generate_changelog.yml
  tools/changelog/gen_changelog.py
Labels: python

#3000 Major Centcomm.dmm Update and add ERT Vendings, Amber EVAs and some fixes for ERT
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/decals/syndie_logo_decals.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/vending_items.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/response_team/ert_outfits.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/monkey/head.dmi
  icons/mob/species/monkey/suit.dmi
  icons/mob/suit.dmi
  icons/obj/NT_logo_long_torn.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/machines/vending.dmi
  icons/obj/vending_restock.dmi
Labels: MAP, DMI

#3019 Feat yum baton holding
  code/game/objects/items/weapons/storage/belt.dm
  icons/obj/clothing/belts.dmi
Labels: DMI

#2934 Порт новой мегафауны с оффов - "Vetus Speculator"
  code/__DEFINES/medal.dm
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/neutral.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/lavaland/loot/ancient_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  icons/effects/96x96.dmi
  icons/effects/effects.dmi
  icons/mob/lavaland/64x64megafauna.dmi
  icons/mob/lavaland/lavaland_monsters.dmi
  icons/obj/device.dmi
  icons/obj/meteor.dmi
  paradise.dme
Labels: DMI

#3029 Fix?: "Roll Down"ed ver. for Durathread Jumpsuit.
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/monkey/uniform.dmi
  icons/mob/species/unathi/uniform.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform.dmi
Labels: DMI

#3039 Fix: Some fixes for PR "Major Centcomm.dmm Update"
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#3043 Fix: Return clothes vendings icons in vending.dmi
  icons/obj/machines/vending.dmi
Labels: DMI

#3026 Офицерские радио, удаление КЗ из коробочек СБ, спрайты офицерского ломика в руках
  _maps/map_files/Delta/delta.dmm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/radio.dmi
Labels: MAP, DMI

#3015 Add: Emitter Cannon and for emags engi borgs
  code/game/objects/items/robot/robot_items.dm
  code/modules/crafting/recipes.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/robot_items.dmi
  icons/obj/weapons/energy.dmi
Labels: DMI

#3046 update-sprite-pistol-aps-uzi
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/weapons/projectile.dmi
Labels: DMI

#3065 fix: spacedragon.dmi metadata
  icons/mob/spacedragon.dmi
Labels: DMI

#2998 Теперь блоб "захватывает" боеголовку вместо того, чтобы пожирать ее
  code/game/gamemodes/blob/blobs/captured_nuke.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  icons/mob/blob.dmi
  paradise.dme
Labels: DMI

#3070 feat: mecha eng_toolset
  code/_onclick/item_attack.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/weapons/kitchen.dm
  code/modules/mob/mob.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI

#2957 Новые цели для кражи - плутониевое ядро и срез СМ.
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/steal_items.dm
  code/game/objects/items/theft_items.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/admin/verbs/pray.dm
  code/modules/power/supermatter/supermatter.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/nuke_tools.dmi
  paradise.dme
Labels: DMI

#3032 REWORK: Lavaland armour
  code/game/objects/items.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#3059 FEAT: Knuckles
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/hands.dmi
  icons/mob/species/drask/gloves.dmi
  icons/mob/species/drask/gloves1.dmi
  icons/mob/species/grey/gloves.dmi
  icons/mob/species/monkey/gloves.dmi
  icons/mob/species/vox/gloves.dmi
  icons/obj/clothing/gloves.dmi
Labels: DMI

#3048 Теперь в биодоме клоунов появляется палочка поскальзывания вместо посоха
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  code/modules/projectiles/guns/magic/wand.dm
  icons/obj/weapons/magic.dmi
Labels: MAP, DMI

#3074 Добавление анимаций для печати бумаг некоторым предметам. Новый спрайт сканеру аутопсии
  code/game/objects/items/devices/autopsy.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/taperecorder.dm
  code/modules/detective_work/scanner.dm
  icons/goonstation/objects/objects.dmi
  icons/obj/autopsy_scanner.dmi
  icons/obj/device.dmi
Labels: DMI

#2633 FEAT: finally peas
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/kitchen_machinery/juicer.dm
  code/modules/hydroponics/grown/peas.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  paradise.dme
  sound/items/SitcomLaugh1.ogg
  sound/items/SitcomLaugh2.ogg
  sound/items/SitcomLaugh3.ogg
Labels: DMI

#3069 Fix: Очистка спрайтов в vemdings.dmi
  icons/obj/machines/vending.dmi
Labels: DMI

#3094 QoL: Shitspawn Mecha
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/mecha_wreckage.dm
  icons/obj/mecha/mecha.dmi
  paradise.dme
Labels: DMI

#3038 FEAT: Loadout suits rework
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: MAP

#3085 FIX: Dark Templar helmet
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: DMI

#3082 add: guitar bag
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/crafting/tailoring.dm
  code/modules/store/items.dm
  icons/mob/back.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/species/drask/back.dmi
  icons/mob/species/grey/back.dmi
  icons/mob/species/monkey/back.dmi
  icons/mob/species/vox/back.dmi
  icons/obj/storage.dmi
Labels: DMI

#3093 FEAT: New 12 gauge revolver
  code/datums/supplypacks.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/weapons/projectile.dmi
  sound/weapons/gunshots/1rev12.ogg
Labels: DMI

#3086 Спрайты игрушек в руках
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#2987 Новый предмет в РНД - "fusion gauntlets"
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_reinforced.dm
  code/modules/research/designs/weapon_designs.dm
  icons/mob/hands.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/items.dmi
Labels: DMI
