Repository ss220-space/Paradise, pull requests merged in 2023-08, with the labels that each got.

#3280 bugfix: SpaceBar shuttle fix window
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#3273 Add: Mr. Chang's Aggressive Marketing
  code/datums/uplink_item.dm
  code/game/gamemodes/thief/thief_kit.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/cash.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/martial_arts/combos/mrchang/steal_card.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/mrchang.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/reagents/chemistry/reagents/food.dm
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/grey/suit.dmi
  icons/mob/species/monkey/suit.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/vox/shoes.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/library.dmi
  icons/obj/storage.dmi
  paradise.dme
  sound/weapons/mr_chang/mr_chang_1.mp3
  sound/weapons/mr_chang/mr_chang_2.mp3
  sound/weapons/mr_chang/mr_chang_3.mp3
  sound/weapons/mr_chang/mr_chang_4.mp3
  sound/weapons/mr_chang/mr_chang_5.mp3
  sound/weapons/mr_chang/mr_chang_steal_card_1.mp3
  sound/weapons/mr_chang/mr_chang_steal_card_2.mp3
  sound/weapons/mr_chang/mr_chang_steal_card_3.mp3
  sound/weapons/mr_chang/mr_chang_steal_card_4.mp3
Labels: DMI

#3284 fix: some fix for vulp sprite
  code/modules/clothing/head/helmet.dm
  icons/mob/species/vulpkanin/helmet.dmi
Labels: DMI

#3259 add: Dangerous Tray | Chef Update
  code/datums/uplink_item.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/obj/food/containers.dmi
Labels: DMI

#3300 add: CereImprovement-pt5
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#3297 fix: bad detective sprites
  code/modules/clothing/under/jobs/security.dm
  icons/mob/species/unathi/uniform.dmi
  icons/mob/species/vulpkanin/uniform.dmi
  icons/obj/clothing/uniforms.dmi
  paradise.dme
Labels: DMI

#3261 add: Biosuit boots & gloves
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/suit.dmi
Labels: DMI

#3315 add: Rubber Toolbox
  code/game/objects/items/toys.dm
  code/modules/arcade/prize_datums.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
Labels: DMI

#3319 Add: new automatic shotgun for nuclear operatives and nuclear shotgun ammo tweaks
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  sound/weapons/gun_interactions/autoshotgun_mag_in.ogg
  sound/weapons/gun_interactions/autoshotgun_mag_out.ogg
  sound/weapons/gunshots/bulldog.ogg
  sound/weapons/gunshots/minotaur.ogg
Labels: MAP, DMI

#3311 mimejutsu
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/martial_arts/combos/mimejutsu/execution.dm
  code/modules/martial_arts/combos/mimejutsu/mimechucks.dm
  code/modules/martial_arts/combos/mimejutsu/silencer.dm
  code/modules/martial_arts/combos/mimejutsu/silent_palm.dm
  code/modules/martial_arts/combos/mimejutsu/smokebomb.dm
  code/modules/martial_arts/mimejutsu.dm
  icons/obj/library.dmi
  paradise.dme
  sound/weapons/blunthit_mimejutsu.ogg
  sound/weapons/grab_mimejutsu.ogg
  sound/weapons/mimechucks_mimejutsu.ogg
  sound/weapons/silencer_mimejutsu.ogg
Labels: DMI

#3312 bugfix?: Drasks and doors
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
Labels: MAP

#3317 add: Big Iron
  _maps/map_files/RandomRuins/SpaceRuins/blowntcommsat.dmm
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/station_goals/bluespace_tap.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: MAP, DMI

#3307 bugfix: CorobImprovement-pt1
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#3335 bugfix: bolts on syndie-prison
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#3334 bugfix: CereBeltFix
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#3302 Tweak: health hud no longer displayed on 100% HP mobs
  icons/mob/hud.dmi
Labels: DMI

#3336 add: Brig Healer Handheld Crew Monitor
  code/datums/cache/crew.dm
  code/game/objects/items/devices/sensor_device.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/tgui/modules/crew_monitor.dm
  icons/obj/device.dmi
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#3197 add: bread monster
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  code/datums/helper_datums/teleport.dm
  code/game/atoms_movable.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  code/modules/mob/living/simple_animal/hostile/bread_monster.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/brs/brs_reward.dm
  icons/mob/bread_monster.dmi
  paradise.dme
  sound/creatures/breadmonster/bread_bite.ogg
  sound/creatures/breadmonster/bread_damaged.ogg
  sound/creatures/breadmonster/bread_death.ogg
  sound/creatures/breadmonster/bread_talk.ogg
Labels: MAP, DMI

#3345 del: Reverts changes in USSP
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: MAP

#3080 FEAT: Fake cult sheets and armour
  _maps/map_files/Delta/delta.dmm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/clockwork/clockwork_misc.dm
  code/game/gamemodes/clockwork/clockwork_structures.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/door_assembly_types.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: MAP

#3360 bugfix: Cere CMO Fix
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#3354 imageadd: some missing sprites for drasks and voxes, flags
  icons/mob/inhands/flags_lefthand.dmi
  icons/mob/inhands/flags_righthand.dmi
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/vox/back.dmi
Labels: DMI

#3357 bugfix: few fixes
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  code/datums/outfits/outfit.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/food_and_drinks/item_food/eat_items.dm
  code/modules/mob/inventory.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/weapon_designs.dm
Labels: MAP

#3382 bugfix: delete CC camera
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#3372 new_spraycan
  icons/obj/crayons.dmi
Labels: DMI

#3377 feat: new engiborg skin
  code/game/objects/items/devices/chameleonproj.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/silicon_hat.dm
  icons/mob/robots.dmi
Labels: DMI

#3347 imageadd: holy constructs
  icons/mob/mob.dmi
  icons/obj/wizard.dmi
Labels: DMI

#3355 add: New icons for quiver and Santa's gift bag
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/projectiles/guns/projectile/bow.dm
  icons/obj/storage.dmi
Labels: DMI

#3359 add: gas mask with voice modulator
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/devices/voice.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/crafting/tailoring.dm
  code/modules/mob/living/carbon/human/say.dm
  icons/mob/mask.dmi
  icons/mob/species/drask/mask.dmi
  icons/mob/species/grey/mask.dmi
  icons/mob/species/plasmaman/mask.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/species/vox/mask.dmi
  icons/mob/species/vulpkanin/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: DMI

#3374 add: new weapon to Gamma ERT/armory
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/vending.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
Labels: MAP, DMI

#3361 Remap: Bridge, Central Hallway, Barber
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3376 add: Rockso costume
  code/game/machinery/vending.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/mask.dmi
  icons/mob/species/drask/head.dmi
  icons/mob/species/drask/mask.dmi
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/head.dmi
  icons/mob/species/grey/mask.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/kidan/head.dmi
  icons/mob/species/kidan/mask.dmi
  icons/mob/species/kidan/uniform.dmi
  icons/mob/species/monkey/head.dmi
  icons/mob/species/monkey/mask.dmi
  icons/mob/species/monkey/uniform.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/mask.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/species/vulpkanin/mask.dmi
  icons/mob/species/wryn/head.dmi
  icons/mob/species/wryn/mask.dmi
  icons/mob/species/wryn/uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#3394 HOTFIX: Bridge accesses and account console
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3384 refactor: Рендеринг шкафов теперь осуществляется с использованием оверлеев
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/area/ss13_areas.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/random_items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/fitness.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/game/objects/structures/crates_lockers/closets/secure/civillian.dm
  code/game/objects/structures/crates_lockers/closets/secure/depot.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/mining/mine_items.dm
  icons/obj/closet.dmi
  paradise.dme
Labels: MAP, DMI

#3403 bugfix: Bridge disposal pipes and some improvements
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3406 bugfix: custom closets render
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/objects/structures/crates_lockers/closets.dm
  icons/obj/closet.dmi
Labels: MAP, DMI

#3365 tweak (bluespace rift): patch pack for new station goal
  code/__DEFINES/dcs/signals.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/station_goals/brs.dm
  code/modules/station_goals/brs/brs_event_container.dm
  code/modules/station_goals/brs/brs_portable_scanner.dm
  code/modules/station_goals/brs/brs_reward.dm
  code/modules/station_goals/brs/brs_rift_effect.dm
  code/modules/station_goals/brs/brs_scanner.dm
  code/modules/station_goals/brs/brs_server.dm
  code/modules/station_goals/brs/brs_stationary_scanner.dm
  tgui/packages/tgui/interfaces/BluespaceRiftScanner.js
  tgui/packages/tgui/interfaces/BluespaceRiftServer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3387 refactor: Datumized Thief
  code/__HELPERS/atoms.dm
  code/__HELPERS/lists.dm
  code/datums/mind.dm
  code/game/gamemodes/changeling/thief_chan.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/steal_items.dm
  code/game/gamemodes/thief/changeling_thief.dm
  code/game/gamemodes/thief/thief.dm
  code/game/gamemodes/thief/thief_objective.dm
  code/game/gamemodes/thief/traitor_thief.dm
  code/game/gamemodes/thief/traitor_thief_chan.dm
  code/game/gamemodes/thief/traitor_thief_vamp.dm
  code/game/gamemodes/thief/vampire_thief.dm
  code/game/gamemodes/vampire/thief_vamp.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/thief/thief_datum.dm
  code/modules/antagonists/thief/thief_kit.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/silicon/login.dm
  icons/mob/actions/actions.dmi
  paradise.dme
Labels: DMI

#3414 tweak: overlay locker and critter closet fix
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  icons/obj/closet.dmi
  icons/obj/walllocker.dmi
Labels: DMI

#3421 fix: unathi cult robes
  icons/mob/species/unathi/suit.dmi
Labels: DMI

#3419 tweak: bluespace closet icon adjust
  icons/obj/closet.dmi
Labels: DMI

#3415 add: одежда для кулинарного артиста
  code/game/jobs/job/support.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/civilian.dm
  icons/mob/belt.dmi
  icons/mob/head.dmi
  icons/mob/species/drask/suit.dmi
  icons/mob/species/drask/uniform.dmi
  icons/mob/species/grey/head.dmi
  icons/mob/species/grey/suit.dmi
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/monkey/head.dmi
  icons/mob/species/monkey/suit.dmi
  icons/mob/species/monkey/uniform.dmi
  icons/mob/species/unathi/uniform.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#3342 feat: radio AltClick, radio CtrlShiftClick, new intercom sprites
  code/game/objects/items/devices/radio/radio.dm
  icons/obj/radio.dmi
Labels: DMI

#3388 Spacebar update
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
Labels: MAP

#3432 Bugfix: remove missclicked windows spawner
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3434 tweak: Title Screen
  _maps/map_files/generic/CentComm.dmm
  code/controllers/subsystem/non-firing/titlescreen.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  config/title_screens/images/default.dmi
Labels: MAP, DMI

#3175 add: Items Pixel Shift
  code/game/objects/items.dm
  code/modules/tgui/modules/item_pixel_shift.dm
  paradise.dme
  tgui/packages/tgui/interfaces/ItemPixelShift.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3344 add: Self-hosted Silero TTS Server
  tools/ttsServer/README.md
  tools/ttsServer/launch_server.bat
  tools/ttsServer/requirements.txt
  tools/ttsServer/test_result.ogg
  tools/ttsServer/tts_processor.py
  tools/ttsServer/tts_server.py
Labels: python
