Repository ss220-space/Paradise, pull requests merged in 2023-10, with the labels that each got.

#3647 tweak: pAI vendor for syndi base.
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#3640 bugfix: Cyberiad Lavaland Outpost
  _maps/map_files/generic/Lavaland.dmm
Labels: MAP

#3646 fix: golem targeter fix and no more alien multitool on golem shuttle
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: MAP

#3664 fix: normal tail wagging for new unathi tails
  icons/effects/species.dmi
  icons/mob/clothing/body_accessory.dmi
Labels: DMI

#3597 add: Colorful buckets and Cleanbots
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  icons/mob/clothing/head.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/aibots.dmi
  icons/obj/janitor.dmi
Labels: DMI

#3655 add:Baked vulp
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/surgery/organs/subtypes/vulpkanin.dm
  icons/obj/food/food.dmi
Labels: DMI

#3666 tweak: balaclava icon change
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: DMI

#3659 TWEAK: hypospray recolour
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/hypo.dmi
Labels: DMI

#3670 Revert "Tweak: Change Sec HUD icons of Syndicate"
  code/game/jobs/access.dm
  icons/mob/hud.dmi
Labels: DMI

#3671 tweak: change sec HUD icon for deathsquad
  code/game/jobs/access.dm
  icons/mob/hud.dmi
Labels: DMI

#3472 add: Bombarda, handmade grenade launcher.
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/bombarda.dmi
  paradise.dme
Labels: DMI

#3668 Fix: Delta library and some more
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3726 tweak: crewmember-aid-kit
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/obj/storage.dmi
Labels: DMI

#3721 bugfix: normal drake hood for vulps
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/species/vulpkanin/helmet.dmi
Labels: DMI

#3699 tweak: Bombarda tweaks
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  icons/obj/weapons/bombarda.dmi
  sound/weapons/bombarda/load.ogg
  sound/weapons/bombarda/open.ogg
  sound/weapons/bombarda/pump.ogg
Labels: DMI

#3711 bugfix: small map fixes.
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3682 add:sexy mustache beards and hairstyles
  code/modules/mob/new_player/sprite_accessories/human/human_body_markings.dm
  code/modules/mob/new_player/sprite_accessories/human/human_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  icons/mob/sprite_accessories/human/human_body_markings.dmi
  icons/mob/sprite_accessories/human/human_facial_hair.dmi
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: DMI

#3706 add: zerkalo on beach biodome
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
Labels: MAP

#3687 Fix: old Z2 emo shuttles
  _maps/map_files/generic/z2_old.dmm
Labels: MAP

#3660 tweak: Vampire Tweaks and Fixes
  code/controllers/subsystem/throwing.dm
  code/datums/spell_handler/vampire_spell_handler.dm
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/gargantua_powers.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/mining/marrow_weaver.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  tgui/packages/tgui/interfaces/VampireTrophiesStatus.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3577 add: headslug event
  code/__DEFINES/gamemode.dm
  code/game/gamemodes/miniantags/changeling_slug/changeling_slug.dm
  code/game/gamemodes/miniantags/changeling_slug/changeling_slug_event.dm
  code/modules/antagonists/changeling/changeling_datum.dm
  code/modules/antagonists/changeling/powers/headslug.dm
  code/modules/antagonists/changeling/powers/hivemind.dm
  code/modules/events/event_container.dm
  code/modules/mob/language.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  icons/mob/mob.dmi
  paradise.dme
Labels: DMI

#3741 fix: wrong-mantisblades-sprite
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#3736 bugfix: lavaland clown dome set lava base turf
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
Labels: MAP

#3766 qol: Chemicals in dispenser can be floored to lesser integer number
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3729 imageadd: literally injector sprite for DNA injector.
  code/game/dna/dna_modifier.dm
  code/game/objects/items/weapons/dna_injector.dm
  icons/obj/clothing/belts.dmi
  icons/obj/hypo.dmi
  icons/obj/items.dmi
Labels: DMI

#3756 add: akula plushie
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
  sound/items/rawr.ogg
Labels: DMI

#3753 add: Added and reworked Plasmaman Envirosuits sprites
  code/datums/outfits/plasmamen.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/plasmamen/civilian_service.dm
  code/modules/clothing/under/jobs/plasmamen/special.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  icons/mob/clothing/species/plasmaman/helmet.dmi
  icons/mob/clothing/species/plasmaman/neck.dmi
  icons/mob/clothing/species/plasmaman/uniform.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/uniform.dmi
  paradise.dme
Labels: DMI

#3516 refactor: Pathfinder Subsystem and Bots Refactor
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  code/__DEFINES/span.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/turfs.dm
  code/__HELPERS/path.dm
  code/controllers/subsystem/non-firing/pathfinder.dm
  code/datums/spell_targeting/reachable_turfs.dm
  code/defines/procs/AStar.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/objs.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/surgery/surgery.dm
  paradise.dme
Labels: MAP

#3710 add: Improvised Revolver
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  sound/weapons/gunshots/improvrev_shot.ogg
Labels: DMI

#3696 add: abductor decor
  code/datums/components/contsruction_regenerate.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/computer.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/modules/research/designs/smelting_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/chairs.dmi
  icons/obj/items.dmi
  icons/obj/machines/computer.dmi
  icons/obj/smooth_structures/alien_window.dmi
  icons/obj/stock_parts.dmi
  icons/obj/structures.dmi
  paradise.dme
Labels: DMI

#3690 add: added Syndicate's Bowman Conversion Kit
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/antagonists/traitor/contractor/items/contractor_kit.dm
  icons/obj/radio.dmi
Labels: DMI

#3723 add: coca bush, cocaine, crack, Mate de Coca
  code/game/machinery/vending.dm
  code/modules/crafting/recipes.dm
  code/modules/hydroponics/grown/coca.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/items.dmi
  paradise.dme
Labels: DMI

#3673 add: stealthbox
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/implants/implant_stealth.dm
  code/game/objects/structures/crates_lockers/closets.dm
  icons/obj/cardboard_boxes.dmi
  icons/obj/implants.dmi
  paradise.dme
  sound/misc/box_deploy.ogg
  sound/misc/mgs_sound.ogg
Labels: DMI

#3758 add: New Haircuts for humans
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: DMI

#3760 tweak: Syndie Officer update
  code/game/jobs/job/syndicate.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#3773 bugfix: icon state plasma hat typo
  icons/obj/clothing/species/plasmaman/hats.dmi
Labels: DMI

#3770 add: uplink Racial Anomaly extract
  code/datums/uplink_item.dm
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/weapons/anomaly_extract.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  icons/mob/actions/actions.dmi
  icons/obj/items.dmi
  icons/obj/species_organs/slime.dmi
  paradise.dme
Labels: DMI

#3761 add: Shitspawn items
  code/modules/clothing/neck/mantles.dm
  code/modules/clothing/neck/ponchos.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#3780 bugfix: leather sofa armrest
  icons/obj/chairs.dmi
Labels: DMI
