Repository ss220-space/Paradise, pull requests merged in 2023-09, with the labels that each got.

#3436 Tweak: Holy pylons heal
  code/__HELPERS/traits.dm
  code/datums/spells/chaplain.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/jobs/job/support_chaplain.dm
  code/modules/mob/living/simple_animal/constructs.dm
  icons/obj/cult.dmi
Labels: DMI

#3455 fix: another lavaland tweaks
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_worldanvil.dmm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/client/asset_cache.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mining/machine_redemption.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/research/designs/mining_designs.dm
  code/modules/research/designs/smelting_designs.dm
  code/modules/surgery/organs/augments_legs.dm
  icons/obj/items.dmi
Labels: MAP, DMI

#3461 Add: "Mages Tavern" space ruin
  _maps/map_files/RandomRuins/SpaceRuins/magestavern.dmm
  code/datums/ruins/space.dm
Labels: MAP

#3481 bugfix: Not working cameras on Lavaland Outposts
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
Labels: MAP

#3474 tweak: another lava tweaks
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_legion.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/items/gems.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mining/equipment/upgrades.dm
  code/modules/mining/lavaland/world_anvil.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/mining/marrow_weaver.dm
Labels: MAP

#3456 add: CereImprovement-pt7
  _maps/map_files/cerestation/cerestation.dmm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/chairs.dmi
Labels: MAP, DMI

#3467 add: CATS
  code/datums/outfits/outfit_admin.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
Labels: DMI

#3463 add: Pai Update || New Sprites || New Modules || New Emote
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  icons/mob/pai.dmi
  icons/obj/machines/vending.dmi
  icons/obj/pda.dmi
Labels: MAP, DMI

#3494 qol: Makes machine frames show their circuit name
  code/datums/supplypacks.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/honkputer.dm
  code/game/machinery/computer/store.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending.dm
  code/game/mecha/mecha_parts.dm
  code/game/objects/items/weapons/vending_items.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/station_goals/bfl.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/brs/brs_portable_scanner.dm
  code/modules/station_goals/brs/brs_server.dm
  code/modules/station_goals/brs/brs_stationary_scanner.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/shield.dm
  icons/obj/machines/HONKputer.dmi
  icons/obj/stock_parts.dmi
Labels: DMI

#3491 add: Donut For My Man
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3499 Bugfix: No Restaurant at bridge
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3490 tweak: minor pai adds and tweaks
  code/_onclick/pai.dm
  code/datums/uplink_item.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/misc.dm
  code/game/objects/items/weapons/paiwire.dm
  code/modules/antagonists/thief/thief_kit.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_hub_ui.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/_base.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/reinforcements.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/spai.dm
  code/modules/antagonists/traitor/contractor/items/contractor_uplink.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  code/modules/mob/living/silicon/pai/software/pai_toggles.dm
  code/modules/research/designs/weapon_designs.dm
  icons/mob/pai.dmi
  icons/obj/aicards.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/Contractor.js
  tgui/packages/tgui/interfaces/pai/pai_bioscan.js
  tgui/packages/tgui/interfaces/pai/pai_doorjack.js
  tgui/packages/tgui/interfaces/pai/pai_encoder.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#3492 imageadd: update_sprite_riotshotgun
  icons/obj/weapons/projectile.dmi
Labels: DMI

#3508 add: standalone tts readme update
  tools/ttsServer/README.md
  tools/ttsServer/install_requirements.bat
  tools/ttsServer/tts_server.py
Labels: python

#3479 Feat: mech Kinetic Accelerator
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/working/ripley.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI

#3519 fix: minor sprite fixes
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/animal.dmi
  icons/mob/species/vulpkanin/helmet.dmi
Labels: DMI

#3518 bugfix: inwallet genetics ID sprite.
  icons/obj/wallets.dmi
Labels: DMI

#3539 Tweak: Arrows wrong position
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3533 tweak: remove sacid beakers from imprinters
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/modules/reagents/reagent_containers/glass_containers.dm
Labels: MAP

#3529 tweak/fix: server cooling on Delta
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3535 FEAT: +4 Grey Tattoo
  code/modules/mob/new_player/sprite_accessories/grey/grey_body_markings.dm
  icons/mob/sprite_accessories/grey/grey_body_markings.dmi
Labels: DMI

#3525 bugfix: name correcting for QM wintercoat sprite.
  icons/obj/clothing/suits.dmi
Labels: DMI

#3488 add: CereImprovement-pt8
  _maps/map_files/cerestation/cerestation.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#3513 add: two cats and two tail | New Plushie Cats
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
Labels: DMI

#3536 FEAT: Serega plushie toy
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_general.dm
  icons/obj/toy.dmi
Labels: DMI

#3400 add: New symptoms
  code/__DEFINES/status_effects.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/type2type.dm
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/presets.dm
  code/datums/diseases/advance/symptoms/bones.dm
  code/datums/diseases/advance/symptoms/confusion.dm
  code/datums/diseases/advance/symptoms/laugh.dm
  code/datums/diseases/advance/symptoms/limb_throw.dm
  code/datums/diseases/advance/symptoms/love.dm
  code/datums/diseases/advance/symptoms/moan.dm
  code/datums/diseases/advance/symptoms/toxification.dm
  code/datums/diseases/advance/symptoms/uncotrollable.dm
  code/datums/diseases/loyalty_syndrome.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/events/disease_outbreak.dm
  code/modules/martial_arts/mimejutsu.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/mob_defines.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  icons/mob/actions/actions.dmi
  paradise.dme
Labels: DMI

#3480 Feat armour plate
  code/game/mecha/working/ripley.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/crafting/recipes.dm
  icons/obj/mecha/mecha.dmi
  icons/obj/mining.dmi
Labels: DMI

#3338 add: New Vampire Subclass - Bestia
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/vampire_defines.dm
  code/datums/mind.dm
  code/datums/spell_handler/vampire_spell_handler.dm
  code/datums/status_effects/debuffs.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/antagonists/vampire/vampire_subclasses.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  icons/mob/actions/actions.dmi
  paradise.dme
  sound/creatures/bats_spawn.ogg
  sound/creatures/hound_howl.ogg
  sound/creatures/wings_flapping.ogg
  sound/magic/vampire_anabiosis.ogg
  sound/objects/coffin_break.ogg
  sound/objects/coffin_toggle.ogg
  tgui/packages/tgui/interfaces/VampireSpecMenu.js
  tgui/packages/tgui/interfaces/VampireTrophiesStatus.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#3557 bugfix: cryostorage tgui fix
  tgui/packages/tgui/interfaces/CryopodConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3549 FIX: Grey skull helmet now looks properly
  code/modules/clothing/head/helmet.dm
  icons/mob/species/grey/helmet.dmi
Labels: DMI

#3540 Tweak: Delta Satelite position
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3240 feat: stamina bar
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/update_status.dm
  code/modules/reagents/chemistry/holder.dm
  icons/mob/screen_gen.dmi
Labels: DMI

#3580 add: Ores update
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/game/turfs/simulated/minerals.dm
  icons/effects/ore_visuals.dmi
  icons/turf/mining.dmi
Labels: MAP, DMI

#3581 bugfix: Sofa Map Fix
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_green.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
Labels: MAP

#3598 bugfix: Pixel Shift Fix
  tgui/packages/tgui/interfaces/ItemPixelShift.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3594 Imageadd: table
  icons/obj/smooth_structures/glass_table.dmi
  icons/obj/smooth_structures/poker_table.dmi
  icons/obj/smooth_structures/table.dmi
  icons/obj/smooth_structures/wood_table.dmi
  icons/obj/structures.dmi
Labels: DMI

#3589 REVERT: Shitcurity Cadet
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/job.dm
  code/controllers/subsystem/text_to_speech.dm
  code/game/ambitions/ambition_objective.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/thief/thief.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/goon_vampire.dm
  code/game/gamemodes/vampire/thief_vamp.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/jobs/job/security.dm
  code/game/jobs/jobs.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/admin/topic.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/client/preference/loadout/loadout_neck.dm
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/economy/Job_Departments.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/reagents/chemistry/reagents/food.dm
  config/example/jobs.txt
  config/example/jobs_highpop.txt
Labels: MAP

#3579 fix: missing tajara sprites for pathcloak
  icons/mob/clothing/species/tajaran/suit.dmi
Labels: DMI

#3606 FIX: Undestructuble and Unrepairable vendomates now work properly
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/vending_items.dm
Labels: MAP

#3569 FEAT: High-Risk Combat RCD, Syndie RCD update
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/datums/uplink_item.dm
  code/game/gamemodes/steal_items.dm
Labels: MAP

#3636 Fix: Lavalend ruins and lava generation
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_dragon.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_fountain_hall.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_grave.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_monster_nest.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nest.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/structures/aliens.dm
Labels: MAP

#3638 bugfix: Gamma Shuttle button.
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#3637 Fix: Transit shuttles positions with widescreen
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#3624 Remap: Delta Library update
  _maps/map_files/Delta/delta.dmm
  code/game/area/ss13_areas.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
Labels: MAP

#3614 tweak: new donuts skins
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
Labels: DMI

#3627 TWEAK: tajblind buffs
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/crafting/tailoring.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/grey/eyes.dmi
  icons/mob/clothing/species/vox/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#3629 Tweak: stechkin buff
  code/modules/projectiles/ammunition/magazines.dm
  icons/obj/weapons/ammo.dmi
Labels: DMI
