Repository ss220-space/Paradise, pull requests merged in 2024-01, with the labels that each got.

#4196 Revert "remap: Delta & Cerestation & Cyberiad New Year update"
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#4157 bugfix: added parallax for undertaker shuttle
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#4187 bugfix: possibly fix crew monitor row duplicating
  code/datums/cache/crew.dm
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4173 bugfix: modal ui fix
  tgui/packages/tgui/interfaces/common/ComplexModal.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4197 bugfix: fix changelog generation crash
  tools/changelog/gen_changelog.py
Labels: python

#4198 bugfix: fix changelog generation crash
  tools/changelog/gen_changelog.py
Labels: python

#4151 Add: Leopard tail for Tajaran
  code/modules/mob/living/carbon/human/body_accessories.dm
  icons/mob/clothing/body_accessory.dmi
Labels: DMI

#4133 add: standart HUD and headset for IIAs.
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/jobs/job/supervisor.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/crafting/tailoring.dm
Labels: MAP

#4171 bugfix: fixed lost objects due to merge conflict
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4208 tweak: brig nanomed access changes
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#4195 add: 4 Pirate Paintkits Mecha
  code/game/mecha/paintkits.dm
  code/modules/crafting/recipes.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mecha/lockermech.dmi
  icons/obj/mecha/mecha.dmi
  icons/obj/paintkit.dmi
Labels: DMI

#4138 Add: Thunderdome update, December patch
  _maps/map_files/generic/Admin_Zone.dmm
  code/_globalvars/lists/objects.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/modules/client/preference/preferences.dm
  code/modules/mini_games/mini_games.dm
  code/modules/mini_games/thunderdome/brawlers/mob_spawns.dm
  code/modules/mini_games/thunderdome/brawlers/outfits.dm
  code/modules/mini_games/thunderdome/components/death_timer_reset.dm
  code/modules/mini_games/thunderdome/components/thunderdome_death_signaler.dm
  code/modules/mini_games/thunderdome/gamemodes/gamemode.dm
  code/modules/mini_games/thunderdome/items/implants.dm
  code/modules/mini_games/thunderdome/items/special_items.dm
  code/modules/mini_games/thunderdome/items/special_kits.dm
  code/modules/mini_games/thunderdome/thunderdome_battle.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/tgui/modules/minigames_explorer.dm
  code/modules/thunderdome/thunderdome_battle.dm
  icons/mob/screen_ghost.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/MiniGamesMenu.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#4140 add: new screens for AI
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/ai.dmi
Labels: DMI

#4072 Remap: Delta kitchen
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4071 add: new lavaland generation types
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_horizontal_1.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_horizontal_2.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_horizontal_3.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_horizontal_4.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_horizontal_5.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_horizontal_6.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_vertical_1.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_vertical_2.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_vertical_3.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_vertical_4.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_vertical_5.dmm
  _maps/map_files/RandomRuins/LavaRuins/chasm_bridges/lavaland_bridge_vertical_6.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_dragon.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/generic/Lavaland.dmm
  code/__DEFINES/misc.dm
  code/_globalvars/mapping.dm
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/non-firing/mapping.dm
  code/datums/helper_datums/map_template.dm
  code/datums/ruins/bridges.dm
  code/game/objects/effects/mapping_helpers.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/river.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/mining/lavaland/ash_flora.dm
  icons/effects/parallax.dmi
  icons/mob/hud.dmi
  icons/obj/lavaland/ash_flora.dmi
  icons/turf/floors/lava.dmi
  icons/turf/floors/liquidplasma.dmi
  paradise.dme
Labels: MAP, DMI

#4231 bugfix: deleted random sink
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4184 add: colorized suspenders + security belt shoulder system
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#4223 imageadd: mining charges and crew monitor inhand sprites
  code/game/objects/items/devices/sensor_device.dm
  code/modules/mining/equipment/mining_charges.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#4222 add: new skirt
  code/game/gamemodes/steal_items.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/ties.dmi
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#4224 imageadd: torch sprite update
  icons/mob/inhands/items_lefthand.dmi
  icons/obj/lighting.dmi
Labels: DMI

#4175 add: SP-91-RC submachine gun
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  sound/weapons/gunshots/1sp_91.ogg
Labels: MAP, DMI

#4251 bugfix: added missed item state for SP91
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
Labels: DMI

#4242 bugfix: delta library windowtint button affecting clearly.
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4214 add: space bar shuttle can dock near the station
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/shuttle/shuttle.dm
Labels: MAP

#4281 bugfix: added missing firelocks at bar
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4270 bugfix: ussp golem docking port size
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
Labels: MAP

#4266 add: megaseed servitor to Thetta. Also bubblegum arena fix
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#4290 bugfix: Leopard tail for Tajaran
  icons/mob/clothing/body_accessory.dmi
Labels: DMI
