Repository ss220-space/Paradise, pull requests merged in 2024-07, with the labels that each got.

#5327 some fixes
  code/__DEFINES/construction.dm
  code/datums/spawners_menu.dm
  code/game/machinery/autolathe.dm
  code/modules/research/rdconsole.dm
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/interfaces/SpawnersMenu.js
  tgui/packages/tgui/interfaces/TTSSeedsExplorer.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5313 add: Towels.
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/food_and_drinks/item_food/eat_item_list_cloth.dm
  code/modules/food_and_drinks/item_food/eat_items.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#5182 add: SSD And Unconscious Indicators
  code/__DEFINES/emotes_defines.dm
  code/__DEFINES/misc.dm
  code/datums/emote/emote.dm
  code/datums/emote/emote_verbs.dm
  code/datums/keybindings/emote.dm
  code/datums/mind.dm
  code/game/machinery/poolcontroller.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/login.dm
  code/modules/mob/living/carbon/human/logout.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_emote.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/update_icons.dm
  icons/effects/effects.dmi
Labels: DMI

#5303 refactor: Removed redundant wall pieces directions
  icons/turf/walls/abductor_wall.dmi
  icons/turf/walls/bananium_wall.dmi
  icons/turf/walls/coated_reinforced_wall.dmi
  icons/turf/walls/cult_wall.dmi
  icons/turf/walls/diamond_wall.dmi
  icons/turf/walls/gold_wall.dmi
  icons/turf/walls/icedmetal_wall.dmi
  icons/turf/walls/iron_wall.dmi
  icons/turf/walls/plasma_wall.dmi
  icons/turf/walls/plastitanium_wall.dmi
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/rusty_reinforced_wall.dmi
  icons/turf/walls/rusty_wall.dmi
  icons/turf/walls/sandstone_wall.dmi
  icons/turf/walls/silver_wall.dmi
  icons/turf/walls/snow_wall.dmi
  icons/turf/walls/survival_pod_walls.dmi
  icons/turf/walls/uranium_wall.dmi
  icons/turf/walls/wall.dmi
  icons/turf/walls/wood_wall.dmi
Labels: DMI

#5336 gaz analyzer and chem master
  code/modules/asset_cache/assets/asset_chem_master.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/GasAnalyzer.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5315 Tweak: Celestation is available now.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris3.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebotany.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiedepot.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/controllers/subsystem/machinery.dm
  code/game/objects/effects/spawners/random_barrier.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/structures/lattice.dm
  code/modules/map_fluff/celestation.dm
  code/modules/power/cable_multiz.dm
  icons/effects/mapping_helpers.dmi
  icons/obj/decals.dmi
Labels: MAP, DMI

#5344 final chem master, genetics and tts
  code/modules/asset_cache/assets/asset_chem_master.dm
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/DNAModifier.js
  tgui/packages/tgui/interfaces/GasAnalyzer.js
  tgui/packages/tgui/interfaces/TTSSeedsExplorer.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5346 Fix: Celestia - unincluded
  _maps/map_files/celestation/celestation.dmm
  code/game/objects/effects/spawners/random_barrier.dm
Labels: MAP

#5266 tweak: Hotel Gate Big Fix
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/templates/spacehotel/n_10.dmm
  _maps/map_files/templates/spacehotel/n_12.dmm
  _maps/map_files/templates/spacehotel/n_15.dmm
  _maps/map_files/templates/spacehotel/n_16.dmm
  _maps/map_files/templates/spacehotel/n_19.dmm
  code/_globalvars/lists/objects.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/modules/awaymissions/mission_code/spacehotel.dm
  code/modules/awaymissions/zvis.dm
  code/modules/mining/mine_items.dm
  icons/misc/view_portal.dmi
Labels: MAP, DMI

#5359 crew manifest, operating table, air alarm
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/AirAlarm.js
  tgui/packages/tgui/interfaces/OperatingComputer.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5363 pda painter, card computer, dna vault, bubuctor, hydroponics, photocopier
  code/game/gamemodes/miniantags/abduction/machinery/dispenser.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/asset_cache/assets/asset_seeds.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/paperwork/photocopier.dm
  paradise.dme
  tgui/packages/tgui/interfaces/CardComputer.js
  tgui/packages/tgui/interfaces/DnaVault.js
  tgui/packages/tgui/interfaces/GeneModder.js
  tgui/packages/tgui/interfaces/GlandDispenser.js
  tgui/packages/tgui/interfaces/PDAPainter.js
  tgui/packages/tgui/interfaces/Photocopier.js
  tgui/packages/tgui/interfaces/SeedExtractor.js
  tgui/packages/tgui/styles/interfaces/SeedExtractor.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5365 add: Full tile windows and new sprite
  code/game/objects/effects/spawners/windowspawner.dm
  icons/obj/structures.dmi
Labels: DMI

#5368 bugfix: polarized full tile windows are working now
  code/game/objects/effects/spawners/windowspawner.dm
  code/game/objects/structures/window.dm
Labels: DMI

#5384 bugfix: cursed interfaces: floorpainter, MedicalRecords, SecurityRecords
  code/game/machinery/computer/medical.dm
  tgui/packages/tgui/interfaces/FloorPainter.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5390 bugfix: fax and tooltip
  code/modules/paperwork/faxmachine.dm
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/interfaces/manually-routed/KitchenSink.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5387 bugfix: radio, airalarm, refresh tgui
  code/game/machinery/alarm.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/paperwork/photocopier.dm
  tgui/packages/tgui/interfaces/BluespaceRiftServer.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/CryopodConsole.js
  tgui/packages/tgui/interfaces/VampireSpecMenu.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5396 bugfix: Icon fixes: Eternal suffering edition
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/walls_misc.dm
  icons/turf/walls/reinforced_wall.dmi
Labels: DMI

#5400 bugfix: Lavalend destroy transit tubes
  _maps/map_files/celestation/celestation.dmm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
Labels: MAP

#5398 bugfix:(some additions to uplink, hehe) uplink, jump to mob, cryopodconsole, tts final, admins shuttle manipulator
  code/datums/uplink_item.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/shuttle/supply.dm
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/interfaces/Cryo.js
  tgui/packages/tgui/interfaces/CryopodConsole.js
  tgui/packages/tgui/interfaces/HandheldChemDispenser.js
  tgui/packages/tgui/interfaces/ImplantPad.js
  tgui/packages/tgui/interfaces/Newscaster.js
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
  tgui/packages/tgui/interfaces/Sleeper.js
  tgui/packages/tgui/interfaces/TTSSeedsExplorer.js
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5321 balance: all nanomed & sectech vendors reduced to 2 on each map
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#5166 add: PDA Beer Case
  code/game/jobs/job/job.dm
  code/game/machinery/PDApainter.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/chameleon/_chameleon_actions.dm
  code/modules/clothing/chameleon/chameleon_actions_subtypes.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/pda/PDA.dm
  code/modules/pda/ai.dm
  code/modules/pda/app.dm
  code/modules/pda/core_apps.dm
  code/modules/pda/pda_cases.dm
  code/modules/pda/pda_tgui.dm
  code/modules/pda/utilities.dm
  code/modules/response_team/ert_outfits.dm
  icons/obj/pda.dmi
  paradise.dme
  sound/items/PDA/beer.ogg
Labels: DMI

#5068 add/refactor: Washing Machine Rework
  code/__DEFINES/dye_keys.dm
  code/__DEFINES/logs.dm
  code/__DEFINES/wires.dm
  code/datums/wires/washing_machine.dm
  code/game/machinery/dye_generator.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/beanie.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/neck/ponchos.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/living/simple_animal/tribbles.dm
  code/modules/paperwork/stamps.dm
  icons/obj/machines/washing_machine.dmi
  paradise.dme
Labels: DMI

#5075 refactor: Dominator Icon Updates Rework
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/dominator.dmi
  icons/obj/weapons/sibyl.dmi
Labels: DMI

#5307 del: delete spai at syndicate base
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#5305 imageadd: grey clothes
  icons/mob/clothing/species/grey/uniform.dmi
Labels: DMI

#5427 bugfix: Returned decon sprites of reinforced wall
  code/game/turfs/simulated/walls_reinforced.dm
  icons/turf/walls/reinforced_wall.dmi
Labels: DMI

#5395 add/refactor: Conveyors Rework
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndiecakesfactory.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/__DEFINES/machines.dm
  code/controllers/subsystem/movement/conveyors.dm
  code/datums/components/conveyor_movement.dm
  code/game/machinery/machinery.dm
  code/game/machinery/transformer.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/recycling/belt-placer.dm
  code/modules/recycling/conveyor2.dm
  icons/obj/machines/recycling.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/ConveyorSwitch.js
  tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#5331 add: His Grace now opens his mouth when he is hungry.
  code/game/objects/items/weapons/storage/artistic_toolbox.dm
  icons/goonstation/objects/objects.dmi
Labels: DMI

#5423 refactor: Weather Traits Implementation
  _maps/map_files/RandomZLevels/evil_santa.dmm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/__HELPERS/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/weather.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/blob_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/datums/weather/weather_types/solar_flare.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/turfs/simulated/floor/lava.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/evil_pine.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining/mining.dm
  code/modules/mob/living/simple_animal/hostile/undead.dm
  code/modules/mob/living/simple_animal/hostile/winter_mobs.dm
Labels: MAP

#5428 Celestations improvement part 2
  _maps/map_files/celestation/celestation.dmm
Labels: MAP

#5412 bugfix: alarm vending powermonitor
  code/game/machinery/alarm.dm
  code/game/machinery/computer/arcade.dm
  code/modules/economy/Accounts_DB.dm
  tgui/packages/tgui/interfaces/APC.js
  tgui/packages/tgui/interfaces/AccountsUplinkTerminal.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/interfaces/Vending.js
  tgui/packages/tgui/styles/themes/spider_clan.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5394 Add: "I'm definitely not an idiot" sign
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/towerstation.dmm
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
Labels: MAP, DMI

#5440 add/refactor: Disposals Rework
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_banya.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/map_files/RandomRuins/SpaceRuins/debris1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/RandomRuins/SpaceRuins/graveyard.dmm
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebotany.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/celestation/Lavaland.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/debug/multiz_test.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/templates/piratbase.dmm
  _maps/map_files/templates/shelter_3.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/pipes.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/components/proximity_monitor.dm
  code/datums/pipe_datums.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/weapons/rpd.dm
  code/modules/mob/living/silicon/robot/drone/drone_abilities.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/recycling/disposal/eject.dm
  code/modules/recycling/disposal/holder.dm
  code/modules/recycling/disposal/multiz.dm
  code/modules/recycling/disposal/outlet.dm
  code/modules/recycling/disposal/pipe.dm
  code/modules/recycling/disposal/pipe_sorting.dm
  code/modules/recycling/sortingmachinery.dm
  icons/obj/pipes_and_stuff/not_atmos/disposal.dmi
Labels: MAP, DMI

#5488 refactor: Updated Pathing
  code/__DEFINES/misc.dm
  code/__DEFINES/path.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/turfs.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/game.dm
  code/__HELPERS/path.dm
  code/__HELPERS/paths/jps.dm
  code/__HELPERS/paths/path.dm
  code/__HELPERS/paths/sssp.dm
  code/controllers/subsystem/non-firing/pathfinder.dm
  code/controllers/subsystem/pathfinder.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor/chasm.dm
  code/game/turfs/simulated/openspace.dm
  code/game/turfs/space/openspace.dm
  code/game/turfs/turf.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla_actions.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/mob_helpers.dm
  code/modules/surgery/surgery.dm
  paradise.dme
Labels: Perfomance

#5504 bugfix: HoS Laser Overlay Fix
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/energy.dmi
Labels: DMI

#5490 bugfix: power monitor change back and alarms and assemeblies and camera
  code/__HELPERS/text.dm
  code/datums/cache/air_alarm.dm
  code/game/machinery/alarm.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/paperwork/photography.dm
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5487 bugfix: Fixed negative atmospherics, made lavaland plasma burning nice
  code/game/turfs/simulated.dm
  code/modules/atmospherics/enviromental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: testmerge

#5486 span fix
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/constants.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5489 bugfix: Holster Overlays
  icons/mob/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: DMI

#5450 fix: turret's connection to control panel in AI Satellite Antechamber
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5418 add: new firstaid for paramed
  code/game/jobs/job/medical.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/aibots.dmi
  icons/obj/storage.dmi
Labels: DMI

#5548 add: Mobs are now suspended when there are no alive players on the same z level
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/npcpool.dm
  code/controllers/verbs.dm
  code/modules/admin/admin_verbs.dm
Labels: Perfomance

#5550 del: Removes NanoMob
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/nano_mob_hunter.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/landmarks.dm
  code/modules/arcade/mob_hunt/battle_computer.dm
  code/modules/arcade/mob_hunt/mob_avatar.dm
  code/modules/arcade/mob_hunt/mob_cards.dm
  code/modules/arcade/mob_hunt/mob_datums.dm
  code/modules/arcade/mob_hunt/mob_type_datums.dm
  code/modules/arcade/prize_datums.dm
  code/modules/asset_cache/assets/asset_mob_hunt.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/pda/PDA.dm
  code/modules/pda/cart.dm
  code/modules/pda/mob_hunt_game_app.dm
  code/modules/pda/pda_tgui.dm
  code/modules/store/items.dm
  icons/effects/mob_hunt.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/CommunicationsComputer.js
  tgui/packages/tgui/interfaces/pda/pda_mob_hunt.js
  tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#4975 bugfix/tweak: `/tableflip` icons and new "hotkey".
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/awaymissions/mission_code/ruins/graveyard.dm
  code/modules/mining/equipment/survival_pod.dm
  icons/obj/smooth_structures/poker_table.dmi
  icons/obj/smooth_structures/reinforced_table.dmi
  icons/obj/smooth_structures/wood_table.dmi
Labels: DMI

#5227 refactor: wooden cabinets visuals standartising.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_banya.dmm
  _maps/map_files/RandomRuins/SpaceRuins/magestavern.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  _maps/map_files/templates/shelter_3.dmm
  code/__DEFINES/overlays.dm
  code/game/objects/items/random_items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/cabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/civillian.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/closet.dmi
  paradise.dme
Labels: MAP, DMI

#5539 bugfix: Bandanas Head Sprites Fix
  code/game/objects/items.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
Labels: DMI

#5547 Celestation improvement 3
  _maps/map_files/celestation/celestation.dmm
  code/game/turfs/simulated/minerals.dm
Labels: MAP

#5551 Fix: July Lavalend ruins general cleanup
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_green.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cube.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_dragon.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pirateship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pride.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
Labels: MAP

#5057 add: 3 lavaland tweaks in one: new injector, capsule now toss you & new shaft miner pens
  code/__HELPERS/global_lists.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/paperwork/pen.dm
  code/modules/pda/PDA.dm
  code/modules/pda/pdas.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/mob/screen_alert.dmi
  icons/obj/bureaucracy.dmi
Labels: DMI

#5477 imageadd: new maid sex uniform
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#5513 imageadd: Foodfart
  icons/obj/foodcart.dmi
Labels: DMI

#5360 add: Enables and improves Garbage Collector
  code/__DEFINES/_helpers.dm
  code/__DEFINES/qdel.dm
  code/__HELPERS/time.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/subsystem/garbage.dm
  code/datums/datum.dm
Labels: testmerge

#5476 imageadd: Kitchen update
  icons/obj/kitchen.dmi
  icons/obj/machines/cooking_machines.dmi
Labels: DMI

#5517 imageadd:New sprites Weapons
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
  icons/obj/surgery.dmi
  icons/obj/weapons/projectile.dmi
Labels: DMI

#5485 imageadd: new_sprite_tools
  icons/obj/tools.dmi
Labels: DMI

#5527 add: Varieties of armored gloves for ERT and Syndicate (and some other roles)
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/syndicate.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/response_team/ert_outfits.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/monkey/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/obj/clothing/gloves.dmi
Labels: DMI

#5525 add: Camera can be worn around the neck
  code/modules/paperwork/photography.dm
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/species/drask/neck.dmi
  icons/mob/clothing/species/grey/neck.dmi
  icons/mob/clothing/species/kidan/neck.dmi
  icons/mob/clothing/species/monkey/neck.dmi
  icons/mob/clothing/species/vox/neck.dmi
  icons/mob/clothing/species/wryn/neck.dmi
Labels: DMI

#5176 add: Jetpack for mices.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_banya.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp_laboratory.dmm
  _maps/map_files/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/templates/piratbase.dmm
  code/datums/supplypacks.dm
  code/game/gamemodes/clockwork/clockwork_mob.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/misc.dm
  code/modules/events/infestation.dm
  code/modules/mob/living/simple_animal/friendly/animals_named.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/powers.dm
  code/modules/movespeed/modifiers/mobs.dm
  icons/effects/mapping_helpers.dmi
  icons/mob/animal.dmi
  icons/mob/clockwork_mobs.dmi
  icons/obj/tank.dmi
Labels: MAP, DMI

#5569 imageadd: maid-fix
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#5568 bugfix: Returns possibility to reference tracking, fixes mobs hard deletion issue and makes landmarks hard delete now
  code/__DEFINES/qdel.dm
  code/__HELPERS/_logging.dm
  code/_compile_options.dm
  code/_globalvars/logging.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/npcpool.dm
  code/game/gamemodes/devil/game_mode.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/objects/effects/landmarks.dm
  code/game/world.dm
  code/modules/mob/mob.dm
  code/world.dm
Labels: Hard Delete

#5514 refactor: Pimp My Master
  code/__DEFINES/MC.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/failsafe.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/afk.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/cleanup.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/game_events.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/idlenpcpool.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/jobs.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machinery.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/non-firing/assets.dm
  code/controllers/subsystem/non-firing/atoms.dm
  code/controllers/subsystem/non-firing/cargo_quests.dm
  code/controllers/subsystem/non-firing/discord.dm
  code/controllers/subsystem/non-firing/holiday.dm
  code/controllers/subsystem/non-firing/ipintel.dm
  code/controllers/subsystem/non-firing/mapping.dm
  code/controllers/subsystem/non-firing/medals.dm
  code/controllers/subsystem/non-firing/persistent_data.dm
  code/controllers/subsystem/non-firing/ping.dm
  code/controllers/subsystem/non-firing/sounds.dm
  code/controllers/subsystem/non-firing/titlescreen.dm
  code/controllers/subsystem/pathfinder.dm
  code/controllers/subsystem/processing/instruments.dm
  code/controllers/subsystem/shuttles.dm
  code/controllers/subsystem/statistics.dm
  code/controllers/subsystem/sun.dm
  code/controllers/subsystem/text_to_speech.dm
  code/controllers/subsystem/tgui.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/controllers/subsystem/verb_manager.dm
  code/controllers/subsystem/weather.dm
  code/modules/tgui/tgui_panel/to_chat.dm
  config/example/config.txt
Labels: testmerge

#5572 bugfix: ghost piano, paper input revert, uplink, cult invoke fix
  code/game/gamemodes/clockwork/clockwork_structures.dm
  code/game/gamemodes/cult/ritual.dm
  code/modules/instruments/objs/structures/piano.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#3900 add: Central Command rework
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/shuttles/admin_alien.dmm
  _maps/map_files/shuttles/admin_club.dmm
  _maps/map_files/shuttles/admin_interview.dmm
  _maps/map_files/shuttles/ferry_SMgen.dmm
  _maps/map_files/shuttles/ferry_cargo.dmm
  _maps/map_files/shuttles/ferry_chem.dmm
  _maps/map_files/shuttles/ferry_clown.dmm
  _maps/map_files/shuttles/ferry_cult.dmm
  _maps/map_files/shuttles/ferry_deepdarkdungeon.dmm
  _maps/map_files/shuttles/ferry_doomsday.dmm
  _maps/map_files/shuttles/ferry_medical.dmm
  _maps/map_files/shuttles/ferry_meteorshelp.dmm
  _maps/map_files/shuttles/ferry_mime.dmm
  _maps/map_files/shuttles/ferry_prisoner.dmm
  _maps/map_files/shuttles/ferry_slave.dmm
  _maps/map_files/shuttles/ferry_theatrehelp.dmm
  _maps/map_files/shuttles/ferry_ussp.dmm
  _maps/map_files/shuttles/ferry_vip.dmm
  _maps/map_files/shuttles/ferry_zoo.dmm
  code/datums/shuttles.dm
  code/game/area/ss13_areas.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/doors/shutters.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/decals/syndie_logo_decals.dm
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/simple_animal/friendly/frog.dm
  code/modules/paperwork/paper.dm
  code/modules/shuttle/assault_pod.dm
  code/modules/shuttle/syndicate.dm
  icons/obj/doors/fake_wall_shutters.dmi
  icons/obj/doors/shutters.dmi
  paradise.dme
  sound/creatures/mapper_angry.ogg
  sound/creatures/mapper_annoyed.ogg
  sound/creatures/mapper_death.ogg
  sound/creatures/mapper_disappointed.ogg
  sound/creatures/mapper_scream.ogg
Labels: MAP, DMI

#5555 tweak: all roundstart traitors can accept contractor offer
  code/__DEFINES/contractors.dm
  code/datums/mind.dm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/antagonists/space_ninja/ninja_datum.dm
  code/modules/antagonists/traitor/contractor/datums/contractor.dm
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5576 imageadd: fix some inhand issue
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5583 hotfix: centcom rework
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/shuttles/admin_club.dmm
  _maps/map_files/shuttles/admin_interview.dmm
  _maps/map_files/shuttles/ferry_SMgen.dmm
  _maps/map_files/shuttles/ferry_vip.dmm
  code/game/machinery/computer/message.dm
  code/game/machinery/vending.dm
Labels: MAP

#5582 imageadd: QOL spr.Flashbang+mobcap
  icons/obj/mobcap.dmi
  icons/obj/weapons/grenade.dmi
Labels: DMI

#5520 add/bugfix: new paintkit for welding
  code/game/objects/items/crayons.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/head/misc_special.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/crayons.dmi
Labels: DMI

#5353 add: twohanded cardboard cutout
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  _maps/map_files/templates/shelter_2.dmm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: MAP

#5416 add/refactor: Few Keybinding Tweaks
  code/__DEFINES/MC.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/input.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/keybindings.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/verb_manager.dm
  code/datums/components/jetpack.dm
  code/datums/keybindings/_keybindings.dm
  code/datums/keybindings/admin.dm
  code/datums/keybindings/carbon.dm
  code/datums/keybindings/client.dm
  code/datums/keybindings/emote.dm
  code/datums/keybindings/human.dm
  code/datums/keybindings/living.dm
  code/datums/keybindings/mob.dm
  code/datums/keybindings/movement.dm
  code/datums/keybindings/robot.dm
  code/datums/keybindings/silicon.dm
  code/datums/verb_callback.dm
  code/game/atoms_movable.dm
  code/game/mecha/mecha.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences.dm
  code/modules/input/input.dm
  code/modules/input/keybindings.dm
  code/modules/input/movement.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/focus.dm
  code/modules/keybindings/readme.md
  code/modules/keybindings/setup.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  config/example/config.txt
  paradise.dme
Labels: testmerge

#5579 bugfix: tgui minor fixes(totally not working eftpos and cargo quests iconswithnospacewithword)s
  code/modules/economy/EFTPOS.dm
  code/modules/instruments/objs/items/_instrument.dm
  code/modules/instruments/objs/structures/_musician.dm
  code/modules/instruments/songs/_song_ui.dm
  tgui/packages/tgui/interfaces/QuestConsole.js
  tgui/packages/tgui/interfaces/Workshop.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5593 bugfix: Ghosts no longer can trigger explosion of abandoned crate
  code/modules/mining/abandonedcrates.dm
Labels: Testmerge Conflict

#5591 bugfix: Shadows now can hatch
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
Labels: Testmerge Conflict

#5592 imageadd: QOL spr.grenade 2
  code/game/machinery/deployable.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  icons/obj/weapons/grenade.dmi
Labels: DMI, Testmerge Conflict

#5589 Celestation improvement 4
  _maps/map_files/celestation/celestation.dmm
Labels: MAP, Testmerge Conflict

#5469 port: chem master
  code/modules/reagents/chemistry/machinery/chem_master.dm
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5590 imagedel: Delete default case for inhands clothing
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: DMI

#5594 bugfix: ATM pin number, empty tgui_input_lists, ATM levels
  code/__HELPERS/russian.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/machinery/computer/card.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/structures/dresser.dm
  code/modules/economy/ATM.dm
  code/modules/economy/utils.dm
  tgui/packages/tgui/interfaces/ATM.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4435 add: ION storm device.
  code/_globalvars/lists/objects.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/ion_storm.dm
  icons/mob/screen_robot.dmi
  icons/obj/device.dmi
Labels: DMI

#4800 add: lavamechs paintkit
  code/game/mecha/mecha.dm
  code/game/mecha/paintkits.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mecha/mecha.dmi
  icons/obj/paintkit.dmi
Labels: DMI

#5598 bugfix: chem_grenade spr
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  icons/obj/weapons/grenade.dmi
Labels: DMI

#5599 bugfix: no icon_state on cardboard
  code/game/objects/items/cardboard_cutouts.dm
  icons/obj/cardboard_cutout.dmi
Labels: DMI

#5474 Tweak: July delta general cleanup + Z1 shuttles air leaks fix
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#5512 add: clown mimic voice menu[bounty]
  code/datums/outfits/outfit_security_clown.dm
  code/datums/spells/cluwne.dm
  code/game/jobs/job/support.dm
  code/modules/admin/verbs/honksquad.dm
  tgui/packages/tgui/interfaces/Mimicking.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5467 Add: Event map "delta dlya oldov"
  _maps/map_files/event/Station/delta_old.dmm
  code/modules/map_fluff/event.dm
Labels: MAP

#5615 Fix: replace holotabes at any not-holodeck place
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/stationCollision.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP
