Repository ss220-space/Paradise, pull requests merged in 2024-11, with the labels that each got.

#6085 bugfix: Fixed intercom disassembling
  code/game/objects/items/devices/radio/intercom.dm
Labels: Has Approve

#6087 bugfix: Fixed windowed door rendering
  code/game/machinery/doors/windowdoor.dm
Labels: Has Approve

#6069 add: You can now set up preference for removing from round
  code/__DEFINES/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/death.dm
Labels: Has Approve

#6078 bugfix: October - Mapfixes.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_cube.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/event/Station/delta_old.dmm
  code/game/machinery/door_control.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/modules/awaymissions/mission_code/wildwest.dm
Labels: MAP, Has Approve

#6115 bugfix: Nova Station #12 Patch
  _maps/map_files/nova/Lavaland.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP, Has Approve

#6109 bugfix: Conveyor Belt and Disposal Outlet on Cyberiad & Celestation.
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP, Has Approve

#6101 add: species age restrictions
  code/__DEFINES/mobs.dm
  code/__DEFINES/preferences.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Has Approve

#6048 add: CE toolbet now can hold RCD and one more item
  code/game/objects/items/weapons/storage/belt.dm
Labels: Has Approve

#6129 bugfix: Earings in loadout
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_general.dm
Labels: Has Approve

#5875 Add: ASHIE UPDATE
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/__DEFINES/mobs.dm
  code/__DEFINES/rituals.dm
  code/__DEFINES/status_effects.dm
  code/__HELPERS/global_lists.dm
  code/datums/components/ritual_object.dm
  code/datums/rituals.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/crafting/recipes.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining/marrow_weaver.dm
  icons/effects/ashwalker_rune.dmi
  icons/obj/lavaland/artefacts.dmi
  paradise.dme
Labels: MAP, DMI

#5961 add: a lot of roboquest tweaks.
  code/__DEFINES/misc.dm
  code/game/machinery/computer/syndie_cargo.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/syndiepad.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/makeshift/lockermech.dm
  code/game/mecha/mecha.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/paintkits.dm
  code/game/mecha/working/clarke.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/items/devices/machineprototype.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/modules/asset_cache/assets/asset_roboquest.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/economy/robotic_quests/robo_quests.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/equipment_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/telesci/telepad.dm
  code/modules/telesci/telesci_computer.dm
  icons/obj/machineprototype.dmi
  icons/obj/mecha/mecha.dmi
  icons/obj/telescience.dmi
  tgui/packages/tgui/interfaces/RoboQuest.js
  tgui/public/tgui.bundle.js
Labels: DMI, TGUI, перевод, javascript, testmerge

#6045 add: fishing rod is now craftable in R&D
  code/modules/research/designs/mining_designs.dm
Labels: TGUI, javascript, Has Approve

#5900 add: Entertainment monitor
  code/__DEFINES/dcs/signals.dm
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/game/machinery/computer/camera.dm
  code/modules/tgui/states/range.dm
  paradise.dme
Labels: Has Approve

#6114 qol: DNA effects translation
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/monkey.dm
  code/game/dna/genes/powers.dm
  code/game/dna/genes/vg_disabilities.dm
  code/game/dna/genes/vg_powers.dm
Labels: перевод, Has Approve

#6057 add: advanced laser & alien surgery kits
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/tools.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/storage.dmi
  paradise.dme
Labels: DMI

#6132 qol: Перевод лута с тендрилов Лаваленда
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: перевод

#6095 imageadd: Riot shield - new sprites
  icons/mob/clothing/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: DMI

#6042 add: cloth footwraps now paintable, craftable and edible
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/client/preference/loadout/loadout_shoes.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/food_and_drinks/item_food/eat_item_list_cloth.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/species/unathi/shoes.dmi
  icons/obj/clothing/shoes.dmi
Labels: DMI

#6138 bugfix: some rituals fix
  code/datums/rituals.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  icons/effects/ashwalker_rune.dmi
Labels: DMI

#6135 add: New robust security backpack
  code/datums/action.dm
  code/datums/looping_sounds/item_sounds.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/species/grey/back.dmi
  icons/mob/clothing/species/vox/back.dmi
  icons/obj/storage.dmi
Labels: DMI, Has Approve

#5948 add: Security tactical flashlight
  code/game/machinery/vending.dm
  code/game/objects/items/devices/flashlight.dm
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/species/monkey/ears.dmi
  icons/mob/clothing/species/vox/ears.dmi
  icons/obj/lighting.dmi
Labels: DMI, Has Approve

#6155 spellcheck: DNA effects translation
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_powers.dm
Labels: перевод, Critical Priority

#6159 spellcheck: proper captain announcement genderization
  code/game/jobs/job/supervisor.dm
Labels: Has Approve

#6072 add: Heart hud glasses
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/drask/eyes.dmi
  icons/mob/clothing/species/grey/eyes.dmi
  icons/mob/clothing/species/monkey/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#6171 imageadd: Kopeika and Bedocur cats - new sprites
  code/modules/mob/living/simple_animal/friendly/animals_named.dm
  icons/mob/clothing/head.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI

#6175 add: Swat Gloves to Blueshield and HOS
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
Labels: Has Approve

#6173 bugfix: Hesphiastos Titan Enforcer IPC monitor fix
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_face.dm
Labels: Has Approve

#6162 add: New tactical blueshield spray
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/reagents/reagent_containers/spray.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/janitor.dmi
Labels: MAP, DMI

#6153 bugfix: Nova Station #13 Patch
  _maps/map_files/nova/nova.dmm
  code/game/objects/structures/signs.dm
  code/modules/map_fluff/nova.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/obj/decals.dmi
  icons/obj/weapons/energy.dmi
Labels: MAP, DMI

#6183 translation: /computer/
  code/game/machinery/computer/HolodeckControl.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/atmos_alert.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/machinery/computer/brigcells.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/computer/depot.dm
  code/game/machinery/computer/honkputer.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/computer/pod.dm
  code/game/machinery/computer/power.dm
  code/game/machinery/computer/robot.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/sm_monitor.dm
  code/game/machinery/computer/station_alert.dm
  code/game/machinery/computer/syndie_cargo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/devices/camera_bug.dm
  code/modules/antagonists/space_ninja/ninja_shuttle.dm
  code/modules/atmospherics/machinery/other/area_atmos_computer.dm
  code/modules/awaymissions/mission_code/ruins/graveyard.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/quests/quest_console.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/power/turbine.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/research/rdconsole.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/ert.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/supply.dm
  code/modules/shuttle/syndicate.dm
  code/modules/shuttle/vox.dm
  code/modules/telesci/telesci_computer.dm
  code/modules/w_examine/descriptions/medical.dm
Labels: перевод

#6186 add: new hairs for humans
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: DMI

#6203 bugfix: Nova Station disposal pipe
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6187 add: biker helmet
  code/game/machinery/vending.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/obj/clothing/hats.dmi
Labels: DMI

#6204 add: More zone for chapel
  _maps/map_files/nova/nova.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#6161 add: Sweet Tooth costume
  code/game/machinery/vending.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/drask/mask.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/kidan/mask.dmi
  icons/mob/clothing/species/kidan/uniform.dmi
  icons/mob/clothing/species/monkey/mask.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/mob/clothing/species/wryn/mask.dmi
  icons/mob/clothing/species/wryn/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/uniforms.dmi
  paradise.dme
Labels: DMI, Has Approve

#6215 add: Fast Pouch crate for cargo
  code/datums/supplypacks.dm
Labels: Has Approve
