Repository ss220-space/Paradise, pull requests merged in 2024-08, with the labels that each got.

#5633 server: auto reconnect on round restart after 10s
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/game/actions.js
  tgui/packages/tgui-panel/game/constants.js
  tgui/packages/tgui-panel/game/middleware.js
  tgui/packages/tgui-panel/game/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI, javascript

#5628 qol: Plushie qol add sprites and mechanics
  code/game/objects/items/toys.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5639 imageadd: fix-offhand-sprite, add 24 new inhand sprites
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/contraband.dmi
Labels: DMI

#5648 imageadd: inhand fix #666
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5647 imageadd: fix fridge overlay
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  icons/obj/closet.dmi
Labels: DMI

#5645 imageadd: mender, kits, gauze, splint inhand sprite
  code/game/objects/items/stacks/medical.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5650 bugfix: deleted extra lamp in the captain's office
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5663 imageadd: and another inhand-fix
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5665 tweak: Initialize Flag
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  code/__DEFINES/_helpers.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/non-firing/atoms.dm
  code/game/atoms.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/mob/new_player/new_player.dm
Labels: MAP

#5679 add: gloves can be stored in belt
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  icons/obj/clothing/belts.dmi
Labels: DMI

#5688 SS1984_QM_fax-fix
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
Labels: MAP

#5684 bugfix: tubechange
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5682 imageadd: new_inhand sprites by-kisik
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5680 bugfix: FloorsChangeInHeadRooms
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5690 imageadd: new_inhand sprites by-kisik 2
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5699 Fix: returns ai sec bot
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5706 bugfix: grey helmet sprite
  icons/mob/clothing/species/grey/head.dmi
Labels: DMI

#5709 add: New sprites for paramedic new skirt and cap
  code/game/jobs/job/medical.dm
  code/game/machinery/vending.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/storage.dmi
Labels: DMI

#5716 bugfix: Fixes templar shields invisible states
  icons/obj/items.dmi
Labels: DMI

#5653 add: science HUD implant
  code/__DEFINES/hud.dm
  code/modules/client/preference/loadout/loadout_implants.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/augments_eyes.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/surgery.dmi
Labels: DMI

#5724 refactor: prettier maptext fonts
  code/__DEFINES/fonts.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/text.dm
  code/__HELPERS/icons.dm
  code/game/machinery/status_display.dm
  code/modules/countdown/countdown.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
  code/modules/mob/mob_say.dm
  interface/fonts/Grand9K_Pixel.ttf
  interface/fonts/Grand9K_Pixel_modif.ttf
  interface/fonts/Pixellari.ttf
  interface/fonts/Pixellari_modif.ttf
  interface/fonts/SpessFont.ttf
  interface/fonts/TinyUnicode.ttf
  interface/fonts/VCR_OSD_Mono.ttf
  interface/fonts/fonts_datum.dm
  interface/fonts/grand_9k.dm
  interface/fonts/license.txt
  interface/fonts/pixellari.dm
  interface/fonts/spess_font.dm
  interface/fonts/tiny_unicode.dm
  interface/fonts/vcr_osd_mono.dm
  interface/skin.dmf
  paradise.dme
  strings/tips.txt
Labels: testmerge

#5723 Qol: Alert for Fleshmend
  code/datums/status_effects/buffs.dm
  icons/mob/screen_alert.dmi
Labels: DMI

#5697 imageadd: Storage resprite
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/mining/money_bag.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/species/grey/back.dmi
  icons/mob/clothing/species/vox/back.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/storage.dmi
Labels: DMI

#5718 imageadd: new implant icons
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_eyes.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/surgery.dmi
Labels: DMI

#5693 add: modified medical gloves
  code/modules/actionspeed/modifiers/items.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/research/designs/medical_designs.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/monkey/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/gloves.dmi
  paradise.dme
Labels: DMI

#5714 tweak: Delete spy_kit
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#5729 bugfix: icons and runtime in roboquest + prettier store
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/economy/robotic_quests/robo_quests.dm
  tgui/packages/tgui/interfaces/RoboQuest.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5309 add: mopping_effect
  code/game/objects/effects/temporary_visuals/bubbles.dm
  code/game/objects/items/weapons/mop.dm
  icons/effects/effects.dmi
  paradise.dme
Labels: DMI

#5720 add: new space ninja poster
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: DMI

#5692 add: New barsign
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: DMI

#5726 bugfix: Fixes a lot of bad Initialize calls
  code/_onclick/hud/parallax.dm
  code/datums/ruins/bridges.dm
  code/game/gamemodes/miniantags/abduction/machinery/console.dm
  code/game/machinery/buttons.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/computer/power.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/spacepod.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/teleporter.dm
  code/game/machinery/turret_control.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/effects/mapping_helpers.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/decorations.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/watercloset.dm
  code/game/shuttle_engines.dm
  code/game/turfs/simulated/shuttle.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/modules/arcade/arcade_base.dm
  code/modules/awaymissions/gateway.dm
  code/modules/awaymissions/mission_code/ruins/graveyard.dm
  code/modules/clothing/spacesuits/ert.dm
  code/modules/library/lib_items.dm
  code/modules/library/random_books.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/pen.dm
  code/modules/power/generator.dm
  code/modules/power/lighting.dm
  code/modules/power/port_gen.dm
  code/modules/power/turbine.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
  code/modules/shuttle/shuttle.dm
  code/modules/station_goals/bsa.dm
Labels: testmerge

#5751 imageadd: chemistry bag inhand
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5745 bugfix: nanomap bordered and not, air alarm state, patch safe reagents
  code/modules/reagents/chemistry/machinery/chem_master.dm
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/AirAlarm.js
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/packages/tgui/styles/components/NanoMap.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5712 QOL: Pai soft update
  code/modules/mob/living/silicon/pai/pai.dm
  icons/mob/pai.dmi
  icons/obj/aicards.dmi
Labels: DMI

#5689 add: new inhand dmi for foods
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/condiment.dm
  icons/mob/inhands/foods_lefthand.dmi
  icons/mob/inhands/foods_righthand.dmi
Labels: DMI

#5661 add: new weapon for pod pilot
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/closet.dmi
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectiles.dmi
  sound/weapons/LSR-39_disabler.ogg
  sound/weapons/LSR-39_kill.ogg
Labels: MAP, DMI

#5752 bugfix: LSR-39 pierces two objects
  code/modules/projectiles/projectile/beams.dm
Labels: MAP, DMI

#5205 add: minesweeper
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/minesweeper.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/machines/arcade.dmi
  paradise.dme
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Minesweeper.js
  tgui/packages/tgui/styles/interfaces/Minesweeper.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#5764 bugfix: Delete pilot's laser from station orbit
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5780 bugfix: LR-30 Magazine Sprites Fix
  code/modules/projectiles/ammunition/magazines.dm
  icons/obj/weapons/ammo.dmi
Labels: DMI

#5770 bugfix: freeplay minesweeper in dorms and paying for mode changing
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/minesweeper.dm
Labels: MAP

#5784 server: some tg assets prs
  .gitignore
  code/__DEFINES/subsystems.dm
  code/_compile_options.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/subsystem/asset_loading.dm
  code/controllers/subsystem/early_assets.dm
  code/controllers/subsystem/non-firing/assets.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/asset_emoji.dm
  code/modules/asset_cache/assets/asset_safe.dm
  code/modules/tgui/tgui_panel/tgui_panel.dm
  config/example/config.txt
  paradise.dme
  tgui/packages/tgui/interfaces/Safe.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5795 fix: Small fix pirate base
  _maps/map_files/templates/pirat_markettransit_onlyz2.dmm
  _maps/map_files/templates/piratbase.dmm
Labels: MAP

#5792 add: yt-dlp music system
  code/_globalvars/_regexes.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/ticker.dm
  code/game/sound.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/holiday/holiday.dm
  code/modules/tgui/tgui_panel/audio.dm
  config/example/config.txt
  config/example/music.txt
Labels: TGUI

#5801 server: TGUI 4.5.1-paradise (Inferno 8, eslint 9)
  tgui/.eslintignore
  tgui/.eslintrc.yml
  tgui/.yarn/releases/yarn-4.1.1.cjs
  tgui/.yarn/releases/yarn-4.3.1.cjs
  tgui/.yarn/sdks/eslint/bin/eslint.js
  tgui/.yarn/sdks/eslint/lib/api.js
  tgui/.yarn/sdks/eslint/lib/unsupported-api.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/prettier/bin/prettier.cjs
  tgui/.yarn/sdks/prettier/index.cjs
  tgui/.yarn/sdks/prettier/package.json
  tgui/.yarn/sdks/typescript/bin/tsc
  tgui/.yarn/sdks/typescript/bin/tsserver
  tgui/.yarn/sdks/typescript/lib/tsc.js
  tgui/.yarn/sdks/typescript/lib/tsserver.js
  tgui/.yarn/sdks/typescript/lib/tsserverlibrary.js
  tgui/.yarn/sdks/typescript/lib/typescript.js
  tgui/.yarn/sdks/typescript/package.json
  tgui/.yarnrc.yml
  tgui/bin/tgui
  tgui/bin/tgui_.ps1
  tgui/eslint.config.mjs
  tgui/global.d.ts
  tgui/package.json
  tgui/packages/common/collections.ts
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-dev-server/util.js
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Countdown.js
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/interfaces/StripMenu.tsx
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/packages/tgui/styles/interfaces/QuestConsole.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: TGUI, javascript

#5805 bugfix: lr30 havnt sprites after spawn
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/weapons/projectile.dmi
Labels: DMI

#5767 add: new budget gloves mechanic
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/gloves/color.dm
  icons/obj/clothing/gloves.dmi
Labels: MAP, DMI

#5816 bugfix: fixed virology
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5820 bugfix: Extra syndie port del
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5817 feat: lasershot [bounty]
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectiles.dmi
Labels: DMI

#5826 tweak: Adds a fork to the ashwalkers base
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: MAP

#5825 add: new flowers & new seed icons
  code/game/machinery/vending.dm
  code/modules/hydroponics/grown/flowers.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: DMI

#5832 add: AM-AI Экран для ИИ
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/ai.dmi
Labels: DMI

#5833 imageadd: inhand-harvestSprite by Kisik
  code/modules/hydroponics/grown/banana.dm
  icons/mob/inhands/foods_lefthand.dmi
  icons/mob/inhands/foods_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5828 add: new sprites for lockers and vault crate
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mining/mine_items.dm
  icons/obj/closet.dmi
  icons/obj/crates.dmi
Labels: MAP, DMI
