Repository ss220-space/Paradise, pull requests merged in 2024-02, with the labels that each got.

#4333 Feat: syndiebase griefsky autopatrol
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#4331 bugfix: no more real cryopod in lavaland ruins
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pirateship.dmm
Labels: MAP

#4327 bugfix: Crematorium IDs
  _maps/map_files/RandomRuins/SpaceRuins/graveyard.dmm
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP

#4325 bugfix: HUD Zone Select Fixes
  code/_onclick/hud/alien.dm
  code/_onclick/hud/devil.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  icons/mob/screen_alien.dmi
  icons/mob/screen_white.dmi
Labels: DMI

#4353 Fix medical gown unathi
  icons/mob/clothing/species/unathi/uniform.dmi
Labels: DMI

#4334 Fix: February Delta patch
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4338 tweak: job updating for PDA messenger receiver.
  code/game/machinery/PDApainter.dm
  code/modules/pda/messenger.dm
  tgui/packages/tgui/interfaces/pda/pda_messenger.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4286 tweak: add some cargo tweaks
  code/controllers/subsystem/non-firing/cargo_quests.dm
  code/datums/supplypacks.dm
  code/game/gamemodes/game_mode.dm
  code/modules/economy/quests/_base_quests.dm
  code/modules/economy/quests/quest_console.dm
  code/modules/economy/quests/reagents_quests.dm
  code/modules/economy/quests/thing_quests.dm
  code/modules/shuttle/assault_pod.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/supply.dm
  tgui/packages/tgui/interfaces/QuestConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4226 bugfix: small-syndicate-fix
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/modules/admin/verbs/gimmick_team.dm
  code/modules/admin/verbs/honksquad.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: MAP

#4043 ADD: Kidan's Pheromones
  code/__DEFINES/hud.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  icons/effects/effects.dmi
Labels: DMI

#3870 add: highlight list for ghosts
  code/__HELPERS/unsorted.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/mob_defines.dm
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4253 bugfix: Gorkiy17 reduced number of active turfs
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  code/game/turfs/simulated/floor/fancy_floor.dm
Labels: MAP, DMI, TGUI, javascript

#4366 Hotfix: delta feb patch
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4368 bugfix: fixed missed floor tiles
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4382 bugfix: Morgue Label Return
  code/game/objects/structures/morgue.dm
  icons/obj/stationobjs.dmi
Labels: DMI

#4375 bugfix: reconstruction of the disposal pipe system
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/_globalvars/lists/flavor_misc.dm
Labels: MAP

#4391 tweak: ipc and pai wire sprite update
  icons/obj/engines_and_power/power.dmi
Labels: DMI

#4321 bugfix: show panel virology fridge after screw act
  icons/obj/machines/vending.dmi
Labels: DMI

#4314 add: Hierophant Talisman from hardmode Hierophant
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/shade.dm
  icons/mob/actions/actions.dmi
  icons/mob/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
  icons/obj/lavaland/artefacts.dmi
Labels: DMI

#4394 Tweak: Remove extra atmos different turfes and useless dirs and tags
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4318 add: Zaza drink.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  code/game/machinery/vending.dm
  code/modules/economy/quests/reagents_quests.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mob/living/taste.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/drinks.dmi
  icons/obj/reagentfillings.dmi
Labels: MAP, DMI

#4371 add: security drip update
  code/__DEFINES/flags.dm
  code/__DEFINES/hud.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/sight.dm
  code/game/machinery/vending.dm
  code/game/objects/items.dm
  code/modules/client/preference/loadout/loadout_glasses.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/organ_icon.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/drask/eyes.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/drask/mask.dmi
  icons/mob/clothing/species/grey/eyes.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/monkey/eyes.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/eyes.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
Labels: DMI

#4252 add: Updated Wizard Clothing
  code/datums/spells/knock.dm
  code/datums/spells/wizard.dm
  code/game/gamemodes/wizard/apprentice.dm
  code/modules/clothing/suits/wiz_robe.dm
  icons/mob/actions/actions.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/tajaran/head.dmi
  icons/mob/clothing/species/unathi/head.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/head.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#4278 add: laser gun reskin
  code/modules/projectiles/guns/energy/laser.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/energy.dmi
Labels: DMI

#4259 add: new species meat
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/map_files/RandomRuins/SpaceRuins/magestavern.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/shuttles/ferry_meat.dmm
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  icons/obj/food/food.dmi
  icons/obj/items.dmi
Labels: MAP, DMI

#4120 fix: added sst hardsuit skins
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/unathi/suit.dmi
Labels: DMI

#4381 add: Added Adidas Uniform
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#4415 bugfix: correct naming for tasers locker
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4409 bugfix: fixed missed cheks for sec scarf and googles
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/masks/boxing.dm
  icons/mob/clothing/species/monkey/mask.dmi
Labels: DMI

#4425 add: new meat steak recipes
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/recipes/recipes_grill.dm
  icons/obj/food/food.dmi
Labels: DMI

#4417 add: removed meatwheat mutation and syntiflesh reaction
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/reagents/chemistry/recipes/food.dm
  code/modules/research/designs/biogenerator_designs.dm
Labels: MAP

#4322 add: Resprited Stoks
  code/modules/clothing/clothing.dm
  icons/effects/species.dmi
  icons/mob/human_races/monkeys/r_stok.dmi
  icons/mob/human_races/monkeys/r_stok_old.dmi
  icons/obj/objects.dmi
Labels: DMI

#4285 Remap: Kerberos R&D Cafeteria
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4448 bugfix: Welding Mask Overlays
  icons/mob/clothing/species/drask/mask.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/monkey/mask.dmi
  icons/mob/clothing/species/plasmaman/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
Labels: DMI

#4438 add: NT Mecha PaintKit
  code/game/mecha/paintkits.dm
  code/modules/crafting/recipes.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mecha/lockermech.dmi
  icons/obj/mecha/mecha.dmi
  icons/obj/paintkit.dmi
Labels: DMI

#3385 feat: frosty breath effect in low-temperature rooms
  code/game/objects/effects/misc.dm
  code/modules/mob/living/carbon/life.dm
  icons/effects/effects.dmi
Labels: DMI

#4443 Refactor: Transit tubes
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/directions.dm
  code/__DEFINES/misc.dm
  code/controllers/subsystem/processing/transittube.dm
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
  code/game/objects/structures/transit_tubes/transit_tube_pod.dm
  icons/obj/pipes_and_stuff/not_atmos/transit_tube.dmi
  icons/obj/pipes_and_stuff/not_atmos/transit_tube_pod.dmi
  icons/obj/pipes_and_stuff/not_atmos/transit_tube_station.dmi
  paradise.dme
Labels: MAP, DMI

#4452 Bugfix: adds area to AI's cams
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#3909 add: exploit records for uplink and pick darkness for ghosts
  SQL/paradise_schema.sql
  SQL/updates/31-32.sql
  code/__DEFINES/misc.dm
  code/_onclick/hud/ghost.dm
  code/datums/datacore.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob_defines.dm
  config/example/dbconfig.txt
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
  tools/ci/dbconfig.txt
Labels: TGUI, javascript, SQL

#4191 add: Added book flag tracking and view flagged books does not crash server
  SQL/updates/32-33.sql
  code/__DEFINES/misc.dm
  code/modules/library/admin.dm
  code/modules/library/lib_machines.dm
  config/example/dbconfig.txt
  tools/ci/dbconfig.txt
Labels: SQL

#4346 Tweak: Oldstation update
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
Labels: MAP

#4413 add: Lavaland Apprentice
  code/__HELPERS/path.dm
  code/datums/spells/lavaland_spells/conjure_skulls.dm
  code/datums/spells/lavaland_spells/goliath_dash.dm
  code/datums/spells/lavaland_spells/goliath_tentacles.dm
  code/datums/spells/lavaland_spells/watchers_look.dm
  code/game/gamemodes/wizard/apprentice.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  icons/mob/actions/actions.dmi
  paradise.dme
Labels: DMI

#4490 bugfix: safe spot for criminal garbage
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4491 bugfix: added missed pipe connector in lavaland camp
  _maps/map_files/generic/Lavaland.dmm
Labels: MAP

#4480 bugfix: Cyberiad minor fixes
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#4482 bugfix: Delta missing firelock & Sprite
  _maps/map_files/Delta/delta.dmm
  icons/turf/areas.dmi
Labels: MAP, DMI

#4121 bugfix: ShelterCapsuleFix
  _maps/map_files/templates/shelter_1.dmm
  _maps/map_files/templates/shelter_2.dmm
  _maps/map_files/templates/shelter_3.dmm
  code/game/objects/effects/mapping_helpers.dm
Labels: MAP

#3969 add: Gorillas! OOGA! OOGA! OOGA!
  _maps/map_files/Delta/delta.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/status_effects.dm
  code/__HELPERS/path.dm
  code/datums/status_effects/buffs.dm
  code/datums/supplypacks.dm
  code/game/gamemodes/steal_items.dm
  code/game/objects/items/weapons/implants/implant_gorilla_rampage.dm
  code/game/objects/items/weapons/implants/implantfluff.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla_actions.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla_emote.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_say.dm
  code/modules/mob/transform_procs.dm
  code/modules/point/point.dm
  icons/mob/actions/actions.dmi
  icons/mob/actions/actions_animal.dmi
  icons/mob/cargorillia.dmi
  icons/mob/gorilla.dmi
  icons/obj/implants.dmi
  paradise.dme
  sound/creatures/gorilla.ogg
Labels: MAP, DMI

#4178 add: CereImprovement-pt9
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4506 Bugfix: Spacehotel shard steal
  _maps/map_files/RandomZLevels/spacehotel.dmm
  code/modules/awaymissions/mission_code/ruins/crashedipcship.dm
  code/modules/power/supermatter/supermatter.dm
Labels: MAP
