Repository ss220-space/Paradise, pull requests merged in 2024-06, with the labels that each got.

#5119 add: nucleation emergency box
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/storage.dmi
Labels: DMI

#5073 add: nunchucks
  code/game/objects/items/weapons/misc.dm
  code/modules/crafting/recipes.dm
  icons/obj/items.dmi
Labels: DMI

#5130 bugfix: Multi-z Light
  code/game/area/areas.dm
  code/game/area/areas/syndicate_base.dm
  code/game/area/ss13_areas.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/mission_code/ruins/USSP_gorky17.dm
  code/modules/lighting/lighting_area.dm
  code/modules/lighting/lighting_turf.dm
  icons/effects/alphacolors.dmi
Labels: DMI

#5108 bugfix: Bold names for all command role titles.
  code/datums/datacore.dm
  tgui/packages/tgui/interfaces/common/CrewManifest.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#5131 imageadd: Vox sunglasses hud FIX
  icons/mob/clothing/species/vox/eyes.dmi
Labels: DMI

#5090 add: new clothes by PT
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_gloves.dm
  code/modules/client/preference/loadout/loadout_shoes.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/pants.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/shoes.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/drask/underwear.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/gloves.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/grey/underwear.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/gloves.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/shoes.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/tajaran/head.dmi
  icons/mob/clothing/species/unathi/head.dmi
  icons/mob/clothing/species/unathi/shoes.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/unathi/underwear.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/feet.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/shoes.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/underwear.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/species/vulpkanin/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/underwear.dmi
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/clothing/species/vox/suits.dmi
  icons/obj/clothing/species/vulpkanin/hats.dmi
  icons/obj/clothing/species/vulpkanin/suits.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#5060 refactor: Runechat Tweaks
  code/__DEFINES/_helpers.dm
  code/__DEFINES/span.dm
  code/__DEFINES/text.dm
  code/__HELPERS/type2type.dm
  code/__HELPERS/unsorted.dm
  code/datums/chatmessage.dm
  code/datums/emote/emote.dm
  code/defines/procs/records.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/data_huds.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/client/client_procs.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon_say.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  paradise.dme
Labels: testmerge

#5192 Imageadd/Qol: Pda Сart resprite (Prictice PR)
  icons/obj/pda.dmi
Labels: DMI

#5128 Imageadd: Decals-resprite (Prictice PR for studying)
  icons/obj/decals.dmi
Labels: DMI

#5149 add: New event ruin Pirates Base
  _maps/map_files/templates/pirat_markettransit_onlyz2.dmm
  _maps/map_files/templates/piratbase.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#5080 refactor: Inventory Optimization
  code/__DEFINES/clothing.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/outfits/outfit.dm
  code/datums/outfits/vv_outfit.dm
  code/datums/status_effects/gas.dm
  code/game/gamemodes/devil/true_devil/_true_devil.dm
  code/game/gamemodes/devil/true_devil/inventory.dm
  code/game/jobs/job/supervisor.dm
  code/game/objects/items.dm
  code/modules/antagonists/space_ninja/components/ninja_chameleon_helper.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/jewelry.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/customitems/item_defines.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/pandora.dm
  icons/mob/clothing/uniform.dmi
  icons/obj/custom_items.dmi
Labels: DMI, testmerge, Perfomance

#5145 bugfix: Many map fixes... Cyberiad moved to the centre of the level.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/objects/effects/spawners/airlock_spawner.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/toy.dm
  code/modules/research/experimentor.dm
  code/modules/station_goals/bluespace_tap.dm
  code/modules/station_goals/brs/brs_reward.dm
Labels: MAP

#5048 tweak: mouse idle anim addiction
  code/game/objects/effects/decals/contraband.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/animal.dmi
  icons/obj/contraband.dmi
Labels: DMI

#5217 bugfix/refactor: camera bugfix/refactor + ninja invisible 2
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/towerstation.dmm
  code/game/area/ai_monitored.dm
  code/game/area/areas.dm
  code/game/area/ss13_areas.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/portable_turret.dm
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
  icons/obj/machines/monitors.dmi
  paradise.dme
Labels: MAP, DMI

#5194 imageadd/tweak: Drink resprites and some stuff
  code/game/machinery/vending.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  icons/obj/cardboard_cutout.dmi
  icons/obj/closet.dmi
  icons/obj/drinks.dmi
  icons/obj/mugs.dmi
  icons/obj/nuke_tools.dmi
Labels: DMI

#5229 [imageadd] fix mouse-ass anim
  icons/mob/animal.dmi
Labels: DMI

#5231 tweak: Change turfs temps to not give LINDA extra work
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_legion.dmm
  code/game/turfs/simulated/floor/indestructible.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: MAP

#5269 imageadd: Cult cutouts update
  code/game/objects/items/cardboard_cutouts.dm
  icons/obj/cardboard_cutout.dmi
Labels: DMI

#5250 imageadd: New lavaland eee-rock
  code/game/turfs/simulated/minerals.dm
  icons/obj/mining.dmi
  icons/turf/mining.dmi
  icons/turf/smoothrocks.dmi
  icons/turf/smoothrocks_hard.dmi
  icons/turf/smoothrocks_volcanic.dmi
Labels: DMI

#5255 tweak: Add new poster
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: DMI

#5278 bugfix: Fedora spr. Fix
  icons/mob/clothing/head.dmi
Labels: DMI

#5242 tweak: Add pockets to Trenchcoats
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_banya.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/generic/z2_old.dmm
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/game/gamemodes/wizard/apprentice.dm
  code/game/objects/structures/coathanger.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: MAP

#5248 Imageadd: New bags sprites
  icons/obj/chemical.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/mining.dmi
Labels: DMI

#5175 Add: New map "Celestation"
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spaceprison.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/z2_old.dmm
  code/game/area/ss13_areas.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/teleporter.dm
  code/game/objects/effects/decals/turfdecals/markings.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/signs.dm
  code/game/objects/structures/transit_tubes/station.dm
  code/game/turfs/simulated/floor/transparent.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/map_fluff/celestation.dm
  code/modules/map_fluff/delta.dm
  code/modules/map_fluff/event.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/research/designs/comp_board_designs.dm
  icons/obj/decals.dmi
  icons/turf/floors.dmi
  paradise.dme
Labels: MAP, DMI

#5125 imageadd:New sprites of energy crossbows
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectiles.dmi
Labels: DMI

#5159 tweak: legion tumour tweaks
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits.dm
  code/game/data_huds.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/reagents/chemistry/reagents/admin.dm
  icons/mob/hud.dmi
Labels: DMI

#5232 imageadd: update_pda
  icons/goonstation/objects/pda_overlay.dmi
  icons/obj/pda.dmi
Labels: DMI

#5256 tweak: new hairstyles for dions and nucleations | by vadim722
  code/modules/mob/new_player/sprite_accessories/diona/diona_hair.dm
  code/modules/mob/new_player/sprite_accessories/nucleation/nucleation_face.dm
  icons/mob/sprite_accessories/diona/diona_hair.dmi
  icons/mob/sprite_accessories/nucleation/nucleation_face.dmi
Labels: DMI

#5272 add: new Donor clothes
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#5286 imageadd: Resprite of smashed drink cans
  icons/obj/trash.dmi
Labels: DMI

#5310 bugfix: Celestation patch
  .github/workflows/ci.yml
  _maps/map_files/celestation/celestation.dmm
  code/controllers/subsystem/machinery.dm
  code/game/area/ss13_areas.dm
  code/game/machinery/quantum_pad.dm
  code/modules/power/cable_multiz.dm
Labels: MAP
