Repository ss220-space/Paradise, pull requests merged in 2024-09, with the labels that each got.

#5822 add: upgraded hypospray
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/research/designs/medical_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/hypo.dmi
Labels: DMI

#5824 add: locator_pod
  code/datums/ruins.dm
  code/datums/ruins/space.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/research/designs/spacepod_designs.dm
  code/modules/spacepods/equipment.dm
  code/modules/spacepods/spacepod.dm
  icons/goonstation/pods/pod_parts.dmi
  icons/goonstation/pods/ship.dmi
  icons/spacepods_paradise/locator.dmi
Labels: DMI

#5847 bugfix: lockers 2
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  icons/obj/closet.dmi
Labels: MAP, DMI

#5853 bugfix: Flowers and implants are correctly provided in hand
  icons/mob/inhands/foods_lefthand.dmi
  icons/mob/inhands/foods_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5860 add: gamma shuttle transition
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/doors/airlock_types.dm
  code/modules/admin/topic.dm
  code/modules/shuttle/gamma.dm
  code/modules/shuttle/shuttle.dm
Labels: MAP

#5863 tweak: add patch boxes and thick tape roll to the taipan
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/templates/pirat_markettransit_onlyz2.dmm
  code/game/machinery/vending.dm
  code/modules/projectiles/guns/projectile/saw.dm
  icons/obj/bureaucracy.dmi
Labels: MAP, DMI

#5867 imageadd: charcoal olives
  icons/obj/hydroponics/growing_vegetables.dmi
Labels: DMI

#5887 bugfix: we delete the wall that was in the wrong place
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#5843 Refactor: Eatable component & stacks are now eatable & species special diet.
  code/__DEFINES/clothing.dm
  code/_onclick/item_attack.dm
  code/datums/components/eatable.dm
  code/game/machinery/doors/access_control.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/autopsy.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/gloves/rings.dm
  code/modules/food_and_drinks/item_food/eat_item_list_cloth.dm
  code/modules/food_and_drinks/item_food/eat_item_list_soap.dm
  code/modules/food_and_drinks/item_food/eat_item_list_tech.dm
  code/modules/food_and_drinks/item_food/eat_items.dm
  code/modules/martial_arts/krav_maga.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/pda/PDA.dm
  paradise.dme
Labels: testmerge, Has Approve

#5878 bugfix: Resonator and fleshmaul attackchain cooldowns.
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mining/equipment/resonator.dm
Labels: Has Approve

#5848 tweak: Удаление турелей тайпана + сапёр
  _maps/map_files/generic/syndicatebase.dmm
Labels: MAP, Has Approve

#5871 bugfix: Taipan Spawn.
  code/modules/awaymissions/corpse.dm
Labels: Has Approve

#5879 bugfix: Leather satchel right inhand FIX
  icons/mob/inhands/clothing_righthand.dmi
Labels: DMI

#5886 bugfix: Gas sensor actualization.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/game/machinery/atmo_control.dm
Labels: MAP

#5771 add: succumb alert
  code/__DEFINES/status_effects.dm
  code/_onclick/hud/alert.dm
  code/datums/status_effects/neutral.dm
  code/modules/antagonists/goon_vampire/goon_vampire_datum.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  icons/mob/screen_alert.dmi
Labels: DMI

#5902 add: Lockers and crates are now opened with chance when hit into wall
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Has Approve

#5819 rework: title menu
  code/__DEFINES/js.dm
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/non-firing/titlescreen.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/asset_cache/assets/asset_lobby.dm
  code/modules/asset_cache/assets/asset_tgui.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/login.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  config/example/music.txt
  config/title_screens/images/default.dmi
  config/title_screens/images/default.png
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-brands-400.ttf
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff
  html/font-awesome/webfonts/fa-v4compatibility.ttf
  html/title_screen.html
  icons/logo.png
  icons/logo1984.png
  icons/ss1984.gif
  interface/skin.dmf
  paradise.dme
  strings/lobby_phrases.txt
  tgui/packages/tgui-panel/themes.js
  tgui/public/tgui-panel.bundle.js
Labels: DMI, TGUI, javascript, testmerge

#5904 add: stock parts, apc, cells, cell charger
  code/game/machinery/cell_charger.dm
  code/modules/power/cell.dm
  icons/obj/engines_and_power/power.dmi
  icons/obj/stock_parts.dmi
Labels: DMI

#5911 bugfix: New parts fix
  code/game/machinery/cell_charger.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/engines_and_power/power.dmi
  icons/obj/stock_parts.dmi
Labels: DMI

#5909 qol: toggle item tips
  code/__DEFINES/preferences.dm
  code/game/objects/items.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: Has Approve

#5919 bugfix: deepfryer is now working
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
Labels: Has Approve

#5925 bugfix: no cyborg wheelchairs
  code/controllers/subsystem/jobs.dm
Labels: Has Approve

#5929 bugfix: fixed the interaction of the holotool with the mechs
  code/game/mecha/mecha_construction_paths.dm
Labels: Has Approve

#5927 tweak: cyber heart stamina regen
  code/modules/surgery/organs/heart.dm
Labels: Has Approve

#5923 bugfix: Delete runtime from DeathSquad's upgrade
  code/modules/clothing/upgrade_modules/hardsuit_taser_proof_module/hardsuit_taser_proof.dm
Labels: Has Approve

#5918 bugfix: Closets use correct sprite
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mining/mine_items.dm
Labels: Has Approve

#5836 Add: Advanced laser surgery tools
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/tools.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/surgery.dmi
Labels: DMI

#5920 refactor: godmode
  code/__DEFINES/combat.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits.dm
  code/datums/spells/rod_form.dm
  code/datums/spells/shapeshift.dm
  code/datums/status_effects/neutral.dm
  code/game/gamemodes/clockwork/cogscarab.dm
  code/game/gamemodes/devil/devilinfo.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/theft_items.dm
  code/game/objects/items/weapons/anomaly_extract.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/brain/update_status.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_stat.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/update_status.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/ai/update_status.dm
  code/modules/mob/living/silicon/decoy/life.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/update_status.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_damage.dm
  code/modules/mob/living/silicon/robot/drone/update_status.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/robot/update_status.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_ai.dm
  code/modules/mob/living/simple_animal/hulk.dm
  code/modules/mob/living/simple_animal/hulk_power.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/status_procs.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/shuttle/shuttle_smash.dm
  code/modules/surgery/organs/blood.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_external.dm
Labels: Has Approve

#5933 imageadd: Респрайт мед. патчей
  icons/obj/chemical.dmi
Labels: DMI

#5461 New Station "Nova"
  .github/workflows/ci.yml
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/nova/Lavaland.dmm
  _maps/map_files/nova/nova.dmm
  code/game/area/ss13_areas.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/syndie_logo_decals.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/structures/statues.dm
  code/modules/asset_cache/assets/asset_nanomap.dm
  code/modules/map_fluff/nova.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/carp.dm
  icons/_nanomaps/Nova_nanomap_z1.png
  icons/_nanomaps/Nova_nanomap_z2.png
  icons/mob/animal.dmi
  icons/obj/NT_logo_short2_torn.dmi
  icons/obj/NT_logo_short_torn.dmi
  icons/obj/NovaStationLogo.dmi
  icons/obj/contraband.dmi
  paradise.dme
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: MAP, DMI, TGUI, javascript

#5935 add: Flipping helper
  _maps/map_files/Delta/delta.dmm
  code/game/objects/effects/mapping_helpers.dm
  code/game/objects/structures/tables_racks.dm
  icons/effects/mapping_helpers.dmi
Labels: MAP, DMI, Has Approve

#5945 qol/tweak: surgical belts for medic
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/research/designs/biogenerator_designs.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/obj/clothing/belts.dmi
Labels: MAP, DMI, Has Approve

#5943 add: fake blindfold
  code/modules/client/preference/loadout/loadout_glasses.dm
  code/modules/clothing/glasses/glasses.dm
Labels: DMI, Has Approve

#5936 bugfix: detective's access to the shuttle
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_meta.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  _maps/map_files/shuttles/emergency_old.dmm
Labels: MAP, Has Approve

#5934 QOL: Перевод + балун алерты для часто применимых статус эффектов.
  code/game/objects/items/weapons/kitchen.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: перевод, Has Approve

#5928 add: new AI sprite - HAL900
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/ai.dmi
Labels: DMI, Has Approve

#5906 add: combat drones for traitors
  code/datums/uplink_item.dm
  code/modules/crafting/recipes.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  icons/obj/items.dmi
Labels: DMI, Has Approve

#5608 add: new shoves impact + brand intelligence tweaks
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits.dm
  code/datums/elements/squish.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/vending.dm
  code/game/machinery/vending_crit.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/fireaxe.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/events/brand_intelligence.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/recycling/disposal.dm
  paradise.dme
Labels: testmerge

#5905 bugfix: Mapfixes.
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/structures/signs.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  icons/mob/bees.dmi
  icons/obj/decals.dmi
  icons/obj/weapons/grenade.dmi
Labels: MAP, DMI

#5952 bugfix: Nova Station #1 Patch
  _maps/map_files/nova/Lavaland.dmm
  _maps/map_files/nova/nova.dmm
  code/game/objects/structures/statues.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/carp.dm
  code/modules/power/supermatter/supermatter.dm
  icons/obj/closet.dmi
  icons/obj/contraband.dmi
Labels: MAP, DMI

#5829 Add: Updates to the Dormitories prize slot machine + перевод
  code/modules/arcade/prize_datums.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy.dm
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectiles.dmi
Labels: DMI, Has Approve

#5937 add: Add surgery sounds
  code/game/gamemodes/miniantags/abduction/abduction_surgery.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/vocal_cords_surgery.dm
  paradise.dme
  sound/surgery/amputation.ogg
  sound/surgery/bonegel.ogg
  sound/surgery/bonesetter.ogg
  sound/surgery/cautery1.ogg
  sound/surgery/cautery2.ogg
  sound/surgery/fixovein1.ogg
  sound/surgery/hemostat1.ogg
  sound/surgery/hemostat2.ogg
  sound/surgery/organ1.ogg
  sound/surgery/organ2.ogg
  sound/surgery/retractor1.ogg
  sound/surgery/retractor2.ogg
  sound/surgery/saw1.ogg
  sound/surgery/scalpel1.ogg
  sound/surgery/scalpel2.ogg
  sound/surgery/surgicaldrill.ogg
Labels: Has Approve

#5959 bugfix: protection in touch reaction only
  code/modules/reagents/chemistry/holder.dm
Labels: Has Approve

#5577 Add:New Space Ruin
  _maps/map_files/RandomRuins/SpaceRuins/astroak.dmm
  code/datums/ruins/space.dm
  code/game/objects/structures/statues.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  icons/mob/carp.dmi
  icons/obj/statuelarge.dmi
Labels: MAP, DMI, Has Approve

#5955 balance: pain hunter is now excluded from antagonist objectives
  code/modules/antagonists/space_ninja/ninja_datum.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Has Approve
