Repository ss220-space/Paradise, pull requests merged in 2024-04, with the labels that each got.

#4759 add: [April Fools] clown supremacy
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/game_mode.dm
  code/modules/mini_games/thunderdome/brawlers/outfits.dm
  code/modules/projectiles/guns/projectile/toy.dm
Labels: MAP

#4765 bugfix: Cere Mass_driver pipe fix
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4707 Bugfix: Delta captain's glass door
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4741 imageadd: rainbow gloves
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
Labels: DMI

#4742 add: Lavaland spell books
  code/datums/spells/lavaland_spells/goliath_dash.dm
  code/datums/spells/lavaland_spells/watchers_look.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/obj/library.dmi
Labels: DMI

#4772 bugfix: equal clown masks
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/vending.dm
  code/modules/clothing/masks/miscellaneous.dm
Labels: MAP

#4786 add: Pai vending to Cerestation & Cyberiad
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#4588 add: new IPC types and skins
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_face.dm
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_head_accessories.dm
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_optics.dm
  code/modules/surgery/organs/robolimbs.dm
  icons/mob/human_races/cyberlimbs/bishop/bishop_rook.dmi
  icons/mob/human_races/cyberlimbs/hesphiastos/hesphiastos_titan.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_blitz.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_mantis.dmi
  icons/mob/human_races/cyberlimbs/nanotrasen/nanotrasen_main.dmi
  icons/mob/human_races/cyberlimbs/robovox/main.dmi
  icons/mob/human_races/cyberlimbs/veymed/veymed_main.dmi
  icons/mob/human_races/cyberlimbs/wardtakahashi/wardtakahashi_economy.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_econo.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_spirit.dmi
Labels: DMI

#4713 add: t3 donor night dresses
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#4791 bugfix: Beartrap & Cyberiad Fixes
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  icons/obj/items.dmi
Labels: MAP, DMI

#4762 qol: added forced look alert
  code/_onclick/click.dm
  code/_onclick/hud/alert.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  icons/mob/screen_alert.dmi
Labels: DMI

#4263 refactor: syndie bundles.
  code/__DEFINES/status_effects.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/status_effects/buffs.dm
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/devices/thermal_drill.dm
  code/game/objects/items/weapons/grenades/syndieminibomb.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/safe.dm
  code/modules/antagonists/thief/thief_kit.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/instruments/songs/_song.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/shuttle/supply.dm
  code/modules/surgery/organs/autoimplanter.dm
  icons/mob/screen_full.dmi
Labels: DMI

#4778 bugfix: fixes access control eating and holding
  code/game/machinery/doors/access_control.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/structures/door_assembly.dm
  icons/obj/doors/door_assembly.dmi
Labels: DMI

#4736 add: FullAuto Gun Mode Component
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/drag_drop.dm
  code/datums/components/fullauto.dm
  code/modules/client/client_defines.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  icons/effects/mouse_pointers/weapon_pointer.dmi
  paradise.dme
Labels: DMI

#4709 add: t4 donor pins
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/clothing/ties.dmi
  icons/mob/talk.dmi
  icons/obj/clothing/ties.dmi
Labels: DMI

#4686 add: 5 new cleaners
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/crafting/recipes.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/designs/janitorial_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/janitor.dmi
Labels: MAP, DMI

#4769 imageadd: street judge species sprites
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
Labels: DMI

#4703 add: t3 donor backpacks
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/customitems/item_defines.dm
  icons/mob/clothing/species/grey/back.dmi
  icons/mob/clothing/species/vox/back.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: DMI

#4823 imageadd: unzhmih thick tape roll
  icons/obj/bureaucracy.dmi
Labels: DMI

#4789 bugfix: Remove Unnecessary Proc Calls
  code/game/dna/dna2_helpers.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Perfomance

#4825 add: R&D handheld body analyzer
  code/game/objects/items/devices/scanners.dm
  code/modules/research/designs/medical_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/device.dmi
Labels: DMI

#4834 add: Blueshield + NT Represantive badges for donut loadaut.
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/talk.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: DMI

#4831 add: t3 donor space cloak
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/neck/cloaks.dm
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/species/monkey/neck.dmi
  icons/mob/clothing/species/plasmaman/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: DMI

#4836 bugfix: deleted lonely nun hoods from hotel templates
  _maps/map_files/templates/spacehotel/s_01.dmm
  _maps/map_files/templates/spacehotel/s_02.dmm
Labels: MAP, Critical Priority

#4837 add: Kisik Special: Engineering jacket and Holster loadout update
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
Labels: DMI

#4810 balance: update for ballictic armor in security armory
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/drask/shoes.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/gloves.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/shoes.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/unathi/shoes.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/shoes.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
Labels: MAP, DMI

#4838 add: T2 donor clown speechbubble
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/ties.dmi
  icons/mob/talk.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: DMI

#4804 add: new IPC health hud status icons
  code/game/data_huds.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  icons/mob/hud.dmi
Labels: DMI

#4592 add: (added) pet bowl and feed
  code/game/machinery/vending.dm
  code/modules/events/false_alarm.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/pet_bowl.dmi
Labels: DMI

#4851 qol: new 4k sprites from Pyotr Tchaikovsky
  icons/goonstation/objects/pokerchips.dmi
  icons/obj/closet.dmi
  icons/obj/contraband.dmi
  icons/obj/decals.dmi
  icons/obj/drinks.dmi
  icons/obj/food/containers.dmi
  icons/obj/janitor.dmi
Labels: DMI

#4817 Add: Quartermaster as head of the department
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/machines.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/steal_items.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/jobs.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/items/control_wand.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  icons/obj/machines/computer.dmi
  strings/sillytips.txt
  tgui/packages/tgui/interfaces/common/CrewManifest.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript

#4853 imageadd: species sprites and fixes for H.E.C.K
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
  icons/mob/clothing/suit.dmi
Labels: DMI

#4873 bugfix: fixes incorrect dmi states for ushanka ian and species sprites
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/corgi_head.dmi
Labels: DMI

#4876 bugix: Delta tube fix and remove chemical spray
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4879 bugfix: fix helmet name
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
Labels: DMI

#4874 add: Adds event-map: Turrim
  _maps/map_files/event/Station/towerstation.dmm
  code/modules/map_fluff/event.dm
Labels: MAP

#4870 bugfix: Lavaland ruins baseturf bugfix
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_green.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_althland_facility.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_grave.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_legion.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_monster_nest.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_nest.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pirateship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_worldanvil.dmm
Labels: MAP

#4875 add: new haircuts for xenoraces and humans
  code/modules/mob/new_player/sprite_accessories/diona/diona_hair.dm
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  code/modules/mob/new_player/sprite_accessories/tajaran/tajaran_hair.dm
  icons/mob/sprite_accessories/diona/diona_hair.dmi
  icons/mob/sprite_accessories/human/human_hair.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_hair.dmi
Labels: DMI

#4900 bugfix: Cere Qm unnecessary extinguisher_cabinet remove
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4898 add: portable orders monitor for cargotechs
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/economy/quests/quest_console.dm
  code/modules/economy/quests/reagents_quests.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/device.dmi
Labels: DMI

#4906 server: Changelogs now have capitalized descriptions
  tgui/packages/tgui/interfaces/Changelog.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4097 add: mouse idle animation
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/animal.dmi
Labels: DMI

#4916 tweak: new QM's sechud icon
  icons/mob/hud.dmi
Labels: DMI

#4907 refactor: DMI's for clothes is no longer hardcoded
  code/__DEFINES/clothing.dm
  code/__HELPERS/unsorted.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/accessories/jewelry.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon_hat.dm
  code/modules/mob/living/simple_animal/friendly/slugcat.dm
  icons/mob/mob.dmi
Labels: DMI

#4932 bugfix: added missing cuffs icons
  icons/mob/mob.dmi
Labels: DMI

#4660 add: added cursed katana from TG (restored version)
  code/__DEFINES/combat.dm
  code/__DEFINES/status_effects.dm
  code/__HELPERS/lists.dm
  code/_onclick/item_attack.dm
  code/datums/components/combo_attacks.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/lavaland/katana_grave.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  paradise.dme
Labels: DMI

#4951 bugfix: SpaceRuins fixes
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_banya.dmm
  _maps/map_files/RandomRuins/SpaceRuins/anomalyship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/RandomRuins/SpaceRuins/lonelypod.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spaceprison.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
Labels: MAP

#4933 add: Cerestation virology lab space optimization and small map tweaks.
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4957 bugfix: SpaceBattle awaystart landmark & turf fix
  _maps/map_files/RandomZLevels/spacebattle.dmm
Labels: MAP

#4963 bugfix: Icons for bola and shadowlings
  code/game/gamemodes/shadowling/shadowling_items.dm
  icons/mob/mob.dmi
Labels: DMI

#4987 bugfix: EngiVend&CritterCare panel overlays
  icons/obj/machines/vending.dmi
Labels: DMI
