Repository ss220-space/Paradise, pull requests merged in 2024-10, with the labels that each got.

#5964 bugfix: prizecounter fix
  code/modules/arcade/prize_datums.dm
Labels: Has Approve

#5963 add: RD doll
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_plushie.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
  sound/items/greetings-emote.ogg
  sound/items/shyness-emote.ogg
Labels: DMI, Has Approve

#5604 tweak/refactor: goon vampire and new vampire now has common code
  code/__DEFINES/vampire_defines.dm
  code/datums/mind.dm
  code/datums/spell_handler/vampire_spell_handler.dm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/vampire/goon_vampire.dm
  code/game/gamemodes/vampire/thief_vamp.dm
  code/game/gamemodes/vampire/traitor_vamp.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/goon_vampire/goon_vampire_datum.dm
  code/modules/antagonists/space_ninja/ninja_datum.dm
  code/modules/antagonists/vampire/goon_vampire_datum.dm
  code/modules/antagonists/vampire/new_vampire_datum.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/goon_vampire_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/silicon/login.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/water.dm
  paradise.dme
Labels: testmerge

#5676 imageadd: Tajaran body resprite. && add: New tajaran haircuts.
  code/__HELPERS/mobs.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories/human/human_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  code/modules/mob/new_player/sprite_accessories/skrell/skrell_face.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories/tajaran/tajaran_body_markings.dm
  code/modules/mob/new_player/sprite_accessories/tajaran/tajaran_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/tajaran/tajaran_hair.dm
  code/modules/mob/new_player/sprite_accessories/tajaran/tajaran_head_markings.dm
  code/modules/mob/new_player/sprite_accessories/unathi/unathi_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/vox/vox_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/vulpkanin/vulpkanin_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/vulpkanin/vulpkanin_hair.dm
  icons/effects/species.dmi
  icons/mob/clothing/body_accessory.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/underwear.dmi
  icons/mob/human_races/r_def_tajaran.dmi
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_body_markings.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_facial_hair.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_hair.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_head_accessories.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_head_markings.dmi
  icons/mob/sprite_accessories/tajaran/tajaran_tail_markings.dmi
Labels: DMI, testmerge

#5924 add/refactor: сentcomm rapier
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits/sources.dm
  code/_onclick/item_attack.dm
  code/datums/action.dm
  code/datums/components/after_attacks_hub.dm
  code/datums/elements/after_attack/_after_attack.dm
  code/datums/elements/after_attack/attack_effect_sleep.dm
  code/datums/outfits/outfit_admin.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/steal_items.dm
  code/game/jobs/job/central.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/upgrade_modules/hardsuit_taser_proof_module/hardsuit.dm
  code/modules/clothing/upgrade_modules/hardsuit_taser_proof_module/hardsuit_taser_proof.dm
  code/modules/customitems/item_defines.dm
  code/modules/martial_arts/martial.dm
  code/modules/mini_games/thunderdome/gamemodes/gamemode.dm
  code/modules/mining/lavaland/loot/ashdragon_loot.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/prince.dm
  code/modules/projectiles/guns/magic/staff.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/items.dmi
  paradise.dme
Labels: DMI, Has Approve

#5962 bugfix: Nova Station #2 Patch
  _maps/map_files/nova/nova.dmm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
Labels: MAP, DMI

#5774 add: Borer ranks, focuses
  code/__DEFINES/borer.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/lists/reagents.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/modules/actionspeed/modifiers/mobs.dm
  code/modules/antagonists/borer/borer_action.dm
  code/modules/antagonists/borer/borer_datum.dm
  code/modules/antagonists/borer/borer_focus.dm
  code/modules/antagonists/borer/borer_rank.dm
  code/modules/antagonists/borer/borer_reagent.dm
  code/modules/antagonists/borer/borer_spell.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/movespeed/modifiers/mobs.dm
  paradise.dme
Labels: Has Approve

#5973 bugfix: bluespace_tap
  code/modules/station_goals/bluespace_tap.dm
Labels: Has Approve

#5977 balance: Nerf ashwalkers speedmod
  code/modules/mob/living/carbon/human/species/unathi.dm
Labels: Has Approve

#5979 bugfix: Minor flower fixes
  code/modules/hydroponics/grown/flowers.dm
  icons/obj/hydroponics/harvest.dmi
Labels: DMI, Has Approve

#5974 bugfix: turret protection map and initialize fix.
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/CentComm.dmm
  code/game/machinery/turret_control.dm
Labels: MAP

#5957 add/imageadd: inhand sprites, colourable blindfolds
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/z2_old.dmm
  _maps/map_files/nova/nova.dmm
  code/game/objects/effects/landmarks.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/client/preference/loadout/loadout_glasses.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/drask/eyes.dmi
  icons/mob/clothing/species/grey/eyes.dmi
  icons/mob/clothing/species/monkey/eyes.dmi
  icons/mob/clothing/species/vox/eyes.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/glasses.dmi
Labels: MAP, DMI

#5958 add: Capitalism
  code/__DEFINES/subsystems.dm
  code/__HELPERS/global_lists.dm
  code/controllers/subsystem/capitalism.dm
  code/controllers/subsystem/jobs.dm
  code/controllers/subsystem/non-firing/cargo_quests.dm
  code/game/gamemodes/scoreboard.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/machinery/computer/card.dm
  code/game/objects/items/weapons/cash.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/quests/_base_quests.dm
  code/modules/economy/quests/centcomm_departaments.dm
  code/modules/economy/quests/reagents_quests.dm
  code/modules/economy/quests/thing_quests.dm
  code/modules/economy/utils.dm
  code/modules/shuttle/supply.dm
  code/modules/station_goals/station_goal.dm
  paradise.dme
Labels: testmerge

#5892 add: Emag opens uplinks
  code/game/objects/items/devices/radio/radio.dm
  code/modules/pda/PDA.dm
Labels: Has Approve

#5849 add: Customat
  code/datums/supplypacks.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/customat.dm
  code/game/objects/items/weapons/vending_items.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/utils.dm
  code/modules/recycling/disposal/pipe.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/tgui/states.dm
  code/modules/tgui/states/admin.dm
  code/modules/tgui/states/always.dm
  code/modules/tgui/states/conscious.dm
  code/modules/tgui/states/contained.dm
  code/modules/tgui/states/deep_inventory.dm
  code/modules/tgui/states/default.dm
  code/modules/tgui/states/hands.dm
  code/modules/tgui/states/human_adjacent.dm
  code/modules/tgui/states/inventory.dm
  code/modules/tgui/states/not_incapacitated.dm
  code/modules/tgui/states/notcontained.dm
  code/modules/tgui/states/observer.dm
  code/modules/tgui/states/physical.dm
  code/modules/tgui/states/self.dm
  code/modules/tgui/states/strippable_state.dm
  code/modules/tgui/states/zlevel.dm
  code/modules/tgui/tgui_input/number_input.dm
  icons/obj/machines/customat.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/Customat.js
  tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript, testmerge

#5885 tweak: cqc kick
  code/modules/martial_arts/combos/cqc/kick.dm
Labels: Has Approve

#5772 tweak: some blob small tweaks
  code/__DEFINES/blob.dm
  code/__DEFINES/traits/sources.dm
  code/datums/mind.dm
  code/datums/weather/weather_types/blob_storm.dm
  code/game/gamemodes/blob/blob.dm
  code/game/gamemodes/blob/blob_finish.dm
  code/game/gamemodes/blob/blob_report.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/blob/blob_infected_datum.dm
  code/modules/antagonists/blob/blob_overmind_datum.dm
  code/modules/mob/living/living_infected_blob_mobs.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: testmerge

#5982 bugfix: Nova Station #3 Patch
  _maps/map_files/nova/nova.dmm
Labels: MAP

#5985 bugfix: Now robo can make both scattershots
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Critical Priority, Has Approve

#5991 bugfix: attempt_cast on rev blight
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
Labels: Critical Priority, Has Approve

#5986 bugfix: Nova Station #4 Patch
  _maps/map_files/nova/nova.dmm
Labels: MAP

#5992 bugfix: Nova Station #5 Patch
  _maps/map_files/nova/nova.dmm
Labels: MAP

#5994 bugfix: Nova Station #6 Patch
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6000 imageadd: tajaran small hair fixes
  icons/mob/sprite_accessories/tajaran/tajaran_hair.dmi
Labels: DMI, Has Approve

#6002 Bugfix: Borer spell datum fix
  code/modules/antagonists/borer/borer_spell.dm
Labels: Critical Priority, Has Approve

#6008 imageadd: tajaran pathes head sprite fix
  icons/mob/sprite_accessories/tajaran/tajaran_head_markings.dmi
Labels: DMI

#6009 Qol: sst hardsuit speed
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Has Approve

#6014 bugfix: Nova Station #7 Patch
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6004 BugFix: fix some inhand sprites
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/aicard.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/sensor_device.dm
  code/modules/antagonists/traitor/contractor/items/contractor_pinpointer.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/suits/utility.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#5996 add: NektoeN Abandoned Storage Map.
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_storage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/map_files/RandomRuins/SpaceRuins/derelict5.dmm
  _maps/map_files/RandomRuins/SpaceRuins/emptyshell.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebotany.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/secret_documents.dm
  code/datums/ruins/space.dm
  code/game/area/ss13_areas.dm
  code/game/machinery/computer/syndie_cargo.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/items/documents.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/rat.dm
  code/modules/paperwork/folders.dm
  code/modules/shuttle/supply.dm
  icons/obj/bureaucracy.dmi
  icons/obj/objects.dmi
  paradise.dme
Labels: MAP, DMI, Has Approve

#6020 bugfix: Babylon Fever runtime fix
  code/datums/diseases/viruses/babylon_fever.dm
Labels: Critical Priority, Has Approve

#6019 tweak: sets up audio emotes cooldown
  code/modules/mob/living/carbon/human/human_emote.dm
Labels: Has Approve

#6024 add: more objectives for vampires and clings
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/changeling/changeling_datum.dm
  code/modules/antagonists/space_ninja/ninja_datum.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/vampire/vampire_datum.dm
Labels: Has Approve

#6028 bugfix: holoparasites are no longer can be refreshed in colossus crystal
  code/modules/mining/lavaland/loot/colossus_loot.dm
Labels: Critical Priority, Has Approve

#6027 bugfix: no more multiple tipping
  code/game/machinery/vending.dm
Labels: Critical Priority, Has Approve

#5983 refactor: Now wiki comes from config and not hardcoded.
  code/controllers/subsystem/jobs.dm
  code/game/gamemodes/miniantags/abduction/abduction.dm
  code/game/gamemodes/miniantags/demons/pulse_demon/pulse_demon.dm
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  code/game/gamemodes/miniantags/demons/slaughter_demon/slaughter_demon.dm
  code/game/gamemodes/miniantags/morph/morph.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/wizard/wizard.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/traitor/contractor/datums/contractor.dm
  code/modules/awaymissions/mission_code/ruins/graveyard.dm
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
  icons/obj/library.dmi
Labels: DMI, Has Approve

#6032 bugfix: fixes elite fauna
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
Labels: Critical Priority, Has Approve

#6010 feat: Повязки на глаза с ХУДом.
  code/modules/client/preference/loadout/loadout_glasses.dm
  code/modules/clothing/glasses/hud.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI, Has Approve

#6038 bugfix: you can no longer be immortal with sindie uno card
  code/game/objects/items/misc.dm
Labels: Critical Priority, Has Approve

#6040 bugfix: [customat] some items has wrong keys
  code/game/machinery/customat.dm
Labels: Critical Priority, Has Approve

#5452 add: New map voting mode "Notriples" - next map can't be selected if played twice in a row
  code/controllers/subsystem/non-firing/mapping.dm
  code/modules/vote/vote_presets.dm
  config/example/config.txt
Labels: SQL, Has Approve

#5960 add: suppressor for sp91 and wt550
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/weapons/projectile.dmi
Labels: DMI

#6055 bugfix: no prothesis heal from food and etc
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/ninja.dm
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
Labels: Critical Priority, Has Approve

#6056 BUGFIX: nitrilegloves onmob sprite fix
  icons/mob/clothing/hands.dmi
Labels: DMI, Critical Priority, Has Approve

#6054 add: Instrument censorship
  code/modules/instruments/songs/_song_ui.dm
Labels: Has Approve

#6052 qol: Skrell New Name Generator
  code/modules/mob/language.dm
Labels: Has Approve

#6047 add: fake blindfold recipe
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Has Approve

#6053 bugfix: Nova Station #9 Patch
  _maps/map_files/nova/Lavaland.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6073 bugfix: selling one item multiple times
  code/game/machinery/customat.dm
Labels: Has Approve

#5683 add: Experimentor relics rework
  code/game/objects/effects/anomalies.dm
  code/game/objects/items/anomaly_beacon.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/weapons/experimental_syringe_gun.dm
  code/game/objects/items/weapons/grenades/fauna_bomb.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/tuned_anomalous_teleporter.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/research/experimentor.dm
  icons/mob/inhands/relics_production/inhandl.dmi
  icons/mob/inhands/relics_production/inhandr.dmi
  icons/obj/weapons/techrelic.dmi
  paradise.dme
Labels: DMI, testmerge

#5874 bugfix: pAI bugfixes + localization
  code/game/objects/items/devices/paicard.dm
  code/game/verbs/suicide.dm
  code/modules/mob/living/silicon/pai/death.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_say.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software/_base.dm
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/telesci/gps.dm
Labels: перевод, testmerge

#5921 add: health insurance
  code/__DEFINES/insurance.dm
  code/controllers/subsystem/jobs.dm
  code/defines/procs/radio.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/syndicate.dm
  code/game/machinery/adv_med.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/insurance.dm
  code/modules/events/money_spam.dm
  code/modules/pda/messenger.dm
  code/modules/research/message_server.dm
  paradise.dme
  tgui/packages/tgui/interfaces/ATM.js
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript, testmerge

#6079 bugfix: Nova Station #10 Patch
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6031 imageadd: Brass buckler and rustless sword have inhand sprites.
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#6035 soundadd: New revolution sound
  code/datums/mind.dm
  code/game/gamemodes/revolution/revolution.dm
  sound/ambience/antag/revolutionary_tide.ogg
Labels: Has Approve

#6043 add: Spech bubble
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/clothing/ties.dmi
  icons/mob/talk.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
  paradise.dme
Labels: DMI

#6051 imageadd: New sterile mask sprite
  icons/obj/clothing/masks.dmi
Labels: DMI

#6063 tweak: 10mm HP slows down the target
  code/modules/projectiles/projectile/bullets.dm
Labels: Has Approve

#6062 tweak: M90 instead riot shotguns in ERT armory
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#6086 bugfix: Fixed paper bin filling
  code/modules/paperwork/paperbin.dm
Labels: Has Approve

#6088 bugfix: Fixed survival pod's computer being pushable by humanoids
  code/modules/mining/equipment/survival_pod.dm
Labels: Critical Priority, Has Approve

#6084 bugfix: Fixed toner insertion into photocopier
  code/modules/paperwork/photocopier.dm
Labels: Has Approve

#6083 bugfix: Fixed bluespace scanner spelling mistake
  code/modules/station_goals/brs/brs_stationary_scanner.dm
Labels: Has Approve

#6091 bugfix: Nova Station #11 Patch
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6066 add/bugfix: earrings
  code/modules/clothing/ears/ears.dm
  code/modules/instruments/objs/items/headphones.dm
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/species/monkey/ears.dmi
  icons/mob/clothing/species/vox/ears.dmi
  icons/obj/items.dmi
Labels: DMI

#6097 tweak: QM has always been the head
  strings/lobby_phrases.txt
Labels: Has Approve
