Repository ss220-space/Paradise, pull requests merged in 2024-12, with the labels that each got.

#6130 qol: robots translation
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
  tgui/packages/tgui/interfaces/BotClean.js
  tgui/packages/tgui/interfaces/BotSecurity.js
  tgui/public/tgui.bundle.js
Labels: TGUI, перевод, javascript, Has Approve

#6174 translation: vending.dm
  code/game/machinery/vending.dm
Labels: перевод, Has Approve

#6137 experimental: New() -> Initialize() organs migration.
  code/game/objects/items.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/machine.dm
  code/modules/surgery/organs/subtypes/standard.dm
Labels: testmerge, Has Approve

#6227 tweak: thunderdome cooldown
  code/modules/mini_games/thunderdome/thunderdome_battle.dm
Labels: Has Approve

#6230 bugfix: Nova disposal
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6219 imageadd: NVG resprites
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/drask/eyes.dmi
  icons/mob/clothing/species/grey/eyes.dmi
  icons/mob/clothing/species/vox/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#6236 qol: tendril loot translation
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: перевод, Has Approve

#5990 add: request console cart in pda[bounty]
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/machines.dm
  code/__DEFINES/request_consoles.dm
  code/datums/outfits/outfit_security_clown.dm
  code/game/machinery/requests_console.dm
  code/modules/mining/machine_redemption.dm
  code/modules/pda/PDA.dm
  code/modules/pda/app.dm
  code/modules/pda/cart.dm
  code/modules/pda/pda_tgui.dm
  code/modules/pda/pdas.dm
  code/modules/pda/request_consoles_app.dm
  code/modules/pda/request_consoles_cart.dm
  code/modules/research/message_server.dm
  icons/obj/pda.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/PDA.js
  tgui/packages/tgui/interfaces/RequestConsole.js
  tgui/packages/tgui/interfaces/pda/pda_request_console.js
  tgui/public/tgui.bundle.js
Labels: MAP, DMI, TGUI, javascript, testmerge

#6201 tweak: ritual cast time & unhardcode update_rank()
  code/__DEFINES/rituals.dm
  code/datums/rituals.dm
  code/modules/antagonists/borer/borer_datum.dm
  code/modules/antagonists/borer/borer_rank.dm
Labels: Has Approve

#6251 bugfix: wildwest black wall and double-double doors
  _maps/map_files/RandomZLevels/wildwest.dmm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_misc.dm
  icons/turf/walls/cult_wall.dmi
Labels: MAP, DMI

#6253 add: extended burn & brut kits
  code/game/machinery/vending.dm
  code/game/objects/items/stacks/medical.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
Labels: DMI

#6226 imageadd: sec_autolathe appdate spr
  icons/obj/machines/sec_autolathe.dmi
Labels: DMI

#6232 bugfix: Syndie supply pad console withdraw
  tgui/packages/tgui/interfaces/SyndieCargoConsole.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6220 imageadd: 5 new plasma envirosuits
  code/datums/outfits/plasmamen.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/plasmamen/civilian_service.dm
  code/modules/clothing/under/jobs/plasmamen/engineering.dm
  code/modules/clothing/under/jobs/plasmamen/medsci.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  icons/mob/clothing/species/plasmaman/helmet.dmi
  icons/mob/clothing/species/plasmaman/uniform.dmi
  icons/obj/clothing/species/plasmaman/hats.dmi
  icons/obj/clothing/species/plasmaman/uniform.dmi
Labels: DMI

#6223 imageadd: new beans sprite & new plasmaman plushies
  code/game/objects/items/toys.dm
  code/modules/client/preference/loadout/loadout_plushie.dm
  icons/obj/food/food.dmi
  icons/obj/toy.dmi
Labels: DMI

#6235 imageadd: Nucleations Resprite
  icons/mob/human_races/r_nucleation.dmi
  icons/mob/sprite_accessories/nucleation/nucleation_face.dmi
Labels: DMI

#6263 imageadd: Nucleation hair fix
  icons/mob/sprite_accessories/nucleation/nucleation_face.dmi
Labels: DMI

#6222 tweak: aiming lying targets by changing intent
  code/modules/projectiles/projectile.dm
  code/modules/spacepods/equipment.dm
Labels: Has Approve

#6189 tweak: Rework suicide drill
  code/modules/surgery/tools.dm
Labels: перевод, Has Approve

#6264 add: security tactical mask
  code/game/machinery/vending.dm
  code/modules/clothing/masks/gasmask.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/drask/mask.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/monkey/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/mob/clothing/species/wryn/mask.dmi
  icons/obj/clothing/masks.dmi
  paradise.dme
Labels: DMI

#6184 translation: arcade.dm
  code/game/machinery/computer/arcade.dm
Labels: перевод, Has Approve

#6255 add: Thunderdome Christmas Update
  _maps/map_files/generic/Admin_Zone.dmm
  code/modules/mini_games/thunderdome/brawlers/outfits.dm
  code/modules/mini_games/thunderdome/gamemodes/gamemode.dm
Labels: MAP

#6272 bugfix: Fixes camera consoles, real this time
  tgui/packages/tgui/components/ByondUi.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6202 tweak: Adds a refill canister for custom vendor
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6277 bugfix: cargo console and qm quest tablet
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
Labels: MAP

#6256 add: Vending machine falling hazard
  code/game/machinery/vending.dm
  sound/effects/vending_hit.ogg
Labels: Has Approve

#6281 bugfix: correct gender suffix
  code/modules/mob/new_player/preferences_setup.dm
Labels: Critical Priority

#6286 bugfix: Nova Disposal
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6268 bugfix: vampires and changelings now can't learn cqc by upgrade implant + translation
  code/modules/martial_arts/martial.dm
Labels: перевод

#6274 tweak: miner voucher moved from bridge to qm office
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#6262 del: barber deletion
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/job.dm
  code/datums/datacore.dm
  code/datums/uplink_item.dm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/jobs.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/tcomms/nttc.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/weapons/scissors.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/newscaster/obj/newscaster.dm
Labels: MAP

#6168 add: Cosmetic Wryn Update: Resprite and Character Setup Update
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/mobs.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/body_accessories.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories/wryn/wryn_face.dm
  code/modules/mob/new_player/sprite_accessories/wryn/wryn_facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/wryn/wryn_hair.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/response_team/ert.dm
  code/modules/surgery/organs/subtypes/wryn.dm
  icons/mob/clothing/body_accessory.dmi
  icons/mob/human_face.dmi
  icons/mob/human_races/r_wryn.dmi
  icons/mob/sprite_accessories/wryn/wryn_face.dmi
  icons/mob/sprite_accessories/wryn/wryn_facial_hair.dmi
  icons/mob/sprite_accessories/wryn/wryn_head_accessories.dmi
  icons/obj/species_organs/wryn.dmi
  paradise.dme
Labels: DMI

#6273 add: AI & Borg Upload Panel TGUI
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/nova/nova.dmm
  code/datums/ai_laws.dm
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/law.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/tgui/modules/law_manager.dm
  tgui/packages/tgui/interfaces/UploadPanel.js
  tgui/public/tgui.bundle.js
Labels: MAP, TGUI, javascript

#6166 add: Advanced Bluespace Drugs Storage
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/research/designs/medical_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/chemical.dmi
Labels: DMI

#6290 bugfix: correct borg damage procs
  code/modules/mob/living/silicon/robot/robot_damage.dm
Labels: bug

#6242 tweak: ma boy clown got some bipki
  code/datums/uplink_item.dm
Labels: Has Approve

#6285 feat: 516 TGUI chat fix
  code/modules/tgui/tgui_panel/tgui_panel_external.dm
  interface/skin.dmf
  tgui/global.d.ts
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/index.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.html
Labels: TGUI, javascript

#6291 bugfix: fixed tgui chat: Cannot access rules
  tgui/public/tgui.html
Labels: TGUI
