Repository ss220-space/Paradise, pull requests merged in 2024-05, with the labels that each got.

#5005 bugfix: no more "don't use" tiles on lava ship
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pirateship.dmm
Labels: MAP

#5004 add: hermit lives matter
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  code/modules/ruins/lavalandruin_code/hermit.dm
Labels: MAP

#5011 imageadd: Resprited sugar, flour and rice packs
  icons/obj/food/containers.dmi
Labels: DMI

#5012 bugfix: Platings in Delta's space no longer contain air
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5013 bugfix: Removed corrupted floor apprearances from Terror Spider gate
  _maps/map_files/RandomZLevels/terrorspiders.dmm
Labels: MAP

#4988 Update QM fax
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#5017 add: wryn flag
  code/game/objects/items/flag.dm
  code/modules/store/items.dm
  icons/mob/inhands/flags_lefthand.dmi
  icons/mob/inhands/flags_righthand.dmi
  icons/obj/flag.dmi
Labels: DMI

#5007 Bugfix: Inhand SSSP jumpsuit bugfix
  icons/mob/inhands/clothing_righthand.dmi
Labels: DMI

#5026 bugfix: Dinnerware vending machine in Cyberiad maintanences now dispenses items correctly
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#5027 tweak: add one more tape roll in brig
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5020 bugfix: invisible BS suit on unathi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
Labels: DMI

#5001 add: Light system rework
  code/controllers/subsystem/lighting.dm
  code/modules/awaymissions/zvis.dm
  code/modules/lighting/lighting_corner.dm
  code/modules/lighting/lighting_emissive_blocker.dm
  code/modules/lighting/lighting_object.dm
  code/modules/lighting/lighting_setup.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
Labels: testmerge

#4832 tweak: Unnecessary Lights Removed
  code/game/area/areas.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/machinery/alarm.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/dance_machine.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/dye_generator.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/flasher.dm
  code/game/machinery/hologram.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/machinery.dm
  code/game/machinery/recharger.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/status_display.dm
  code/game/machinery/teleporter.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/signs.dm
  code/modules/economy/ATM.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/mob/living/silicon/ai/logout.dm
  code/modules/mob/living/silicon/decoy/death.dm
  code/modules/newscaster/obj/newscaster.dm
  code/modules/recycling/disposal.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/security_levels/security_levels.dm
Labels: Perfomance

#5030 bugfix: Delta-map missclick revert.
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4881 add/refactor: Blueprints Rework
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/oldstation.dmm
  code/__HELPERS/_lists.dm
  code/__HELPERS/areas.dm
  code/_globalvars/lists/objects.dm
  code/datums/wires/wires.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/objs.dm
  code/game/turfs/turf.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/ruins/ussp_base.dm
  paradise.dme
Labels: MAP

#5025 bugfix: Central Command shutters have "open" sprite
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#4808 add: Space Botany ruin
  _maps/map_files/RandomRuins/SpaceRuins/spacebotany.dmm
  code/datums/ruins/space.dm
  code/modules/awaymissions/mission_code/ruins/spacebotany.dm
  icons/misc/beach.dmi
  icons/obj/flora/jungletreesmall.dmi
  paradise.dme
Labels: MAP, DMI

#4780 refactor: (porting) new rust-g mapgen from TG
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_grave.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_worldanvil.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/syndicatebase.dmm
  code/__DEFINES/flags.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/text.dm
  code/_globalvars/mapping.dm
  code/controllers/subsystem/non-firing/mapping.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/LavalandGenerator.dm
  code/datums/mapgen/_MapGenerator.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/game/turfs/simulated/minerals.dm
  icons/turf/debug.dmi
  paradise.dme
Labels: MAP, DMI

#5061 tweak: RnD_Light_fix
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5066 imageadd:Pai vend restock
  code/game/objects/items/weapons/vending_items.dm
  icons/obj/vending_restock.dmi
Labels: DMI

#5064 bugfix: Отвертка и новый механ шлемов
  code/game/objects/items/devices/radio/headset.dm
Labels: MAP

#5042 Add: "Anonimous mask" AI screen
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/ai.dmi
Labels: DMI

#5058 add: automatic fire for l6 saw
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/saw.dm
  icons/obj/weapons/ammo.dmi
Labels: DMI

#5107 bugfix: Correct Flashers In Brig
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#5111 balance: less ammo in l6 saw
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/saw.dm
  icons/obj/weapons/ammo.dmi
Labels: DMI

#5103 Qol: Resprite for NTR and Black suit
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI

#5032 add: detective helmet + a little rearrangement in his cabinet
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/garment_bag.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/storage.dmi
Labels: MAP, DMI

#5105 add: new AI-Hippy screen
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/ai.dmi
Labels: DMI
