Repository ss220-space/Paradise, pull requests merged in 2024-03, with the labels that each got.

#4550 bugfix: Cargo Console credits cost
  tgui/packages/tgui/interfaces/CargoConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4555 add: CereImprovement-pt10
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4465 Biohazard bodybags
  _maps/map_files/Delta/delta.dmm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/bodybag.dmi
  icons/obj/storage.dmi
Labels: MAP, DMI

#4532 add: glowsticks box in artvend
  code/game/machinery/vending.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/storage/fancy.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/chemglow_box.dmi
Labels: DMI

#4566 bugfix: Cerestation Disposal Fix
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4562 Fix: Фикс иконок
  icons/obj/bodybag.dmi
  icons/obj/storage.dmi
Labels: MAP, DMI

#4160 tweak: Progress Bar And Chatmessage Update
  code/__HELPERS/atoms.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/lists.dm
  code/datums/chatmessage.dm
  code/datums/progressbar.dm
  code/game/atoms.dm
  code/game/objects/structures/safe.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  icons/effects/progessbar.dmi
  icons/effects/progressbar.dmi
Labels: DMI

#4583 add: BOBR [NT Redacted]
  code/game/objects/items/toys.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
  sound/items/beaver_plushie.ogg
Labels: DMI

#4585 add: energy drink
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/drinks.dmi
Labels: DMI

#4617 imageadd: human resprite
  icons/mob/actions/actions.dmi
  icons/mob/human.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/thunderdome_previews.dmi
Labels: DMI

#4631 bugfix: court extra pipes removed
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4629 tweak: vent icon adjustments
  icons/obj/pipes_and_stuff/atmospherics/atmos/vent_pump.dmi
Labels: DMI, testmerge, Perfomance

#4594 bugfix: Cyberiad minor bugfix
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#4597 bugfix: DeltaViroFridgeFix
  _maps/map_files/Delta/delta.dmm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: MAP

#4596 add: CereImprovement-pt11
  _maps/map_files/cerestation/cerestation.dmm
Labels: MAP

#4632 add: Drum Kit
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/modules/instruments/hardcoded.dm
  code/modules/instruments/objs/structures/drumkit.dm
  icons/obj/musician.dmi
  paradise.dme
  sound/instruments/drumkit/Ab3.ogg
  sound/instruments/drumkit/Ab4.ogg
  sound/instruments/drumkit/An3.ogg
  sound/instruments/drumkit/An4.ogg
  sound/instruments/drumkit/Bb3.ogg
  sound/instruments/drumkit/Bn2.ogg
  sound/instruments/drumkit/Bn3.ogg
  sound/instruments/drumkit/Cn3.ogg
  sound/instruments/drumkit/Cn4.ogg
  sound/instruments/drumkit/Db3.ogg
  sound/instruments/drumkit/Db4.ogg
  sound/instruments/drumkit/Dn3.ogg
  sound/instruments/drumkit/Dn4.ogg
  sound/instruments/drumkit/Eb3.ogg
  sound/instruments/drumkit/Eb4.ogg
  sound/instruments/drumkit/En4.ogg
  sound/instruments/drumkit/Fn4.ogg
  sound/instruments/drumkit/Gb3.ogg
  sound/instruments/drumkit/Gn3.ogg
  sound/instruments/drumkit/Gn4.ogg
Labels: DMI

#4643 add: Crayfish Update
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/fish/fish_eggs.dm
  code/modules/fish/fish_types.dm
  code/modules/fish/fishtank.dm
  code/modules/food_and_drinks/food/foods/seafood.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/surgery/organs/pain.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/food/food.dmi
  icons/obj/food/seafood.dmi
Labels: DMI

#4576 add: Combat Bakery Kit
  code/__DEFINES/dcs/signals.dm
  code/controllers/subsystem/throwing.dm
  code/datums/components/boomerang.dm
  code/datums/spells/charge.dm
  code/datums/uplink_item.dm
  code/game/objects/items/granters/_granters.dm
  code/game/objects/items/granters/crafting_granters.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/recipes/recipes_oven.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/food/food.dmi
  icons/obj/library.dmi
  paradise.dme
Labels: DMI

#4628 tweak: Reduced the move delay buffer to 1 tick
  code/modules/mob/mob_movement.dm
Labels: testmerge, Perfomance

#4653 bugfix: Fixed Red Carpet Issue
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_green.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/abandoned_banya.dmm
  _maps/map_files/RandomRuins/SpaceRuins/magestavern.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

#4630 tweak: Streamer mention remove
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  code/game/objects/structures/barsign.dm
  code/modules/mob/living/simple_animal/friendly/animals_named.dm
  icons/obj/barsigns.dmi
Labels: MAP, DMI

#4589 bugfix: Cafeteria_RnD_Delta scrubber
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#4616 add: loadout strips
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/clothing/ties.dmi
  icons/mob/talk.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: DMI

#4645 bugfix: exploit records fixes
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4600 refactor: KA modkits compatibility.
  _maps/map_files/RandomRuins/SpaceRuins/anomalyship.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mining/equipment/upgrades.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/mining_designs.dm
Labels: MAP

#4648 bugfix: missed and incorrect textures on ussp cpmputers and little more
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/atmos_alert.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/computer/pod_tracking_console.dm
  code/game/machinery/computer/power.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/power/solar.dm
  code/modules/research/rdconsole.dm
  code/modules/shuttle/shuttle.dm
  icons/obj/decorations.dmi
Labels: MAP, DMI

#4671 bugfix: Custom mapped turfs no longer get default overlay placed when there are no appropriate smoothing states
  code/__HELPERS/icon_smoothing.dm
  icons/turf/floors.dmi
  icons/turf/walls.dmi
Labels: DMI

#4326 refactor: lighting optimization.
  code/controllers/subsystem/lighting.dm
  code/datums/mutable_appearance.dm
  code/datums/spells/mimic.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/zvis.dm
  code/modules/lighting/lighting_corner.dm
  code/modules/lighting/lighting_object.dm
  code/modules/lighting/lighting_setup.dm
  code/modules/lighting/lighting_source.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/mining/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/shuttle/shuttle.dm
  code/modules/space_management/space_level.dm
  icons/effects/lighting_object.dmi
Labels: DMI, testmerge, Perfomance

#4674 bugfix: random arcade subtybe and ptech vendor
  code/game/machinery/computer/arcade.dm
  icons/obj/machines/vending.dmi
Labels: DMI

#4694 add: new beards for dwarfes oh i mean humans
  code/modules/mob/new_player/sprite_accessories/human/human_facial_hair.dm
  icons/mob/sprite_accessories/human/human_facial_hair.dmi
Labels: DMI

#4695 add: flower crowns
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_fountain_hall.dmm
  _maps/map_files/cerestation/cerestation.dmm
  code/game/machinery/vending.dm
  code/modules/clothing/head/misc.dm
  code/modules/crafting/tailoring.dm
  code/modules/economy/quests/thing_quests.dm
  code/modules/hydroponics/grown/flowers.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/helmet.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: MAP, DMI

#4693 bugfix: custom pandemic runtime
  _maps/map_files/RandomRuins/SpaceRuins/debris2.dmm
Labels: MAP

#4719 bugfix: Спрайты плюшевого СМа в руках перепутаны
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#4680 bugfix: BaseturfForPirateship
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pirateship.dmm
Labels: MAP

#4664 add: Gorillas to Cyberiad & Cerestation
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#4657 bugfix: Central Command Turf Fixes
  _maps/map_files/generic/CentComm.dmm
  code/game/objects/structures/false_walls.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
Labels: MAP

#4646 bugfix: id console fixes and small qols
  code/game/machinery/computer/card.dm
  tgui/packages/tgui/interfaces/CardComputer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#4603 add: door buttons assembling/disassembling (rebased version)
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/outlet_injector.dm
  code/ATMOSPHERICS/components/unary_devices/vent_pump.dm
  code/ATMOSPHERICS/components/unary_devices/vent_scrubber.dm
  code/datums/multitool_menu.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/buttons.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/access_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/machinery.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/items/mountable_frames/buttons_switches.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/objs.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/windoor_assembly.dm
  code/modules/assembly/remotecontrol.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/power/supermatter/supermatter_special_effects.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/assemblies/new_assemblies.dmi
  icons/obj/module.dmi
  icons/obj/stationobjs.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/Multitool.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#4731 bugfix: All Smooth Turfs Fixed
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_green.dmm
  _maps/map_files/RandomZLevels/academy.dmm
  _maps/map_files/RandomZLevels/beach.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/RandomZLevels/spacehotel.dmm
  _maps/map_files/RandomZLevels/terrorspiders.dmm
  _maps/map_files/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/RandomZLevels/wildwest.dmm
  _maps/map_files/templates/spacehotel/n_16.dmm
  code/game/objects/structures/false_walls.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
Labels: MAP
