Repository ss220-space/Paradise, pull requests merged in 2025-02, with the labels that each got.

#6510 bugfix: ИИ работает с голомапом теперь
  _maps/map_files/Delta/delta.dmm
  code/__DEFINES/dcs/signals_silicon.dm
  code/modules/holomaps/machinery.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  paradise.dme
Labels: MAP

#6492 code_imp: Set key wrapper
  code/datums/components/pref_holder.dm
  code/datums/mind.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
Labels: testmerge, Testmerge candidate

#6448 imageadd: Space Koi Resprite
  icons/obj/fish_items.dmi
  paradise.dme
Labels: DMI

#6372 experiment: explosions subsystem
  code/__DEFINES/subsystems.dm
  code/__HELPERS/data_struct/priority_queue.dm
  code/__HELPERS/data_struct/queue.dm
  code/controllers/subsystem/explosions.dm
  code/game/atoms.dm
  code/game/machinery/doors/door.dm
  code/game/objects/explosion.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/window.dm
  code/modules/space_management/multiz_helper.dm
  paradise.dme
Labels: testmerge, Testmerge candidate

#6505 imageadd: Спрайты в руках для ксено-органов и медицинской одежды
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/subtypes/drask.dm
  code/modules/surgery/organs/subtypes/grey.dm
  code/modules/surgery/organs/subtypes/kidan.dm
  code/modules/surgery/organs/subtypes/moth.dm
  code/modules/surgery/organs/subtypes/plasmaman.dm
  code/modules/surgery/organs/subtypes/skrell.dm
  code/modules/surgery/organs/subtypes/slime.dm
  code/modules/surgery/organs/subtypes/tajaran.dm
  code/modules/surgery/organs/subtypes/unathi.dm
  code/modules/surgery/organs/subtypes/vox.dm
  code/modules/surgery/organs/subtypes/vulpkanin.dm
  code/modules/surgery/organs/subtypes/xenos.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/organ_lefthand.dmi
  icons/mob/inhands/organ_righthand.dmi
Labels: DMI

#6523 map: Автолат в рнд для Коробки
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

#6535 admin: Две новые кнопки для контроля раунда
  code/_globalvars/misc.dm
  code/game/gamemodes/blob/blob_report.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/teleporter.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/topic.dm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mining/mine_items.dm
  code/modules/shuttle/shuttle.dm
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6530 admin: tgui интпуты в админских кнопках + фикс работы кнопок
  _maps/map_files/generic/CentComm.dmm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/ticker.dm
  code/datums/datumvars.dm
  code/datums/mind.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/centcom_ban_db.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/create_object.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/ipintel.dm
  code/modules/admin/machine_upgrade.dm
  code/modules/admin/outfits.dm
  code/modules/admin/player_options_panel.dm
  code/modules/admin/sql_notes.dm
  code/modules/admin/stickyban.dm
  code/modules/admin/tickets/adminticketsverbs.dm
  code/modules/admin/tickets/mentorticketsverbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/admin/verbs/custom_event.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/dice.dm
  code/modules/admin/verbs/getlogs.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/admin/verbs/onlyoneteam.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/serialization.dm
  code/modules/admin/verbs/space_transitions.dm
  code/modules/admin/verbs/ticklag.dm
  code/modules/admin/watchlist.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/link.dm
  code/modules/buildmode/submodes/mapgen.dm
  code/modules/buildmode/submodes/save.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/requests/request_manager.dm
  code/modules/vote/vote_verb.dm
Labels: MAP

#6462 add: Inugami medical gloves
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/dcs/signals_object.dm
  code/datums/components/defibrillator.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/mob/inventory.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/surgery.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/monkey/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/gloves.dmi
Labels: DMI, Has Approve

#6528 imageadd: Новый вид акулы
  icons/mob/alienqueen.dmi
Labels: DMI

#6431 add: кеды & кеды в лодаут
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_shoes.dm
  code/modules/clothing/shoes/colour.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/species/monkey/shoes.dmi
  icons/mob/clothing/species/unathi/shoes.dmi
  icons/mob/clothing/species/vox/feet.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/shoes.dmi
Labels: DMI, Has Approve

#6529 map: Delta Northwest maintenance bugfix 2
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#6546 experiment: Попытка оптимизации рендера TGUI чата
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI, javascript, testmerge, Testmerge candidate

#5893 add: Ashwalkers survival update
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/__DEFINES/mobs.dm
  code/datums/mapgen/LavalandGenerator.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/armor.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
  code/modules/projectiles/guns/projectile/bow.dm
  code/modules/projectiles/guns/throw/crossbow.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/ruins/lavalandruin_code/ash_walker_den.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/tools.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/kidan/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/tajaran/head.dmi
  icons/mob/clothing/species/unathi/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vulpkanin/head.dmi
  icons/mob/clothing/species/wryn/head.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/melee_lefthand.dmi
  icons/mob/inhands/melee_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/device.dmi
  icons/obj/food/food.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/items.dmi
  icons/obj/lavaland/ash_flora.dmi
  icons/obj/surgery.dmi
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  sound/weapons/kolotushka_smash.ogg
Labels: MAP, DMI, Локализация, Has Approve, Testmerge candidate

#6573 bugfix + spellcheck: правки локализации
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
Labels: Локализация

#6552 tweak: Оптимизация GetElement
  code/controllers/subsystem/processing/dcs.dm
Labels: testmerge, Testmerge candidate

#6558 map: Перестановка в оружейке
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP, Has Approve

#6519 mapfix: Abotch
  _maps/map_files/RandomRuins/SpaceRuins/old_station_ss1984.dmm
  code/game/machinery/alarm.dm
Labels: MAP, Has Approve

#6583 add: LootPanel & Removal stat turf examine tab
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/icons.dm
  code/_globalvars/traits.dm
  code/_onclick/click.dm
  code/controllers/subsystem/looting.dm
  code/controllers/subsystem/processing/obj_tab_items.dm
  code/controllers/subsystem/statpanel.dm
  code/game/gamemodes/miniantags/demons/pulse_demon/pulse_demon_interactions.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/modules/asset_cache/assets/icon_ref_map.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/lootpanel/_lootpanel.dm
  code/modules/lootpanel/contents.dm
  code/modules/lootpanel/handlers.dm
  code/modules/lootpanel/misc.dm
  code/modules/lootpanel/search_object.dm
  code/modules/lootpanel/ui.dm
  paradise.dme
  tgui/packages/tgui/interfaces/LootPanel/GroupedContents.tsx
  tgui/packages/tgui/interfaces/LootPanel/IconDisplay.tsx
  tgui/packages/tgui/interfaces/LootPanel/LootBox.tsx
  tgui/packages/tgui/interfaces/LootPanel/RawContents.tsx
  tgui/packages/tgui/interfaces/LootPanel/index.tsx
  tgui/packages/tgui/interfaces/LootPanel/types.ts
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/styles/layouts/TitleBar.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6576 spellcheck: фиксы локализации
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Локализация, Has Approve

#6538 spellcheck: локализация органов, частей тела и ещё по мелочи
  code/game/atoms.dm
  code/game/machinery/adv_med.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/carbon_emote.dm
  code/modules/mob/living/carbon/carbon_stripping.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/kidneys.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/pain.dm
  code/modules/surgery/organs/subtypes/abductor.dm
  code/modules/surgery/organs/subtypes/diona.dm
  code/modules/surgery/organs/subtypes/drask.dm
  code/modules/surgery/organs/subtypes/grey.dm
  code/modules/surgery/organs/subtypes/kidan.dm
  code/modules/surgery/organs/subtypes/machine.dm
  code/modules/surgery/organs/subtypes/moth.dm
  code/modules/surgery/organs/subtypes/nucleation.dm
  code/modules/surgery/organs/subtypes/plasmaman.dm
  code/modules/surgery/organs/subtypes/shadow.dm
  code/modules/surgery/organs/subtypes/skrell.dm
  code/modules/surgery/organs/subtypes/slime.dm
  code/modules/surgery/organs/subtypes/standard.dm
  code/modules/surgery/organs/subtypes/tajaran.dm
  code/modules/surgery/organs/subtypes/unathi.dm
  code/modules/surgery/organs/subtypes/vox.dm
  code/modules/surgery/organs/subtypes/vulpkanin.dm
  code/modules/surgery/organs/subtypes/wryn.dm
  code/modules/surgery/organs/subtypes/xenos.dm
Labels: Локализация, Has Approve

#6557 tweak: Оптимизация рефтрекинга
  code/_compile_options.dm
  code/controllers/subsystem/garbage.dm
  code/datums/datum.dm
Labels: testmerge

#6561 tweak: Оптимизация aura_healing
  code/datums/components/aura_healing.dm
Labels: testmerge

#6562 tweak: Оптимизация send signal
  code/datums/components/_component.dm
Labels: testmerge

#6556 map: Делим ящики в раздевалке от ящиков в операционной
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: MAP, Has Approve

#6601 bugfix: правка локализации органов
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/surgery/organs/subtypes/kidan.dm
  code/modules/surgery/organs/subtypes/moth.dm
  code/modules/surgery/organs/subtypes/plasmaman.dm
  code/modules/surgery/organs/subtypes/wryn.dm
Labels: Локализация

#6602 add + bugfix: тактическая кувалда для СБ + фикс замедления у Гатлинг-лазера
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/crates_lockers/closets/fireaxe.dm
  icons/mob/inhands/twohanded_lefthand.dmi
  icons/mob/inhands/twohanded_righthand.dmi
  icons/obj/closet.dmi
  icons/obj/items.dmi
Labels: MAP, DMI

#6595 tweak: reducing the amount of loot in ashwalkers den + lower damage for arrows
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker_new.dmm
  code/modules/projectiles/guns/projectile/bow.dm
Labels: MAP
