Repository ss220-space/Paradise, pull requests merged in 2025-03, with the labels that each got.

#6607 bugfix: Исправление рантайма при выводе гринтекста ксеноморфов
  code/modules/antagonists/xenomorth/xenomorph_team.dm
Labels: Has Approve

#6578 map: hermit fix(?)
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
Labels: MAP

#6619 bugfix: Исправление инпутов в ВВ + исправление округления в числовых инпутах
  code/modules/admin/verbs/modifyvariables.dm
  tgui/packages/tgui/components/RestrictedInput.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6596 imageadd: Спрайты в руках для рига рд, щита и пда кэпа
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/pda_lefthand.dmi
  icons/mob/inhands/pda_righthand.dmi
Labels: DMI

#6594 imageadd + spellcheck: респрайты и локализация некоторых симплмобов
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/snail.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/animal.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/wryn/head.dmi
  icons/mob/critter.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI, Локализация, Has Approve

#6609 add: Datumized monkey AI from TG
  code/__DEFINES/ai.dm
  code/__DEFINES/clothing.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/monkeys.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/processing/ai_controllers.dm
  code/datums/ai/README.md
  code/datums/ai/_ai_behaviour.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/generic_actions.dm
  code/datums/ai/monkey/monkey_behaviours.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/game/atoms.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/reagent_containers/syringes.dm
  paradise.dme
Labels: testmerge

#6623 bugfix: missing advanced reagent scanner design
  code/modules/research/designs/medical_designs.dm
Labels: Has Approve

#6590 spellcheck: локализация языков
  code/__DEFINES/language.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/default_language.dm
  code/modules/mob/living/living_say.dm
Labels: Локализация, Has Approve

#6614 QoL: fishing pouch for ashwalkers
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/crafting/recipes.dm
  icons/obj/storage.dmi
Labels: DMI

#6626 bugfix: починка языка тенелингов
  code/__DEFINES/language.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/alien/alien.dm
Labels: Локализация, Has Approve

#6643 tweak: Убираем путеводитель по дельте с карманов
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
Labels: Has Approve

#6635 bugfix: спичвербы + робо-гипоспрей
  code/modules/mob/hear_say.dm
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Локализация

#6641 bugfix: Меняем местами бластдуры и кнопки для карго шаттла
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#6628 spellcheck+bugfix: аплинк и предметы
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/dna_upgrader.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Локализация

#6611 spellcheck: локализация новостей и новостника
  code/__DEFINES/newcaster.dm
  code/controllers/subsystem/capitalism.dm
  code/controllers/subsystem/non-firing/cargo_quests.dm
  code/controllers/subsystem/ticker.dm
  code/datums/ai_law_sets.dm
  code/datums/periodic_news.dm
  code/game/gamemodes/miniantags/abduction/abductee_objectives.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/theft_items.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/statues.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/economy/Economy_Events.dm
  code/modules/economy/Economy_Events_Mundane.dm
  code/modules/economy/Economy_TradeDestinations.dm
  code/modules/events/money_lotto.dm
  code/modules/mob/living/simple_animal/friendly/animals_named.dm
  code/modules/newscaster/datums.dm
  code/modules/newscaster/obj/newscaster.dm
  code/modules/newscaster/obj/newspaper.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/station_goals/brs.dm
  code/modules/station_goals/station_goal.dm
  code/modules/tgui/modules/tts_seeds_explorer.dm
  config/names/jobs.txt
  config/names/locations.txt
  config/news/trivial.txt
  config/sleep/dreams.txt
  strings/sillytips.txt
  tgui/packages/tgui/interfaces/Newscaster.js
  tgui/packages/tgui/interfaces/Newspaper.js
  tgui/public/tgui.bundle.js
Labels: TGUI, Локализация, javascript, testmerge

#6637 qol: TGUI Healthanalyzer
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/items/devices/scanners.dm
  tgui/packages/tgui/interfaces/Healthanalyzer.js
  tgui/public/tgui.bundle.js
Labels: MAP, TGUI, Локализация, javascript

#6577 tweak/bug fix: Оптимизация оповещения ПДА
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job/job.dm
  code/modules/admin/topic.dm
  code/modules/economy/Accounts.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/mob_helpers.dm
  code/modules/pda/PDA.dm
  code/modules/response_team/ert_outfits.dm
Labels: Do Not Merge

#6616 imageadd + spellcheck + add: Респрайты фермерских животных + локализация + мелкие фичи
  code/game/objects/structures/crates_lockers/crittercrate.dm
  code/modules/mob/living/simple_animal/friendly/animals_named.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/killertomato.dm
  icons/mob/animal.dmi
  icons/mob/clothing/head.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI, Локализация, Has Approve

#6657 bugfix: радикальное решение проблемы с рантаймами на лаве целестанции.
  _maps/map_files/cerestation/Lavaland.dmm
Labels: MAP

#6659 spellcheck: Исправляем "лопасти" на "электроды"
  code/datums/components/defibrillator.dm
  code/game/machinery/defib_mount.dm
  code/game/objects/items/weapons/defib.dm
Labels: Локализация

#6612 add: Лицехват - моб
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/gamemode.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/facehugger.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/components/ghost_direct_control.dm
  code/datums/spawners_menu.dm
  code/datums/spells/alien_spells/lay_alien_eggs.dm
  code/datums/status_effects/status_effect.dm
  code/game/objects/items.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/fence.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/xenomorth/xenomorph.dm
  code/modules/antagonists/xenomorth/xenomorph_objectives.dm
  code/modules/antagonists/xenomorth/xenomorph_team.dm
  code/modules/clothing/clothing.dm
  code/modules/detective_work/spy_spider.dm
  code/modules/mining/equipment/vendor_items.dm
  code/modules/mob/holder.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/alien/special/facehugger_mob.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/ghost.dm
  code/modules/mob/living/simple_animal/powers.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/projectile.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/mob/alien.dmi
  icons/mob/facehugger.dmi
  paradise.dme
  sound/creatures/facehugger_attack.ogg
  sound/creatures/facehugger_attacked.ogg
  sound/creatures/facehugger_damaged.ogg
  sound/creatures/facehugger_dies.ogg
  sound/creatures/facehugger_talk.ogg
Labels: DMI

#6622 add: следующая итерация датумного ИИ у обезьян + собаки!
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/monkeys.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/heap.dm
  code/__HELPERS/paths/jps.dm
  code/_onclick/other_mobs.dm
  code/controllers/subsystem/processing/ai_basic_avoidance.dm
  code/controllers/subsystem/processing/ai_behaviors.dm
  code/controllers/subsystem/processing/ai_controllers.dm
  code/controllers/subsystem/processing/ai_movement.dm
  code/datums/ai/_ai_behavior.dm
  code/datums/ai/_ai_behaviour.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/_ai_planning_subtree.dm
  code/datums/ai/_item_behaviors.dm
  code/datums/ai/dog/dog_behaviors.dm
  code/datums/ai/dog/dog_controller.dm
  code/datums/ai/dog/dog_subtrees.dm
  code/datums/ai/generic_actions.dm
  code/datums/ai/monkey/monkey_behaviors.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/datums/ai/monkey/monkey_subtrees.dm
  code/datums/ai/movement/_ai_movement.dm
  code/datums/ai/movement/ai_movement_basic_avoidance.dm
  code/datums/ai/movement/ai_movement_dumb.dm
  code/datums/ai/movement/ai_movement_jps.dm
  code/datums/ai/telegraph_effects.dm
  code/datums/components/spinny.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/recycling/disposal.dm
  icons/mob/telegraphing/telegraph.dmi
  icons/mob/telegraphing/telegraph_holographic.dmi
  icons/testing/turf_analysis.dmi
  paradise.dme
  sound/items/haunted/ghostitemattack.ogg
Labels: DMI

#6666 tweak: Теперь все мобы-антаги, которые могут залезть в венты, спавнятся сразу внутри
  code/game/gamemodes/blob/blob.dm
  code/game/gamemodes/miniantags/changeling_slug/changeling_slug_event.dm
  code/game/gamemodes/miniantags/morph/morph_event.dm
  code/modules/antagonists/terror_spiders/spider_team.dm
  code/modules/antagonists/xenomorth/xenomorph_team.dm
Labels: Has Approve

#6676 bugfix: move autodnr to preftoggles3
  SQL/paradise_schema.sql
  SQL/updates/34-35.sql
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/datums/components/pref_holder.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_toggles.dm
  config/example/dbconfig.txt
  tools/ci/dbconfig.txt
Labels: SQL

#6678 bugfix: Удалил стул из стены
  _maps/map_files/Delta/delta.dmm
Labels: MAP

#6682 bugfix: Фиксы интерфейсов на 516 и не только
  code/_onclick/hud/map_popups.dm
  code/game/machinery/computer/store.dm
  code/modules/admin/player_options_panel.dm
  code/modules/admin/player_panel_veth.dm
  code/modules/library/computers/checkout.dm
  code/modules/library/lib_items.dm
  html/browser/common.css
  html/css/merch_computer.css
  html/css/pai_cart.css
  html/css/prize_counter.css
  tgui/packages/tgui/interfaces/AtmosAlertConsole.js
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
  tgui/packages/tgui/interfaces/Smartfridge.js
  tgui/packages/tgui/interfaces/TankDispenser.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: TGUI, javascript

#6639 spellcheck + qol: Перевод карт (обычные, UNUM, таро) на русский, а интерфейсов - на TGUI
  code/modules/games/52card.dm
  code/modules/games/cards.dm
  code/modules/games/tarot.dm
  code/modules/games/unum.dm
  tgui/packages/tgui/interfaces/Healthanalyzer.js
  tgui/packages/tgui/interfaces/Newspaper.js
  tgui/packages/tgui/interfaces/PlayingCard.js
  tgui/public/tgui.bundle.js
Labels: MAP, TGUI, Локализация, javascript, Has Approve

#6685 bugfix & map: Поменял с обычного ключа на ключ для ATV у руины зимнего биокупала
  _maps/map_files/RandomRuins/LavaRuins/lavaland_biodome_winter.dmm
Labels: MAP, Has Approve

#6691 bugfix: Несколько фиксов html
  code/datums/browser.dm
  code/datums/mind.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/terror_spiders/spider_team.dm
  code/modules/antagonists/thief/thief_datum.dm
  code/modules/antagonists/xenomorth/xenomorph_team.dm
  html/browser/common.css
  html/css/spellbook.css
  html/title_screen.html
  tgui/public/tgui.html
Labels: TGUI

#6675 imageadd: Спрайты для перчаток
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/space_ninja/suit/gloves.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/martial_arts/krav_maga.dm
  icons/mob/inhands/gloves_lefthand.dmi
  icons/mob/inhands/gloves_righthand.dmi
Labels: DMI

#6683 bugfix & balance & spellcheck: Тенелинги
  code/datums/mind.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/shadowling.dm
  code/modules/surgery/organs/subtypes/shadowling.dm
  paradise.dme
Labels: Локализация

#6696 tweak: DNR теперь имеет отдельную иконку для худа
  code/game/data_huds.dm
  icons/mob/hud.dmi
Labels: DMI

#6699 bugfix: Маштабирование. Опять.(515 и 516)
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/browser.dm
  code/modules/admin/verbs/adminpm.dm
  html/browser/common.css
  html/title_screen.html
  tgui/public/tgui.html
Labels: TGUI

#6702 bugfix: Исправление ошибки 404 при отправке больших текстов через tgui на 516
  tgui/public/tgui.html
Labels: TGUI

#6704 bugfix: В окне состояния меха теперь обновляются параметры
  code/game/mecha/combat/honker.dm
  code/game/mecha/mecha_topic.dm
  html/js/mech_stat.js
  html/js/mech_stat_honker.js
Labels: javascript

#6700 bugfix: Abotch map fixes
  _maps/map_files/RandomRuins/SpaceRuins/old_station_ss1984.dmm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperbin.dm
Labels: MAP

#6710 bugfix: Еще немного фиксов для 516
  code/modules/admin/admin_investigate.dm
  code/modules/tgui/tgui_input/keycombo_input.dm
  html/browser/common.css
  tgui/packages/tgui/components/Autofocus.js
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6708 AprilFool: tf2reference
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/paperwork/pen.dm
  icons/effects/effects.dmi
Labels: DMI

#6715 bugfix: Возможное решение проблемы с tgui say на 516
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/public/tgui-say.bundle.js
Labels: TGUI, javascript

#6718 bugfix: Возвращаем спрайты и фиксим пути перчаток
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/space_ninja/suit/gloves.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/martial_arts/krav_maga.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/gloves_lefthand.dmi
  icons/mob/inhands/gloves_righthand.dmi
Labels: DMI

#6731 bugfix: У томата больше нет глаз в движении
  icons/mob/animal.dmi
Labels: DMI

#6734 bugfix: Скролл в меню эволюции генокрада теперь работает на 516
  tgui/packages/tgui/interfaces/EvolutionMenu.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript
