Repository ss220-space/Paradise, pull requests merged in 2025-01, with the labels that each got.

#6300 bugfix: fix transfer blood
  code/modules/surgery/organs/blood.dm
Labels: bug, Has Approve

#5976 add: welder sword
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/welder_sword.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items.dmi
  paradise.dme
Labels: DMI

#6181 add: Aphasia disability
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/genetics.dm
  code/_globalvars/genetics.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/gene.dm
  code/game/gamemodes/setupgame.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/living_say.dm
Labels: Has Approve

#6279 add: laser minigun
  code/game/machinery/vending.dm
  code/modules/mini_games/thunderdome/gamemodes/gamemode.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/rdconsole.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/energy.dmi
  sound/weapons/gunshots/lasergatling.ogg
Labels: DMI

#6044 add: blueshield sunglasses
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job/supervisor.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/glasses/hud.dm
Labels: Has Approve

#6098 add: Mecha medbeam module
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/mecha.dm
  code/modules/economy/robotic_quests/mech_types.dm
  code/modules/projectiles/guns/medbeam.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI, перевод

#6301 feat: TGUI 4K support
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/drag.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6059 feat: separated thermo control & drask coma
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/organ_defines.dm
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/status_effect.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Merge Conflict

#6312 bugfix: ashed paintkit make some mechs invisible
  code/__DEFINES/misc.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/mecha.dm
  code/game/mecha/paintkits.dm
  code/modules/crafting/recipes.dm
  icons/obj/mecha/lockermech.dmi
  icons/obj/mecha/mecha.dmi
Labels: DMI

#6294 add: 2 new statue on Nova and Nova button bugfix + new stairs
  _maps/map_files/nova/nova.dmm
  code/game/objects/structures/statues.dm
  icons/obj/statue.dmi
Labels: MAP, DMI

#6307 tweak: VV fixes and tweaks
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/_lists.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/bitfields/admin.dm
  code/_globalvars/bitfields/bitfields.dm
  code/_globalvars/bitfields/declarations.dm
  code/_globalvars/bitfields/food.dm
  code/_globalvars/bitfields/icon_smoothing.dm
  code/_globalvars/bitfields/jobs.dm
  code/_globalvars/bitfields/mecha.dm
  code/_globalvars/bitfields/mobs.dm
  code/_globalvars/bitfields/objs.dm
  code/_globalvars/bitfields/sight.dm
  code/datums/datumvars.dm
  code/game/atoms.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/reagents_editor.dm
  code/modules/client/client_procs.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/tgui/tgui_input/input_checkbox.dm
  code/modules/tgui/tgui_input/list_input.dm
  code/modules/tgui/tgui_input/ranked_list_input.dm
  paradise.dme
  tgui/packages/tgui/interfaces/CheckboxListInputModal.tsx
  tgui/packages/tgui/interfaces/RankedListInputModal.tsx
  tgui/packages/tgui/interfaces/ReagentsEditor.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/styles/interfaces/ReagentsEditor.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6309 tweak: tgui coin press
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mining/mint.dm
  code/modules/mining/money_bag.dm
  icons/obj/economy.dmi
  tgui/packages/tgui/interfaces/CoinMint.tsx
  tgui/public/tgui.bundle.js
Labels: DMI, TGUI, перевод, javascript

#6313 Bugfix: Can't pick sec cyborg
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: bug, Has Approve

#6283 QoL: kinetic crusher translation
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: перевод, Has Approve

#6254 tweak: edit armor for gloves and boots from armory
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
  code/datums/supplypacks.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/drask/shoes.dmi
  icons/mob/clothing/species/monkey/gloves.dmi
  icons/mob/clothing/species/monkey/shoes.dmi
  icons/mob/clothing/species/unathi/shoes.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/clothing/species/vox/shoes.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/shoes.dmi
Labels: MAP, DMI

#6149 qol: Sound for pacman
  code/datums/looping_sounds/machinery_sounds.dm
  code/modules/power/port_gen.dm
  sound/machines/generator/generator_end.ogg
  sound/machines/generator/generator_mid1.ogg
  sound/machines/generator/generator_mid2.ogg
  sound/machines/generator/generator_mid3.ogg
  sound/machines/generator/generator_start.ogg
Labels: требует голосовалку

#6319 tweak: nucleations banned from robust based jobs
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
Labels: Has Approve

#6323 bugfix: Fix some bugs and errors
  code/datums/pod_style.dm
  code/game/objects/items/weapons/welder_sword.dm
  tgui/packages/tgui/interfaces/CentcomPodLauncher/constants.ts
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6311 qol: vampire mode translation
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/gargantua_powers.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  icons/misc/vampire_tgui.dmi
  tgui/packages/tgui/interfaces/VampireSpecMenu.js
  tgui/packages/tgui/interfaces/VampireTrophiesStatus.js
  tgui/public/tgui.bundle.js
Labels: DMI, TGUI, перевод, javascript

#6108 add: grey rework
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/organ_defines.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits.dm
  code/datums/action.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/viruses/babylon_fever.dm
  code/game/machinery/machinery.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/watercloset.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_say.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autoimplanter.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/grey.dm
  code/modules/surgery/organs/subtypes/wryn.dm
  code/modules/surgery/organs/voice_translator.dm
  code/modules/surgery/organs_internal.dm
  icons/mob/actions/actions.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/voice_translator.dmi
  paradise.dme
Labels: DMI, перевод

#6331 imageadd: Christmas decoration Resprite
  icons/obj/decorations.dmi
Labels: DMI

#6337 bugfix: fix borg light overlay
  code/datums/components/overlay_lighting.dm
  icons/effects/light_overlays/light_480.dmi
Labels: DMI

#6343 bugfix: exosuit fabricator unpowered print
  code/game/mecha/mech_fabricator.dm
Labels: Has Approve

#6345 bugfix: fix some bugs (blob, loadout and etc)
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/global_lists.dm
  code/datums/components/blob_minion.dm
  code/datums/components/ghost_direct_control.dm
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/welder_sword.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/antagonists/blob/blob_infected_datum.dm
  code/modules/antagonists/blob/blob_minion.dm
  code/modules/antagonists/blob/blob_minions/blob_mob.dm
  code/modules/antagonists/blob/blob_minions/blob_spore.dm
  code/modules/antagonists/blob/blob_minions/blob_zombie.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/antagonists/blob/structures/factory.dm
  code/modules/antagonists/blob/structures/node.dm
  code/modules/antagonists/blob/structures/resource.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/preference/loadout/loadout.dm
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/tgui/modules/appearance_changer.dm
  tgui/packages/tgui/interfaces/CentcomPodLauncher/Tabs.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/constants.ts
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6296 add: GreyTide strip
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/clothing/ties.dmi
  icons/mob/talk.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: DMI, Has Approve

#6330 add: pulse gatling
  code/modules/projectiles/guns/energy/nuclear.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/energy.dmi
Labels: DMI

#6347 refactor: replace some icon2base64 to DMicon
  code/datums/elements/strippable.dm
  code/game/gamemodes/clockwork/clockwork_workshop.dm
  code/game/machinery/PDApainter.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/customat.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/objects/items/weapons/implants/implantpad.dm
  code/modules/antagonists/space_ninja/suit/suit_SpiderOS.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/client/preference/loadout/gear_tweaks.dm
  code/modules/pda/PDA.dm
  tgui/packages/tgui/interfaces/Autolathe.js
  tgui/packages/tgui/interfaces/FloorPainter.js
  tgui/packages/tgui/interfaces/ImplantPad.js
  tgui/packages/tgui/interfaces/PDAPainter.js
  tgui/packages/tgui/interfaces/SpiderOS.js
  tgui/packages/tgui/interfaces/StripMenu.tsx
  tgui/packages/tgui/interfaces/VampireSpecMenu.js
  tgui/packages/tgui/interfaces/VampireTrophiesStatus.js
  tgui/packages/tgui/interfaces/Vending.js
  tgui/packages/tgui/interfaces/Workshop.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6348 bugfix: Plasmamen Engineer uniform fix
  icons/mob/clothing/species/plasmaman/uniform.dmi
  paradise.dme
Labels: DMI

#6351 qol: tgchat lag fix caused by chat spam.
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI, javascript

#6341 add april fool: Peppino replacement for Immovable rod
  code/datums/looping_sounds/peppino_mach.dm
  code/game/objects/effects/temporary_visuals/pepino_trail.dm
  code/modules/events/immovable_rod.dm
  icons/effects/peppino_trail.dmi
  icons/obj/peppino_rod.dmi
  paradise.dme
  sound/effects/sfx_breakmetal.ogg
  sound/misc/TAM_BLYA.ogg
  sound/misc/sfx_break.ogg
  sound/misc/sfx_mach2.ogg
  sound/misc/sfx_mach4.ogg
  sound/music/sfx_pep_mus.ogg
Labels: DMI

#6344 add: [april fools] sound for button and mech toys
  code/game/machinery/door_control.dm
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
  sound/aprilShit/WT.ogg
  sound/aprilShit/buttonBlyat.ogg
Labels: DMI

#6360 add: Lasergun & Riotshotgun flashlights V2
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectile.dmi
Labels: DMI

#6356 admin: event map - coldcolony
  _maps/map_files/event/Station/coldcolony.dmm
  code/game/area/ss13_areas.dm
  code/game/turfs/simulated/floor/asteroid.dm
  code/modules/map_fluff/event.dm
Labels: MAP

#6355 add: HUD optical visors for donators
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/drask/eyes.dmi
  icons/mob/clothing/species/grey/eyes.dmi
  icons/mob/clothing/species/monkey/eyes.dmi
  icons/mob/clothing/species/vox/eyes.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#6377 bugfix: syndie drone wrong path
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
Labels: Has Approve

#6376 bugfix: coldcolony map fix
  _maps/map_files/event/Station/coldcolony.dmm
  code/game/area/ss13_areas.dm
  code/modules/map_fluff/event.dm
Labels: MAP

#6375 Tweak: Nova gas storage roof
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6352 imageadd: Cosmic Carp Resprite
  icons/mob/carp.dmi
  icons/obj/barsigns.dmi
  icons/obj/statuelarge.dmi
  icons/obj/toy.dmi
Labels: DMI

#6361 admin: Poll voting
  SQL/paradise_schema.sql
  SQL/updates/33-34.sql
  code/__DEFINES/misc.dm
  code/__DEFINES/polls.dm
  code/_globalvars/misc.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/non-firing/titlescreen.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/polls/player_poll.dm
  code/modules/admin/polls/poll_db.dm
  code/modules/admin/polls/poll_list_panel.dm
  code/modules/admin/polls/poll_management_panel.dm
  code/modules/admin/polls/poll_option.dm
  code/modules/admin/polls/poll_option_panel.dm
  code/modules/admin/polls/poll_question.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/new_player/new_player.dm
  config/example/dbconfig.txt
  paradise.dme
  tgui/packages/tgui/interfaces/PollListPanel.js
  tgui/packages/tgui/interfaces/PollManagement.js
  tgui/packages/tgui/interfaces/PollOptionPanel.js
  tgui/public/tgui.bundle.js
  tools/ci/dbconfig.txt
Labels: TGUI, javascript

#6366 Add: [bounty] Rework DNA Increaserun
  code/game/dna/genes/powers.dm
  code/modules/movespeed/modifiers/innate.dm
Labels: Has Approve

#6368 Delta Northwest maintenance remap 3: 21 iq
  _maps/map_files/Delta/delta.dmm
  code/game/objects/effects/decals/turfdecals/markings.dm
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
  icons/turf/decals.dmi
Labels: MAP, DMI

#6382 imageadd: Inhand detective hats and detective hats fixes.
  icons/mob/clothing/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: DMI

#6350 add: SCS-3 Cage, alert qol
  code/__DEFINES/alerts.dm
  code/__DEFINES/traits/sources.dm
  code/_onclick/hud/alert.dm
  code/datums/spells/ethereal_jaunt.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/implants/implant_freedom.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
  code/modules/antagonists/vampire/vampire_powers/goon_vampire_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/economy/robotic_quests/mech_types.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/misc/supress_effect.dmi
  icons/obj/mecha/mecha_cage.dmi
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI, перевод, testmerge, Testmerge candidate

#6393 bugfix: cell charger dismantle & component upgrade
  code/game/machinery/cell_charger.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/recharger.dm
  code/modules/research/designs/machine_designs.dm
  icons/obj/engines_and_power/power.dmi
Labels: DMI

#6394 bugfix: cane sprites
  code/game/objects/items/weapons/misc.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

#6397 admin: coldcolony update
  _maps/map_files/event/Station/coldcolony.dmm
  code/game/area/ss13_areas.dm
Labels: MAP

#6379 admin: VV atoms transform editor
  code/__HELPERS/matrices.dm
  code/datums/datumvars.dm
  code/game/atoms.dm
  code/modules/admin/verbs/transform_matrix_editor.dm
  paradise.dme
  tgui/packages/tgui/interfaces/MatrixMathTester.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6371 add: ghostface equipment [bounty]
  code/datums/uplink_item.dm
  code/game/objects/items/devices/voice.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/melee_lefthand.dmi
  icons/mob/inhands/melee_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items.dmi
Labels: DMI, Has Approve

#6412 qol: examine messages translation
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: перевод, Has Approve

#6409 qol: some localization fixes
  code/datums/multitool_menu.dm
  code/datums/spells/lightning.dm
  code/datums/weather/weather_types/solar_flare.dm
  code/game/gamemodes/miniantags/abduction/abductee_objectives.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/jobs/job_objective.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/customat.dm
  code/game/machinery/vending.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/statues.dm
  code/modules/admin/verbs/cantcomm_cargo.dm
  code/modules/admin/verbs/gimmick_team.dm
  code/modules/admin/verbs/honksquad.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/antagonists/blob/blob_overmind_datum.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/devil/devil_banish.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/awaymissions/mission_code/ruins/USSP_gorky17.dm
  code/modules/awaymissions/mission_code/ruins/spacebotany.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/events/ion_storm.dm
  code/modules/events/money_spam.dm
  code/modules/events/prison_break.dm
  code/modules/events/traders.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/mint.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon_hat.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  code/modules/mob/living/simple_animal/gondolas/gondolapod.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/response_team/ert.dm
  code/modules/surgery/tools.dm
  strings/ambition_objectives_command.json
  strings/ambition_objectives_engineering.json
  strings/ambition_objectives_generic.json
  strings/ambition_objectives_supply.json
  strings/sillytips.txt
  strings/tips.txt
Labels: перевод, Has Approve

#6385 admin: ERT manager panel update
  code/modules/admin/verbs/pray.dm
  code/modules/response_team/ert.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/tgui/modules/ert_manager.dm
  tgui/packages/tgui/interfaces/ERTManager.js
  tgui/public/tgui.bundle.js
Labels: TGUI, перевод, javascript, Has Approve

#6401 admin: some admin tweaks part 2
  code/__DEFINES/gamemode.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/machines.dm
  code/__DEFINES/span.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/__HELPERS/text.dm
  code/_globalvars/game_modes.dm
  code/_globalvars/traits.dm
  code/controllers/globals.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/datumvars.dm
  code/datums/emote/emote.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/outfits/outfit_debug.dm
  code/game/atoms.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/asays.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/forcemove.dm
  code/modules/buildmode/submodes/offer.dm
  code/modules/buildmode/submodes/say.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/events/immovable_rod.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/surgery/organs/augments_internal.dm
  icons/misc/buildmode.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/CommunicationsComputer.js
  tgui/public/tgui.bundle.js
Labels: DMI, TGUI, перевод, javascript, Has Approve

#6406 feat: PlasmaMate
  code/datums/supplypacks.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/plasmamen_lockbox.dm
  code/game/objects/items/weapons/vending_items.dm
  icons/obj/machines/vending.dmi
  icons/obj/vending_restock.dmi
  paradise.dme
Labels: DMI, Has Approve

#6405 admin: ghostchat contol
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/datums/components/deadchat_control.dm
  code/datums/datumvars.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/modules/client/client_procs.dm
  code/modules/events/immovable_rod.dm
  code/modules/mob/living/carbon/human/human_deadchat_control.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/power/singularity/singularity.dm
  paradise.dme
Labels: Has Approve

#6419 admin: some admin tweaks part 3
  code/__HELPERS/names.dm
  code/controllers/subsystem/mapping.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/bluespacearty.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/toggledebugverbs.dm
  code/modules/procedural_mapping/mapGeneratorModules/helpers.dm
  code/modules/procedural_mapping/mapGenerators/cult.dm
  paradise.dme
Labels: перевод

#6433 admin: coldcolony update2
  _maps/map_files/event/Station/coldcolony.dmm
  code/datums/weather/weather_types/snow_storm.dm
  code/game/area/ss13_areas.dm
Labels: MAP

#6452 admin: atom_say in vv
  code/datums/datumvars.dm
  code/game/atoms.dm
Labels: Has Approve

#6426 add: Ghosts can toggles their sight
  code/modules/mob/dead/observer/observer.dm
Labels: Has Approve

#6436 bugfix: fix text input extra encoding
  code/game/machinery/computer/communications.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/gimmick_team.dm
  code/modules/admin/verbs/honksquad.dm
  code/modules/admin/verbs/infiltratorteam_syndicate.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/ping_all_admins.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/tgui/modules/law_manager.dm
  tgui/packages/tgui/interfaces/CommunicationsComputer.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6457 spellcheck: item sizes
  code/game/objects/items.dm
Labels: перевод, Has Approve

#6463 bugfix: ghostface and autodrobe
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/suit.dmi
Labels: DMI

#6440 admin: Player Panel & PP Panel TGUI
  code/datums/keybindings/admin.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_options_panel.dm
  code/modules/admin/player_panel_veth.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/_ui_module_admin.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  paradise.dme
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
  tgui/packages/tgui/interfaces/VethPlayerPanel.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6427 admin: admins now can cancel events
  code/modules/events/event.dm
  code/modules/events/event_procs.dm
  code/modules/events/traders.dm
Labels: Has Approve

#6435 bugfix: tgui_input fix
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/styles/components/Stack.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6172 qol: medical equipment translation
  code/datums/components/defibrillator.dm
  code/datums/datacore.dm
  code/game/dna/dna_modifier.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/cryo.dm
  code/game/machinery/defib_mount.dm
  code/game/objects/items/devices/autopsy.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/sensor_device.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/structures/morgue.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/tgui/modules/crew_monitor.dm
  code/modules/tgui/plugins/login.dm
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/ChemHeater.js
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/interfaces/Cryo.js
  tgui/packages/tgui/interfaces/DNAModifier.js
  tgui/packages/tgui/interfaces/HandheldChemDispenser.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/OperatingComputer.js
  tgui/packages/tgui/interfaces/Sleeper.js
  tgui/packages/tgui/interfaces/Smartfridge.js
  tgui/packages/tgui/interfaces/common/BeakerContents.js
  tgui/packages/tgui/interfaces/common/ComplexModal.js
  tgui/packages/tgui/interfaces/common/LoginInfo.js
  tgui/packages/tgui/interfaces/common/LoginScreen.js
  tgui/public/tgui.bundle.js
Labels: DMI, TGUI, перевод, javascript, Has Approve

#6470 bugfix: PP для модеров, подправка окна и скрытие инфы
  code/modules/admin/player_options_panel.dm
  code/modules/tgui/states/admin_mod.dm
  paradise.dme
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
  tgui/packages/tgui/interfaces/VethPlayerPanel.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6451 admin: sound emitters
  code/modules/admin/sound_emitter.dm
  paradise.dme
Labels: Has Approve

#6473 admin: Обновление PP, время, фикс related by
  code/modules/admin/player_options_panel.dm
  code/modules/admin/topic.dm
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6445 qol: локализация интерфейса и ещё всякое
  code/__HELPERS/unsorted.dm
  code/game/verbs/webmap.dm
  code/modules/tgui/modules/volume_mixer.dm
  interface/interface.dm
  interface/skin.dmf
  strings/lobby_phrases.txt
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/VolumeMixer.js
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/interfaces/common/InterfaceLockNoticeBox.js
  tgui/public/tgui.bundle.js
Labels: TGUI, перевод, javascript, Has Approve

#6411 tweak: Nova Kitchen and Lavaland outpost zone
  _maps/map_files/nova/Lavaland.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6476 add: Голомапы
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/debug/multiz_test.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/holomaps.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/lists/holomaps.dm
  code/controllers/subsystem/holomap.dm
  code/game/area/areas.dm
  code/game/area/areas/depot-areas.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/syndicate_base.dm
  code/game/area/ss13_areas.dm
  code/game/machinery/firealarm.dm
  code/modules/holomaps/datum.dm
  code/modules/holomaps/hud.dm
  code/modules/holomaps/machinery.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/ruins/lavalandruin_code/necropolis_lavalend.dm
  code/modules/ruins/ruin_areas.dm
  icons/misc/480x480.dmi
  icons/misc/64x64.dmi
  icons/misc/8x8.dmi
  icons/obj/stationmap.dmi
  paradise.dme
  sound/effects/holomap_close.ogg
  sound/effects/holomap_open.ogg
Labels: MAP, DMI

#6453 admin: select equipment on ghosts
  code/modules/admin/verbs/debug.dm
Labels: Has Approve

#6438 admin: Advanced Spawn button
  code/__HELPERS/_lists.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/modifyvariables.dm
Labels: Has Approve

#6474 add: сатанинская одежда
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/uniforms.dmi
Labels: DMI, Has Approve

#6483 admin: coldcolony fix
  _maps/map_files/event/Station/coldcolony.dmm
Labels: MAP

#6484 add: Добавление map: иконки в чейнджлог
  .github/CONTRIBUTING.md
  tgui/packages/tgui/interfaces/Changelog.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6488 qol and refactor: микроправки кода и локализации
  code/game/machinery/vending.dm
  code/game/objects/structures/watercloset.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  interface/skin.dmf
  tgui/packages/tgui/interfaces/DNAModifier.js
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Labels: TGUI, перевод, javascript

#6485 spellcheck: перевод датчиков костюма + фиксы локализации
  code/datums/datacore.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Перевод, Has Approve

#6500 map: Заменил название зоны внешнего коридора спутника на Дельтах
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/event/Station/delta_old.dmm
Labels: MAP
