Repository ss220-space/Paradise, pull requests merged in 2025-04, with the labels that each got.

#6665 add: True-Observing port
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/client/client_procs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/paper.dm
  paradise.dme
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/public/tgui.bundle.js
Labels: DMI, TGUI, javascript

#6752 bugfix: Возможное решение проблемы с потерей фокуса в tgui say при смене языка на 516
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/public/tgui-say.bundle.js
Labels: TGUI, javascript

#6748 bugfix: Фикс Key Combo и Invectigate на 516
  code/modules/admin/admin_investigate.dm
  code/modules/tgui/tgui_input/keycombo_input.dm
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6656 map: поменял расположение стойки с тактической кувалдой
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP

#6753 bugfix: хотфикс Auto-Observe + дополнения
  code/__DEFINES/admin.dm
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/action.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_options_panel.dm
  code/modules/admin/player_panel_veth.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/antagonist_menu.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
  tgui/packages/tgui/interfaces/VethPlayerPanel.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6756 bugfix: Tgui say zoom
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/styles/window.scss
  tgui/packages/tgui/components/Input.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.css
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6774 bugfix: Фикс контекстов
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/interfaces/PlayingCard.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6711 tweak: Изменение механики работы зелья ускорения
  code/__DEFINES/obj_flags.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Has Approve

#6721 add: Монохуды и их крафт
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/crafting/tailoring.dm
  icons/mob/clothing/eyes.dmi
  icons/mob/clothing/species/drask/eyes.dmi
  icons/mob/clothing/species/monkey/eyes.dmi
  icons/mob/clothing/species/vox/eyes.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/glasses.dmi
Labels: DMI

#6759 tweak: Отключаем удаление всех записей сб
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6764 add: Плюшевый Чикабумчик
  code/game/objects/items/toys.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
  sound/items/wahwah.ogg
Labels: DMI, Has Approve

#6767 admin: Malta fix/recast
  _maps/map_files/coldcolony/Lavaland.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  code/game/area/ss13_areas.dm
  code/modules/map_fluff/event.dm
Labels: MAP

#6574 add: bomb satchel for emagged mining borg
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/mining.dmi
Labels: DMI

#6775 bugfix: Фикс html окон + Фикс модальных окон в тгуи
  code/datums/browser.dm
  tgui/packages/common/redux.ts
  tgui/packages/tgui/interfaces/common/ComplexModal.js
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/routes.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI, javascript

#6762 add: Костюм пингвина
  code/game/machinery/vending.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/kidan/mask.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/wryn/mask.dmi
  icons/mob/clothing/species/wryn/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: DMI

#6780 bugfix/tweak: Исправление недочетов byond 516 + возможность сохранять настройки панели в файл
  code/controllers/subsystem/non-firing/titlescreen.dm
  code/modules/tgui/tgui_panel/tgui_panel.dm
  html/statbrowser.css
  html/statbrowser.js
  tgui/package.json
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/reducer.ts
  tgui/packages/tgui-panel/chat/types.ts
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/SettingsPanel.tsx
  tgui/packages/tgui-panel/settings/SettingsStatPanel.tsx
  tgui/packages/tgui-panel/settings/TextHighlight.tsx
  tgui/packages/tgui-panel/settings/actions.js
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/settings/reducer.ts
  tgui/packages/tgui-panel/settings/settingsImExport.ts
  tgui/packages/tgui-panel/telemetry.js
  tgui/packages/tgui-panel/themes.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/LabeledList.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: TGUI, javascript

#6793 bugfix: Исправлена проблема со шрифтом в стат панели при выборе Default в настройках
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/public/tgui-panel.bundle.js
Labels: TGUI, javascript
